workflows/WF-01-main-orchestrator.json
{"updatedAt":"2026-06-03T09:29:25.045Z","createdAt":"2026-06-01T13:06:48.803Z","id":"gh9JaNlNppuJsMEK","name":"WF-01 Main Orchestrator","description":null,"active":true,"isArchived":false,"nodes":[{"id":"e86d5e4d-9a9f-444a-ba68-20bbaf409ca6","name":"Cron 5min","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,400],"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]}}},{"id":"28051758-f0f2-4441-ab96-56e996a06d8d","name":"Generate Cycle ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,400],"parameters":{"jsCode":"const rand = () => Math.floor(Math.random() * 0xFFFFFFFF).toString(16).padStart(8,\"0\");\nconst cycle_id = rand() + rand() + \"_\" + Date.now();\nreturn [{ json: { cycle_id, started_at: new Date().toISOString() } }];","mode":"runOnceForAllItems"}},{"id":"f9f24e63-2fb5-4757-930a-c879be5ff306","name":"Call Market Data","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[440,400],"parameters":{"workflowId":{"__rl":true,"value":"Q0KTCdzsiL4ZZ4jd","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}}},{"id":"d3951c24-9291-4d58-9495-e04bc4476264","name":"Merge Cycle ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,400],"parameters":{"jsCode":"const market = $input.first().json;\nconst cycleId = $(\"Generate Cycle ID\").first().json.cycle_id;\nreturn [{ json: { ...market, cycle_id: cycleId } }];","mode":"runOnceForAllItems"}},{"id":"dd414c25-7cf3-4cef-8991-3f1d7f64ccce","name":"POST Context Validate","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[880,400],"parameters":{"url":"http://127.0.0.1:8090/v1/context/validate","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $json.cycle_id }}"},{"name":"prices","value":"={{ $json.prices }}"},{"name":"news","value":"={{ $json.news }}"},{"name":"calendar","value":"={{ $json.calendar }}"},{"name":"positions","value":"={{ $json.positions }}"}]},"options":{}}},{"id":"dde329b9-1403-4bf2-8375-c4a2b85ed1fd","name":"Is Context Valid?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[880,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"e6b0bc07-00fa-4f20-803b-76692d3ef9d3","leftValue":"={{ $json.valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","rightType":"boolean"}}],"combinator":"and"},"options":{}}},{"id":"f2dc9961-10b7-4414-b840-cabe6dda1b21","name":"Log Skip","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,600],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];","mode":"runOnceForAllItems"}},{"id":"ca323c56-987f-45d1-a03c-83a35c86945f","name":"POST Analysis Pairs","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1100,400],"parameters":{"url":"http://127.0.0.1:8090/v1/analysis/pairs","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"prices","value":"={{ $('Merge Cycle ID').first().json.prices }}"}]},"options":{}}},{"id":"b87e796d-dc52-4674-bac3-fd0af4d60c0a","name":"Call LLM Agents","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1320,400],"parameters":{"workflowId":{"__rl":true,"value":"1rBvOPpAo3qwOKCR","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cycle_id":"={{ $('Merge Cycle ID').first().json.cycle_id }}","best_pair":"={{ $('POST Analysis Pairs').first().json.best_pair }}","technical":"={{ $('POST Analysis Pairs').first().json.technical }}","news":"={{ $('Merge Cycle ID').first().json.news }}","positions":"={{ $('Merge Cycle ID').first().json.positions }}"},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}}},{"id":"23bf5fbe-6b99-495e-9bfc-b6af927c592d","name":"POST Risk Evaluate","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1540,400],"parameters":{"url":"http://127.0.0.1:8090/v1/risk/evaluate","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"best_pair","value":"={{ $('POST Analysis Pairs').first().json.best_pair }}"},{"name":"price","value":"={{ $('POST Analysis Pairs').first().json.price }}"},{"name":"technical","value":"={{ $('POST Analysis Pairs').first().json.technical }}"},{"name":"llm_signals","value":"={{ $('Call LLM Agents').first().json.signals }}"},{"name":"positions","value":"={{ $('Merge Cycle ID').first().json.positions }}"}]},"options":{}}},{"id":"1edc57e6-5a2b-49b1-b1d8-10a57e2c64dd","name":"Has Action?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1760,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"2cb25367-42de-4639-9cd2-9ddfda20dc0f","leftValue":"={{ $json.action }}","rightValue":"skip","operator":{"type":"string","operation":"notEquals","rightType":"string"}}],"combinator":"and"},"options":{}}},{"id":"292c2141-8e30-4111-a322-7509d30128ab","name":"Log Skip Action","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,600],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];","mode":"runOnceForAllItems"}},{"id":"a7f818f8-3608-437d-96b6-673f59cfc776","name":"POST Order Prepare","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1980,400],"parameters":{"url":"http://127.0.0.1:8090/v1/order/prepare","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"symbol","value":"={{ $('POST Analysis Pairs').first().json.best_pair }}"},{"name":"type","value":"={{ ($('POST Risk Evaluate').first().json.action || '').toUpperCase() }}"},{"name":"entry","value":"={{ $('POST Risk Evaluate').first().json.entry }}"},{"name":"sl","value":"={{ $('POST Risk Evaluate').first().json.sl }}"},{"name":"tp","value":"={{ $('POST Risk Evaluate').first().json.tp }}"},{"name":"volume","value":"={{ $('POST Risk Evaluate').first().json.volume }}"}]},"options":{}}},{"id":"d7d4e50f-c9c0-44eb-b652-d19ea85b0fba","name":"Is Approved?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2200,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"6c645fd0-cb9b-4b08-97cd-820f1e9fd5d4","leftValue":"={{ $json.approved }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","rightType":"boolean"}}],"combinator":"and"},"options":{}}},{"id":"64643c75-69d2-4168-b0b6-9005858defed","name":"Log Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[2420,600],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Orden rechazada:\", r.rejection_reason);\nreturn [{ json: { rejected: true, reason: r.rejection_reason } }];","mode":"runOnceForAllItems"}},{"id":"83086e21-d1ca-4ea7-aa2f-a3476fe53cb8","name":"POST Order Execute","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2420,400],"parameters":{"url":"http://127.0.0.1:8090/v1/order/execute","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"}]},"options":{}}},{"id":"cae5062e-b6a1-4ad3-b493-6c1fef052da0","name":"POST Order Confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2640,400],"parameters":{"url":"http://127.0.0.1:8090/v1/order/confirm","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"mt5_order_id","value":"={{ $json.mt5_order_id }}"},{"name":"status","value":"={{ $json.status }}"},{"name":"fill_price","value":"={{ $json.fill_price || null }}"}]},"options":{}}},{"id":"b9f68704-ec8b-40ff-b221-f4a9cf9cf02c","name":"POST Audit Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2860,400],"parameters":{"url":"http://127.0.0.1:8090/v1/audit/log","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"event","value":"order_executed"},{"name":"data","value":"={{ {\"best_pair\": $('POST Analysis Pairs').first().json.best_pair, \"action\": $('POST Risk Evaluate').first().json.action, \"mt5_order_id\": $('POST Order Execute').first().json.mt5_order_id} }}"}]},"options":{}}},{"id":"36911e9c-77ec-4720-b2ec-c7234dfada48","name":"Format Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[3080,400],"parameters":{"jsCode":"const risk = $(\"POST Risk Evaluate\").first().json;\nconst exec = $(\"POST Order Execute\").first().json;\nconst pair = $(\"POST Analysis Pairs\").first().json;\nconst action = (risk.action || \"\").toUpperCase();\nconst emoji  = action === \"BUY\" ? \"🟢\" : \"🔴\";\nconst text = emoji + \" *ORDEN EJECUTADA*\\n\"\n  + \"──────────────\\n\"\n  + \"Par: `\" + pair.best_pair + \"`\\n\"\n  + \"Tipo: `\" + action + \"`\\n\"\n  + \"Entry: `\" + risk.entry + \"`\\n\"\n  + \"SL: `\" + risk.sl + \"`\\n\"\n  + \"TP: `\" + risk.tp + \"`\\n\"\n  + \"Vol: `\" + risk.volume + \"` lots\\n\"\n  + \"Conf: `\" + ((risk.confidence||0)*100).toFixed(0) + \"%`\\n\"\n  + \"Ticket: `\" + exec.mt5_order_id + \"`\";\nreturn [{ json: { text } }];","mode":"runOnceForAllItems"}},{"id":"e4547c98-0af4-477f-8801-373228756352","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3300,400],"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.text }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"S0L9JXxUjOuC66zv","name":"Telegram account"}},"webhookId":"25a656a6-2ee7-4f7c-af02-c8309cd16911"}],"connections":{"Cron 5min":{"main":[[{"node":"Generate Cycle ID","type":"main","index":0}]]},"Generate Cycle ID":{"main":[[{"node":"Call Market Data","type":"main","index":0}]]},"Call Market Data":{"main":[[{"node":"Merge Cycle ID","type":"main","index":0}]]},"Merge Cycle ID":{"main":[[{"node":"POST Context Validate","type":"main","index":0}]]},"POST Context Validate":{"main":[[{"node":"Is Context Valid?","type":"main","index":0}]]},"Is Context Valid?":{"main":[[{"node":"POST Analysis Pairs","type":"main","index":0}],[{"node":"Log Skip","type":"main","index":0}]]},"POST Analysis Pairs":{"main":[[{"node":"Call LLM Agents","type":"main","index":0}]]},"Call LLM Agents":{"main":[[{"node":"POST Risk Evaluate","type":"main","index":0}]]},"POST Risk Evaluate":{"main":[[{"node":"Has Action?","type":"main","index":0}]]},"Has Action?":{"main":[[{"node":"POST Order Prepare","type":"main","index":0}],[{"node":"Log Skip Action","type":"main","index":0}]]},"POST Order Prepare":{"main":[[{"node":"Is Approved?","type":"main","index":0}]]},"Is Approved?":{"main":[[{"node":"POST Order Execute","type":"main","index":0}],[{"node":"Log Rejection","type":"main","index":0}]]},"POST Order Execute":{"main":[[{"node":"POST Order Confirm","type":"main","index":0}]]},"POST Order Confirm":{"main":[[{"node":"POST Audit Log","type":"main","index":0}]]},"POST Audit Log":{"main":[[{"node":"Format Telegram","type":"main","index":0}]]},"Format Telegram":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"BPv6AwQFgkIja8XW"},"staticData":null,"meta":null,"pinData":null,"versionId":"458a5bb8-6379-4854-97ad-be7628d0ed32","activeVersionId":"458a5bb8-6379-4854-97ad-be7628d0ed32","versionCounter":54,"triggerCount":1,"shared":[{"updatedAt":"2026-06-01T13:06:48.809Z","createdAt":"2026-06-01T13:06:48.809Z","role":"workflow:owner","workflowId":"gh9JaNlNppuJsMEK","projectId":"KPFvGBpBmH2Cz9hD","project":{"updatedAt":"2026-03-29T12:09:47.740Z","createdAt":"2026-03-29T12:08:55.913Z","id":"KPFvGBpBmH2Cz9hD","name":"Felix Marin Ramirez <felixmurcia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-02T13:12:40.143Z","createdAt":"2026-06-02T13:12:40.143Z","versionId":"458a5bb8-6379-4854-97ad-be7628d0ed32","workflowId":"gh9JaNlNppuJsMEK","nodes":[{"id":"e86d5e4d-9a9f-444a-ba68-20bbaf409ca6","name":"Cron 5min","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,400],"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]}}},{"id":"28051758-f0f2-4441-ab96-56e996a06d8d","name":"Generate Cycle ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,400],"parameters":{"jsCode":"const rand = () => Math.floor(Math.random() * 0xFFFFFFFF).toString(16).padStart(8,\"0\");\nconst cycle_id = rand() + rand() + \"_\" + Date.now();\nreturn [{ json: { cycle_id, started_at: new Date().toISOString() } }];","mode":"runOnceForAllItems"}},{"id":"f9f24e63-2fb5-4757-930a-c879be5ff306","name":"Call Market Data","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[440,400],"parameters":{"workflowId":{"__rl":true,"value":"Q0KTCdzsiL4ZZ4jd","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}}},{"id":"d3951c24-9291-4d58-9495-e04bc4476264","name":"Merge Cycle ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,400],"parameters":{"jsCode":"const market = $input.first().json;\nconst cycleId = $(\"Generate Cycle ID\").first().json.cycle_id;\nreturn [{ json: { ...market, cycle_id: cycleId } }];","mode":"runOnceForAllItems"}},{"id":"dd414c25-7cf3-4cef-8991-3f1d7f64ccce","name":"POST Context Validate","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[880,400],"parameters":{"url":"http://127.0.0.1:8090/v1/context/validate","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $json.cycle_id }}"},{"name":"prices","value":"={{ $json.prices }}"},{"name":"news","value":"={{ $json.news }}"},{"name":"calendar","value":"={{ $json.calendar }}"},{"name":"positions","value":"={{ $json.positions }}"}]},"options":{}}},{"id":"dde329b9-1403-4bf2-8375-c4a2b85ed1fd","name":"Is Context Valid?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[880,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"e6b0bc07-00fa-4f20-803b-76692d3ef9d3","leftValue":"={{ $json.valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","rightType":"boolean"}}],"combinator":"and"},"options":{}}},{"id":"f2dc9961-10b7-4414-b840-cabe6dda1b21","name":"Log Skip","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,600],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];","mode":"runOnceForAllItems"}},{"id":"ca323c56-987f-45d1-a03c-83a35c86945f","name":"POST Analysis Pairs","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1100,400],"parameters":{"url":"http://127.0.0.1:8090/v1/analysis/pairs","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"prices","value":"={{ $('Merge Cycle ID').first().json.prices }}"}]},"options":{}}},{"id":"b87e796d-dc52-4674-bac3-fd0af4d60c0a","name":"Call LLM Agents","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1320,400],"parameters":{"workflowId":{"__rl":true,"value":"1rBvOPpAo3qwOKCR","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cycle_id":"={{ $('Merge Cycle ID').first().json.cycle_id }}","best_pair":"={{ $('POST Analysis Pairs').first().json.best_pair }}","technical":"={{ $('POST Analysis Pairs').first().json.technical }}","news":"={{ $('Merge Cycle ID').first().json.news }}","positions":"={{ $('Merge Cycle ID').first().json.positions }}"},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}}},{"id":"23bf5fbe-6b99-495e-9bfc-b6af927c592d","name":"POST Risk Evaluate","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1540,400],"parameters":{"url":"http://127.0.0.1:8090/v1/risk/evaluate","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"best_pair","value":"={{ $('POST Analysis Pairs').first().json.best_pair }}"},{"name":"price","value":"={{ $('POST Analysis Pairs').first().json.price }}"},{"name":"technical","value":"={{ $('POST Analysis Pairs').first().json.technical }}"},{"name":"llm_signals","value":"={{ $('Call LLM Agents').first().json.signals }}"},{"name":"positions","value":"={{ $('Merge Cycle ID').first().json.positions }}"}]},"options":{}}},{"id":"1edc57e6-5a2b-49b1-b1d8-10a57e2c64dd","name":"Has Action?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1760,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"2cb25367-42de-4639-9cd2-9ddfda20dc0f","leftValue":"={{ $json.action }}","rightValue":"skip","operator":{"type":"string","operation":"notEquals","rightType":"string"}}],"combinator":"and"},"options":{}}},{"id":"292c2141-8e30-4111-a322-7509d30128ab","name":"Log Skip Action","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,600],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];","mode":"runOnceForAllItems"}},{"id":"a7f818f8-3608-437d-96b6-673f59cfc776","name":"POST Order Prepare","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1980,400],"parameters":{"url":"http://127.0.0.1:8090/v1/order/prepare","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"symbol","value":"={{ $('POST Analysis Pairs').first().json.best_pair }}"},{"name":"type","value":"={{ ($('POST Risk Evaluate').first().json.action || '').toUpperCase() }}"},{"name":"entry","value":"={{ $('POST Risk Evaluate').first().json.entry }}"},{"name":"sl","value":"={{ $('POST Risk Evaluate').first().json.sl }}"},{"name":"tp","value":"={{ $('POST Risk Evaluate').first().json.tp }}"},{"name":"volume","value":"={{ $('POST Risk Evaluate').first().json.volume }}"}]},"options":{}}},{"id":"d7d4e50f-c9c0-44eb-b652-d19ea85b0fba","name":"Is Approved?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2200,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":3},"conditions":[{"id":"6c645fd0-cb9b-4b08-97cd-820f1e9fd5d4","leftValue":"={{ $json.approved }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","rightType":"boolean"}}],"combinator":"and"},"options":{}}},{"id":"64643c75-69d2-4168-b0b6-9005858defed","name":"Log Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[2420,600],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Orden rechazada:\", r.rejection_reason);\nreturn [{ json: { rejected: true, reason: r.rejection_reason } }];","mode":"runOnceForAllItems"}},{"id":"83086e21-d1ca-4ea7-aa2f-a3476fe53cb8","name":"POST Order Execute","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2420,400],"parameters":{"url":"http://127.0.0.1:8090/v1/order/execute","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"}]},"options":{}}},{"id":"cae5062e-b6a1-4ad3-b493-6c1fef052da0","name":"POST Order Confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2640,400],"parameters":{"url":"http://127.0.0.1:8090/v1/order/confirm","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"mt5_order_id","value":"={{ $json.mt5_order_id }}"},{"name":"status","value":"={{ $json.status }}"},{"name":"fill_price","value":"={{ $json.fill_price || null }}"}]},"options":{}}},{"id":"b9f68704-ec8b-40ff-b221-f4a9cf9cf02c","name":"POST Audit Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2860,400],"parameters":{"url":"http://127.0.0.1:8090/v1/audit/log","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $('Generate Cycle ID').first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"cycle_id","value":"={{ $('Merge Cycle ID').first().json.cycle_id }}"},{"name":"event","value":"order_executed"},{"name":"data","value":"={{ {\"best_pair\": $('POST Analysis Pairs').first().json.best_pair, \"action\": $('POST Risk Evaluate').first().json.action, \"mt5_order_id\": $('POST Order Execute').first().json.mt5_order_id} }}"}]},"options":{}}},{"id":"36911e9c-77ec-4720-b2ec-c7234dfada48","name":"Format Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[3080,400],"parameters":{"jsCode":"const risk = $(\"POST Risk Evaluate\").first().json;\nconst exec = $(\"POST Order Execute\").first().json;\nconst pair = $(\"POST Analysis Pairs\").first().json;\nconst action = (risk.action || \"\").toUpperCase();\nconst emoji  = action === \"BUY\" ? \"🟢\" : \"🔴\";\nconst text = emoji + \" *ORDEN EJECUTADA*\\n\"\n  + \"──────────────\\n\"\n  + \"Par: `\" + pair.best_pair + \"`\\n\"\n  + \"Tipo: `\" + action + \"`\\n\"\n  + \"Entry: `\" + risk.entry + \"`\\n\"\n  + \"SL: `\" + risk.sl + \"`\\n\"\n  + \"TP: `\" + risk.tp + \"`\\n\"\n  + \"Vol: `\" + risk.volume + \"` lots\\n\"\n  + \"Conf: `\" + ((risk.confidence||0)*100).toFixed(0) + \"%`\\n\"\n  + \"Ticket: `\" + exec.mt5_order_id + \"`\";\nreturn [{ json: { text } }];","mode":"runOnceForAllItems"}},{"id":"e4547c98-0af4-477f-8801-373228756352","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3300,400],"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.text }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"S0L9JXxUjOuC66zv","name":"Telegram account"}},"webhookId":"25a656a6-2ee7-4f7c-af02-c8309cd16911"}],"connections":{"Cron 5min":{"main":[[{"node":"Generate Cycle ID","type":"main","index":0}]]},"Generate Cycle ID":{"main":[[{"node":"Call Market Data","type":"main","index":0}]]},"Call Market Data":{"main":[[{"node":"Merge Cycle ID","type":"main","index":0}]]},"Merge Cycle ID":{"main":[[{"node":"POST Context Validate","type":"main","index":0}]]},"POST Context Validate":{"main":[[{"node":"Is Context Valid?","type":"main","index":0}]]},"Is Context Valid?":{"main":[[{"node":"POST Analysis Pairs","type":"main","index":0}],[{"node":"Log Skip","type":"main","index":0}]]},"POST Analysis Pairs":{"main":[[{"node":"Call LLM Agents","type":"main","index":0}]]},"Call LLM Agents":{"main":[[{"node":"POST Risk Evaluate","type":"main","index":0}]]},"POST Risk Evaluate":{"main":[[{"node":"Has Action?","type":"main","index":0}]]},"Has Action?":{"main":[[{"node":"POST Order Prepare","type":"main","index":0}],[{"node":"Log Skip Action","type":"main","index":0}]]},"POST Order Prepare":{"main":[[{"node":"Is Approved?","type":"main","index":0}]]},"Is Approved?":{"main":[[{"node":"POST Order Execute","type":"main","index":0}],[{"node":"Log Rejection","type":"main","index":0}]]},"POST Order Execute":{"main":[[{"node":"POST Order Confirm","type":"main","index":0}]]},"POST Order Confirm":{"main":[[{"node":"POST Audit Log","type":"main","index":0}]]},"POST Audit Log":{"main":[[{"node":"Format Telegram","type":"main","index":0}]]},"Format Telegram":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"authors":"Felix Marin Ramirez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T13:12:40.266Z","id":387,"workflowId":"gh9JaNlNppuJsMEK","versionId":"458a5bb8-6379-4854-97ad-be7628d0ed32","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-03T09:29:25.134Z","id":398,"workflowId":"gh9JaNlNppuJsMEK","versionId":"458a5bb8-6379-4854-97ad-be7628d0ed32","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-02T13:12:40.205Z","id":386,"workflowId":"gh9JaNlNppuJsMEK","versionId":"458a5bb8-6379-4854-97ad-be7628d0ed32","event":"deactivated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-03T09:29:25.093Z","id":397,"workflowId":"gh9JaNlNppuJsMEK","versionId":"458a5bb8-6379-4854-97ad-be7628d0ed32","event":"deactivated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}]}}