workflows/WF-07-order-cleanup.json
{"updatedAt":"2026-06-01T15:14:13.199Z","createdAt":"2026-06-01T13:06:48.690Z","id":"4P0R0G77lPohebxA","name":"WF-07 Order Cleanup","description":null,"active":true,"isArchived":false,"nodes":[{"id":"81095b9c-8a3e-4434-8534-bfa2f3fd0682","name":"Cron Every Hour","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,400],"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":60,"unit":"minutes"}]}}},{"id":"274a51cf-13d1-4195-be1b-944ee656c42e","name":"POST Cleanup","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[220,400],"parameters":{"url":"http://127.0.0.1:8090/v1/orders/cleanup","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"max_age_hours","value":"48"}]},"options":{}}},{"id":"0ba96887-eb0b-4b97-8fad-93c690e25271","name":"Log Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,400],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Cleanup:\", (r.cancelled||[]).length, \"canceladas,\", (r.errors||[]).length, \"errores\");\nreturn [{ json: r }];","mode":"runOnceForAllItems"}}],"connections":{"Cron Every Hour":{"main":[[{"node":"POST Cleanup","type":"main","index":0}]]},"POST Cleanup":{"main":[[{"node":"Log Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"765f0f34-267d-49a8-a3c9-eb161e050a29","activeVersionId":"765f0f34-267d-49a8-a3c9-eb161e050a29","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-06-01T13:06:48.692Z","createdAt":"2026-06-01T13:06:48.692Z","role":"workflow:owner","workflowId":"4P0R0G77lPohebxA","projectId":"KPFvGBpBmH2Cz9hD","project":{"updatedAt":"2026-03-29T12:09:47.740Z","createdAt":"2026-03-29T12:08:55.913Z","id":"KPFvGBpBmH2Cz9hD","name":"Felix Marin Ramirez <felixmurcia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-01T15:14:13.200Z","createdAt":"2026-06-01T15:14:13.200Z","versionId":"765f0f34-267d-49a8-a3c9-eb161e050a29","workflowId":"4P0R0G77lPohebxA","nodes":[{"id":"81095b9c-8a3e-4434-8534-bfa2f3fd0682","name":"Cron Every Hour","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,400],"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":60,"unit":"minutes"}]}}},{"id":"274a51cf-13d1-4195-be1b-944ee656c42e","name":"POST Cleanup","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[220,400],"parameters":{"url":"http://127.0.0.1:8090/v1/orders/cleanup","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"max_age_hours","value":"48"}]},"options":{}}},{"id":"0ba96887-eb0b-4b97-8fad-93c690e25271","name":"Log Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,400],"parameters":{"jsCode":"const r = $input.first().json;\nconsole.log(\"Cleanup:\", (r.cancelled||[]).length, \"canceladas,\", (r.errors||[]).length, \"errores\");\nreturn [{ json: r }];","mode":"runOnceForAllItems"}}],"connections":{"Cron Every Hour":{"main":[[{"node":"POST Cleanup","type":"main","index":0}]]},"POST Cleanup":{"main":[[{"node":"Log Result","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Felix Marin Ramirez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T13:12:59.644Z","id":394,"workflowId":"4P0R0G77lPohebxA","versionId":"765f0f34-267d-49a8-a3c9-eb161e050a29","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}]}}