workflows/WF-05-agent-fundamental.json
{
  "updatedAt": "2026-06-03T09:29:25.477Z",
  "createdAt": "2026-06-01T13:06:48.536Z",
  "id": "WWH62Wuwn5H9gKvi",
  "name": "WF-05 Agent Fundamental",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "e8f0f190-1107-4f85-b7a2-e8fb0cac4c1d",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "147e8a64-ca51-4d6d-bed3-c94817ae1411",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "parameters": {
        "jsCode": "const ctx  = $input.first().json;\nconst best = ctx.best_pair || \"EURUSD\";\nconst base  = best.slice(0, 3);\nconst quote = best.slice(3, 6);\n\nconst news = (ctx.news || []).slice(0, 5)\n  .map(n => `- [${(n.impact || 'low').toUpperCase()}] ${n.headline || ''}`)\n  .join('\\n');\nconst events = (ctx.calendar || []).slice(0, 5)\n  .map(e => `- ${e.event || ''} (${e.currency || ''}, ${e.impact || ''}, forecast: ${e.forecast || 'n/a'})`)\n  .join('\\n');\n\nconst prompt = `You are a fundamental analysis expert for forex trading.\nAnalyze the macro environment and news for ${best} (${base} vs ${quote}).\n\nRecent news:\n${news || '- No recent news'}\n\nUpcoming economic events:\n${events || '- No upcoming events'}\n\nRules:\n- Positive surprise / hawkish tone for ${base} → buy ${best}.\n- Negative surprise / dovish tone for ${base} → sell ${best}.\n- High-impact events still pending (no actual value) → lower confidence.\n- Risk-off environment (geopolitical risk, fear) → JPY/CHF/USD bid.\n\nYou MUST provide a directional view. Use \"neutral\" only when genuinely no edge exists.\n\nRespond with ONLY this JSON (no markdown, no explanation):\n{\"signal\":\"buy|sell|neutral\",\"confidence\":0.0-1.0,\"reason\":\"one sentence\"}`;\n\nreturn [{ json: { ...ctx, prompt } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "2e02b492-5c4b-474c-86d5-74b4ca85ca89",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        440,
        400
      ],
      "parameters": {
        "url": "http://127.0.0.1:8090/v1/llm/signal",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $input.first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent",
              "value": "fundamental"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "BPv6AwQFgkIja8XW"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "f3fbf128-58b6-415e-9ed7-b78138a61be2",
  "activeVersionId": "f3fbf128-58b6-415e-9ed7-b78138a61be2",
  "versionCounter": 49,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-01T13:06:48.539Z",
      "createdAt": "2026-06-01T13:06:48.539Z",
      "role": "workflow:owner",
      "workflowId": "WWH62Wuwn5H9gKvi",
      "projectId": "KPFvGBpBmH2Cz9hD",
      "project": {
        "updatedAt": "2026-03-29T12:09:47.740Z",
        "createdAt": "2026-03-29T12:08:55.913Z",
        "id": "KPFvGBpBmH2Cz9hD",
        "name": "Felix Marin Ramirez <felixmurcia@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-02T13:12:40.451Z",
    "createdAt": "2026-06-02T13:12:40.451Z",
    "versionId": "f3fbf128-58b6-415e-9ed7-b78138a61be2",
    "workflowId": "WWH62Wuwn5H9gKvi",
    "nodes": [
      {
        "id": "e8f0f190-1107-4f85-b7a2-e8fb0cac4c1d",
        "name": "Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          400
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "147e8a64-ca51-4d6d-bed3-c94817ae1411",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          400
        ],
        "parameters": {
          "jsCode": "const ctx  = $input.first().json;\nconst best = ctx.best_pair || \"EURUSD\";\nconst base  = best.slice(0, 3);\nconst quote = best.slice(3, 6);\n\nconst news = (ctx.news || []).slice(0, 5)\n  .map(n => `- [${(n.impact || 'low').toUpperCase()}] ${n.headline || ''}`)\n  .join('\\n');\nconst events = (ctx.calendar || []).slice(0, 5)\n  .map(e => `- ${e.event || ''} (${e.currency || ''}, ${e.impact || ''}, forecast: ${e.forecast || 'n/a'})`)\n  .join('\\n');\n\nconst prompt = `You are a fundamental analysis expert for forex trading.\nAnalyze the macro environment and news for ${best} (${base} vs ${quote}).\n\nRecent news:\n${news || '- No recent news'}\n\nUpcoming economic events:\n${events || '- No upcoming events'}\n\nRules:\n- Positive surprise / hawkish tone for ${base} → buy ${best}.\n- Negative surprise / dovish tone for ${base} → sell ${best}.\n- High-impact events still pending (no actual value) → lower confidence.\n- Risk-off environment (geopolitical risk, fear) → JPY/CHF/USD bid.\n\nYou MUST provide a directional view. Use \"neutral\" only when genuinely no edge exists.\n\nRespond with ONLY this JSON (no markdown, no explanation):\n{\"signal\":\"buy|sell|neutral\",\"confidence\":0.0-1.0,\"reason\":\"one sentence\"}`;\n\nreturn [{ json: { ...ctx, prompt } }];\n",
          "mode": "runOnceForAllItems"
        }
      },
      {
        "id": "2e02b492-5c4b-474c-86d5-74b4ca85ca89",
        "name": "Call LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          440,
          400
        ],
        "parameters": {
          "url": "http://127.0.0.1:8090/v1/llm/signal",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Internal-Token",
                "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
              },
              {
                "name": "X-Cycle-ID",
                "value": "={{ $input.first().json.cycle_id }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "agent",
                "value": "fundamental"
              },
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Call LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Felix Marin Ramirez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-02T13:12:40.543Z",
        "id": 391,
        "workflowId": "WWH62Wuwn5H9gKvi",
        "versionId": "f3fbf128-58b6-415e-9ed7-b78138a61be2",
        "event": "activated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      },
      {
        "createdAt": "2026-06-03T09:29:25.548Z",
        "id": 404,
        "workflowId": "WWH62Wuwn5H9gKvi",
        "versionId": "f3fbf128-58b6-415e-9ed7-b78138a61be2",
        "event": "activated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      },
      {
        "createdAt": "2026-06-02T13:12:40.497Z",
        "id": 390,
        "workflowId": "WWH62Wuwn5H9gKvi",
        "versionId": "f3fbf128-58b6-415e-9ed7-b78138a61be2",
        "event": "deactivated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      },
      {
        "createdAt": "2026-06-03T09:29:25.513Z",
        "id": 403,
        "workflowId": "WWH62Wuwn5H9gKvi",
        "versionId": "f3fbf128-58b6-415e-9ed7-b78138a61be2",
        "event": "deactivated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      }
    ]
  }
}