workflows/WF-01-main-orchestrator.json
{
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "b40a00a3-a7df-4b8d-a08b-3d3a5477077c",
      "name": "Cron 5min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        8992,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "const rand = () => Math.floor(Math.random() * 0xFFFFFFFF).toString(16).padStart(8,\"0\");\nconst cycle_id = rand() + rand() + \"_\" + Date.now();\nreturn [{ json: { cycle_id, started_at: new Date().toISOString() } }];"
      },
      "id": "52e2e0b0-b03a-4b9c-bc58-ca94e68150d8",
      "name": "Generate Cycle ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9248,
        1728
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Q0KTCdzsiL4ZZ4jd",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "f84e7fe8-d811-4161-b4af-2da19a966599",
      "name": "Call Market Data",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        9472,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "const market = $input.first().json;\nconst cycleId = $(\"Generate Cycle ID\").first().json.cycle_id;\n\n// Filtrar solo noticias/eventos CON currency\nconst news = (market.news || []).filter(n => n.currency && n.currency.trim());\nconst calendar = (market.calendar || []).filter(c => c.currency && c.currency.trim());\n\nreturn [{\n  json: {\n    ...market,\n    cycle_id: cycleId,\n    blockTrade: market.blockTrade || false,\n    reason: market.reason || 'OK',\n    news,\n    calendar\n  }\n}];\n"
      },
      "id": "4c3aeb1d-df2c-44a7-9169-b6cb452b51d8",
      "name": "Merge Cycle ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9904,
        1728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/context/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $json.cycle_id }}"
            },
            {
              "name": "prices",
              "value": "={{ $json.prices }}"
            },
            {
              "name": "news",
              "value": "={{ $json.news }}"
            },
            {
              "name": "calendar",
              "value": "={{ $json.calendar }}"
            },
            {
              "name": "positions",
              "value": "={{ $json.positions }}"
            },
            {
              "name": "blockTrade",
              "value": "={{ $json.blockTrade }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad223ee8-9ffa-4f61-b5d5-f04f57641ecb",
      "name": "POST Context Validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10160,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6b0bc07-00fa-4f20-803b-76692d3ef9d3",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5bb7438b-3b6e-4921-9a09-ddb8c9d6c90e",
      "name": "Is Context Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10432,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];"
      },
      "id": "1dfc7c79-f2b6-4c87-bc1b-10343ab4ea22",
      "name": "Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10720,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/analysis/pairs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "prices",
              "value": "={{ $('Merge Cycle ID').first().json.prices }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d79e4ae0-d3c0-4ef1-a039-8e5fcc14ea35",
      "name": "POST Analysis Pairs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10720,
        1728
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1rBvOPpAo3qwOKCR",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $('Merge Cycle ID').first().json.cycle_id }}",
            "best_pair": "={{ $('POST Analysis Pairs').first().json.best_pair }}",
            "technical": "={{ $('POST Analysis Pairs').first().json.technical }}",
            "news": "={{ $('POST Prepare LLM Context').first().json.news }}",
            "calendar": "={{ $('POST Prepare LLM Context').first().json.calendar }}",
            "positions": "={{ $('Merge Cycle ID').first().json.positions }}",
            "pair_context": "={{ $('POST Prepare LLM Context').first().json.pair_context }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ba5b7ed8-2eec-4469-8f55-c6a21e83bd7a",
      "name": "Call LLM Agents",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        11344,
        1728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/risk/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "best_pair",
              "value": "={{ $('POST Analysis Pairs').first().json.best_pair }}"
            },
            {
              "name": "price",
              "value": "={{ $('POST Analysis Pairs').first().json.price }}"
            },
            {
              "name": "technical",
              "value": "={{ $('POST Analysis Pairs').first().json.technical }}"
            },
            {
              "name": "llm_signals",
              "value": "={{ ($('Call LLM Agents').first().json.signals || []) }}"
            },
            {
              "name": "positions",
              "value": "={{ $('Merge Cycle ID').first().json.positions }}"
            }
          ]
        },
        "options": {}
      },
      "id": "877f1456-cb0e-421a-bc53-8b2f2e5e7360",
      "name": "POST Risk Evaluate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11568,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2cb25367-42de-4639-9cd2-9ddfda20dc0f",
              "leftValue": "={{ $json.action }}",
              "rightValue": "skip",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "rightType": "string"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c5a24c1-d5d9-4354-8113-855dbc1e95fa",
      "name": "Has Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        11776,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];"
      },
      "id": "9d7160f2-097f-48f6-9e7b-b1342c73f312",
      "name": "Log Skip Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12000,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/order/prepare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "symbol",
              "value": "={{ $('POST Analysis Pairs').first().json.best_pair }}"
            },
            {
              "name": "type",
              "value": "={{ ($('POST Risk Evaluate').first().json.action || '').toUpperCase() }}"
            },
            {
              "name": "entry",
              "value": "={{ $('POST Risk Evaluate').first().json.entry }}"
            },
            {
              "name": "sl",
              "value": "={{ $('POST Risk Evaluate').first().json.sl }}"
            },
            {
              "name": "tp",
              "value": "={{ $('POST Risk Evaluate').first().json.tp }}"
            },
            {
              "name": "volume",
              "value": "={{ $('POST Risk Evaluate').first().json.volume }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aa6c6257-92ed-490f-90b9-605cb02cfcd1",
      "name": "POST Order Prepare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12000,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c645fd0-cb9b-4b08-97cd-820f1e9fd5d4",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69cba10c-c74e-49ba-b93a-db2f0541ed0c",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        12224,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Orden rechazada:\", r.rejection_reason);\nreturn [{ json: { rejected: true, reason: r.rejection_reason } }];"
      },
      "id": "196e874f-9efb-41e4-9af0-7703b7a426d6",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12448,
        1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/order/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4ff79e38-f5bb-47b7-9a95-52f52261f00c",
      "name": "POST Order Execute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12448,
        1728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/order/confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "mt5_order_id",
              "value": "={{ $json.mt5_order_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "fill_price",
              "value": "={{ $json.fill_price || null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62e06969-b0db-4701-a90d-4eae9fe37a48",
      "name": "POST Order Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12656,
        1728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/audit/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "event",
              "value": "order_executed"
            },
            {
              "name": "data",
              "value": "={{ {\"best_pair\": $('POST Analysis Pairs').first().json.best_pair, \"action\": $('POST Risk Evaluate').first().json.action, \"mt5_order_id\": $('POST Order Execute').first().json.mt5_order_id} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8ad03668-e2a9-449b-ab0e-c501bdf143d5",
      "name": "POST Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12880,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "const risk = $(\"POST Risk Evaluate\").first().json;\nconst exec = $(\"POST Order Execute\").first().json;\nconst pair = $(\"POST Analysis Pairs\").first().json;\nconst action = (risk.action || \"\").toUpperCase();\nconst emoji  = action === \"BUY\" ? \"🟢\" : \"🔴\";\nconst text = emoji + \" *ORDEN EJECUTADA*\\n\"\n  + \"──────────────\\n\"\n  + \"Par: `\" + pair.best_pair + \"`\\n\"\n  + \"Tipo: `\" + action + \"`\\n\"\n  + \"Entry: `\" + risk.entry + \"`\\n\"\n  + \"SL: `\" + risk.sl + \"`\\n\"\n  + \"TP: `\" + risk.tp + \"`\\n\"\n  + \"Vol: `\" + risk.volume + \"` lots\\n\"\n  + \"Conf: `\" + ((risk.confidence||0)*100).toFixed(0) + \"%`\\n\"\n  + \"Ticket: `\" + exec.mt5_order_id + \"`\";\nreturn [{ json: { text } }];"
      },
      "id": "573912b2-97bf-40f3-83e9-f7583c50bae1",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13104,
        1728
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "8d35c4dc-f083-4fbd-a009-5bd471dbfb86",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        13328,
        1728
      ],
      "webhookId": "25a656a6-2ee7-4f7c-af02-c8309cd16911",
      "credentials": {
        "telegramApi": {
          "id": "S0L9JXxUjOuC66zv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst news = data.news || [];\nconst now = new Date();\n\nconst relevantHighImpact = news.filter(n => {\n  if (n.impact !== 'high') return false;\n  \n  const y = parseInt(n.timestamp.substring(0, 4));\n  const m = parseInt(n.timestamp.substring(4, 6)) - 1;\n  const d = parseInt(n.timestamp.substring(6, 8));\n  const newsDate = new Date(y, m, d);\n  \n  return newsDate.toDateString() === now.toDateString();\n});\n\nreturn [{\n  json: {\n    ...data,\n    blockTrade: relevantHighImpact.length > 0,\n    reason: relevantHighImpact.length > 0 ? 'High impact news today' : 'OK'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9680,
        1728
      ],
      "id": "4241ea8b-22d7-492b-9540-60015772c2b6",
      "name": "Check High Impact News"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/llm/prepare-context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "prices",
              "value": "={{ $('Merge Cycle ID').first().json.prices }}"
            },
            {
              "name": "news",
              "value": "={{ $('Merge Cycle ID').first().json.news }}"
            },
            {
              "name": "calendar",
              "value": "={{ $('Merge Cycle ID').first().json.calendar }}"
            },
            {
              "name": "positions",
              "value": "={{ $('Merge Cycle ID').first().json.positions }}"
            },
            {
              "name": "pair_analysis",
              "value": "={{ $('POST Analysis Pairs').first().json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6c5251bd-901c-41ac-bcc3-a1ac256e679c",
      "name": "POST Prepare LLM Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10976,
        1728
      ]
    }
  ],
  "connections": {
    "Cron 5min": {
      "main": [
        [
          {
            "node": "Generate Cycle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cycle ID": {
      "main": [
        [
          {
            "node": "Call Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Market Data": {
      "main": [
        [
          {
            "node": "Check High Impact News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Cycle ID": {
      "main": [
        [
          {
            "node": "POST Context Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Context Validate": {
      "main": [
        [
          {
            "node": "Is Context Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Context Valid?": {
      "main": [
        [
          {
            "node": "POST Analysis Pairs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Analysis Pairs": {
      "main": [
        [
          {
            "node": "POST Prepare LLM Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM Agents": {
      "main": [
        [
          {
            "node": "POST Risk Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Risk Evaluate": {
      "main": [
        [
          {
            "node": "Has Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Action?": {
      "main": [
        [
          {
            "node": "POST Order Prepare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Order Prepare": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "POST Order Execute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Order Execute": {
      "main": [
        [
          {
            "node": "POST Order Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Order Confirm": {
      "main": [
        [
          {
            "node": "POST Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Audit Log": {
      "main": [
        [
          {
            "node": "Format Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Impact News": {
      "main": [
        [
          {
            "node": "Merge Cycle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Prepare LLM Context": {
      "main": [
        [
          {
            "node": "Call LLM Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}