workflows/WF-02-market-data.json
{"updatedAt":"2026-06-02T09:44:15.074Z","createdAt":"2026-06-01T13:06:48.640Z","id":"Q0KTCdzsiL4ZZ4jd","name":"WF-02 Market Data","description":null,"active":true,"isArchived":false,"nodes":[{"id":"3da41cfc-6281-4419-a70a-cd8be2ac6cd9","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,400],"parameters":{"inputSource":"passthrough"}},{"id":"183f1098-c95a-48e7-b1d5-9ba7fde903f1","name":"GET Prices","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[220,400],"parameters":{"url":"http://127.0.0.1:8090/v1/market/prices","method":"GET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"options":{}}},{"id":"040f6538-23d5-4a86-a83b-e055e5967ba1","name":"GET Positions","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[440,400],"parameters":{"url":"http://127.0.0.1:8090/v1/market/positions","method":"GET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"options":{}}},{"id":"8348baf6-0153-4b1a-9591-f824af5a9701","name":"GET News","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[660,400],"parameters":{"url":"https://r.jina.ai/https://www.forexlive.com/feed/news","method":"GET","options":{}}},{"id":"0946332a-e515-43fe-a158-49b075219bdb","name":"GET Calendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[880,400],"parameters":{"url":"https://r.jina.ai/https://www.forexfactory.com/calendar","method":"GET","options":{}}},{"id":"1acaa6e1-d542-4e56-80a7-2fb6e5cb1a0a","name":"Parse News","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,400],"parameters":{"jsCode":"const input = $input.first().json;\nconst rawContent = input[0]?.data || input.data || \"\";\nconst CURRENCIES = [\"EUR\",\"USD\",\"GBP\",\"JPY\",\"CHF\",\"AUD\",\"NZD\",\"CAD\"];\nconst sourceUrl = 'https://www.forexlive.com/feed/news';\n\n// Dividir por URLs (que empiezan con [https)\nconst urlPattern = /\\[https:\\/\\/investinglive\\.com\\/news\\/([^\\]]+)\\]/g;\nconst matches = [];\nlet match;\nwhile ((match = urlPattern.exec(rawContent)) !== null) {\n  matches.push(match[1]);\n}\n\nconst news = [];\nfor (const urlSlug of matches.slice(0, 10)) {\n  // Reconstruir headline de la URL (reemplazar guiones por espacios, capitalizar)\n  const headline = urlSlug\n    .split('-')\n    .slice(0, -1)  // remover timestamp\n    .join(' ')\n    .slice(0, 140);\n  \n  if (!headline || headline.length < 10) continue;\n  \n  // Buscar moneda en todo el contenido\n  const currency = CURRENCIES.find(c => rawContent.toUpperCase().includes(c)) || \"\";\n  \n  // Detectar impact\n  const impact = rawContent.toLowerCase().includes(\"high\") ? \"high\" : \n                 rawContent.toLowerCase().includes(\"medium\") ? \"medium\" : \"low\";\n  \n  news.push({\n    headline: headline.trim(),\n    impact,\n    currency,\n    source_url: sourceUrl,\n    content: headline\n  });\n}\n\nreturn [{ json: { news } }];","mode":"runOnceForAllItems"}},{"id":"4ae69ca1-e96f-49c9-b75a-0fcc0e50b16a","name":"Parse Calendar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,400],"parameters":{"jsCode":"const input = $input.first().json;\nconst rawContent = input[0]?.data || input.data || \"\";\nconst CURRENCIES = [\"EUR\",\"USD\",\"GBP\",\"JPY\",\"CHF\",\"AUD\",\"NZD\",\"CAD\",\"CNY\"];\nconst sourceUrl = 'https://www.forexfactory.com/calendar';\n\nconst lines = rawContent.split('\\n');\nlet currentDate = '';\nconst calendar = [];\n\nfor (const line of lines) {\n  if (!line.includes('|')) continue;\n  const cells = line.split('|').map(c => c.trim());\n  if (cells.length < 3 || line.includes('---')) continue;\n\n  const firstCell = cells[0] || '';\n\n  // Skip headers\n  if (firstCell === 'Date' || firstCell === '[5:00am]') continue;\n\n  // Detect date rows\n  if (firstCell.match(/^(Sun|Mon|Tue|Wed|Thu|Fri|Sat|Tentative)\\s/) && cells.length <= 2) {\n    currentDate = firstCell;\n    continue;\n  }\n\n  if (firstCell.match(/^(Sun|Mon|Tue|Wed|Thu|Fri|Sat|Tentative)\\s/)) {\n    currentDate = firstCell;\n  }\n\n  // Find currency\n  let currencyIdx = -1;\n  for (let i = 0; i < Math.min(4, cells.length); i++) {\n    if (CURRENCIES.some(c => cells[i].includes(c))) {\n      currencyIdx = i;\n      break;\n    }\n  }\n\n  if (currencyIdx === -1) continue;\n\n  let time = currencyIdx > 0 ? cells[currencyIdx - 1] : '';\n  let currency = CURRENCIES.find(c => cells[currencyIdx].includes(c)) || '';\n  if (!currency) continue;\n\n  let eventName = '';\n  for (let i = currencyIdx + 1; i < cells.length; i++) {\n    let cell = cells[i] || '';\n    cell = cell.replace(/!\\[Image \\d+\\][^\\]]*\\]/g, '');\n    cell = cell.replace(/\\[!\\[Image \\d+\\][^\\]]*\\]\\([^)]*\\)/g, '');\n    cell = cell.trim();\n\n    if (!cell || cell.length < 3) continue;\n    if (cell.match(/^[0-9%.KMBD|-]+$/)) continue;\n    if (cell.includes('Detail') || cell.includes('Graph') || cell.includes('Alerts')) continue;\n    if (cell.startsWith('http')) continue;\n\n    eventName = cell.slice(0, 100);\n    break;\n  }\n\n  if (!eventName) continue;\n\n  const impact = line.includes('ff-impact-red') ? 'high' :\n                 line.includes('ff-impact-ora') ? 'high' :\n                 line.includes('ff-impact-yel') ? 'medium' : 'low';\n\n  const numValues = [];\n  for (let i = currencyIdx + 1; i < cells.length; i++) {\n    const cell = cells[i];\n    if (cell && cell.match(/^[+-]?[\\d.]+%?[KMBD]?(\\|[\\d.]+)?$/)) {\n      numValues.push(cell);\n    }\n  }\n\n  let actual = '', forecast = '', previous = '';\n  if (numValues.length >= 3) {\n    actual = numValues[numValues.length - 3];\n    forecast = numValues[numValues.length - 2];\n    previous = numValues[numValues.length - 1];\n  } else if (numValues.length === 2) {\n    forecast = numValues[0];\n    previous = numValues[1];\n  } else if (numValues.length === 1) {\n    forecast = numValues[0];\n  }\n\n  calendar.push({\n    event: eventName,\n    currency,\n    impact,\n    time,\n    date: currentDate,\n    utc_offset: '',\n    forecast,\n    actual,\n    previous,\n    source_url: sourceUrl\n  });\n\n  if (calendar.length >= 15) break;\n}\n\nreturn [{ json: { calendar } }];","mode":"runOnceForAllItems"}},{"id":"90b35f45-99be-44f1-a01a-cd2d42458e02","name":"Merge All","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,400],"parameters":{"jsCode":"// Triggered by Merge News+Cal (after News+Calendar branches complete).\n// GET Prices and GET Positions completed earlier (faster FastAPI calls).\nconst prices    = $('GET Prices').first().json;\nconst posData   = $('GET Positions').first().json;\nconst positions = (posData.open || []).concat(posData.pending || []);\nconst newsItems = $input.all()\n  .filter(i => i.json.news)\n  .map(i => i.json.news)\n  .flat();\nconst calItems  = $input.all()\n  .filter(i => i.json.calendar)\n  .map(i => i.json.calendar)\n  .flat();\nreturn [{ json: { prices, positions, news: newsItems, calendar: calItems } }];","mode":"runOnceForAllItems"}},{"id":"54221868-0000-0000-0000-000000000000","name":"Merge News+Cal","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1540,400],"parameters":{"mode":"append","options":{}}},{"id":"7f8c92aa-1234-5678-9abc-def012345678","name":"POST Enrich Market Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1980,400],"parameters":{"url":"http://127.0.0.1:8090/v1/enrichment/market-data","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prices","value":"={{$('Merge All').first().json.prices}}"},{"name":"positions","value":"={{$('Merge All').first().json.positions}}"},{"name":"news","value":"={{$('Merge All').first().json.news}}"},{"name":"calendar","value":"={{$('Merge All').first().json.calendar}}"}]},"options":{}}}],"connections":{"Trigger":{"main":[[{"node":"GET Prices","type":"main","index":0},{"node":"GET News","type":"main","index":0},{"node":"GET Calendar","type":"main","index":0}]]},"GET Prices":{"main":[[{"node":"GET Positions","type":"main","index":0}]]},"GET News":{"main":[[{"node":"Parse News","type":"main","index":0}]]},"Parse News":{"main":[[{"node":"Merge News+Cal","type":"main","index":0}]]},"GET Calendar":{"main":[[{"node":"Parse Calendar","type":"main","index":0}]]},"Parse Calendar":{"main":[[{"node":"Merge News+Cal","type":"main","index":1}]]},"Merge News+Cal":{"main":[[{"node":"Merge All","type":"main","index":0}]]},"Merge All":{"main":[[{"node":"POST Enrich Market Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"72b697f9-5b94-4a72-85ce-1738b2ab25dc","activeVersionId":"72b697f9-5b94-4a72-85ce-1738b2ab25dc","versionCounter":46,"triggerCount":0,"shared":[{"updatedAt":"2026-06-01T13:06:48.643Z","createdAt":"2026-06-01T13:06:48.643Z","role":"workflow:owner","workflowId":"Q0KTCdzsiL4ZZ4jd","projectId":"KPFvGBpBmH2Cz9hD","project":{"updatedAt":"2026-03-29T12:09:47.740Z","createdAt":"2026-03-29T12:08:55.913Z","id":"KPFvGBpBmH2Cz9hD","name":"Felix Marin Ramirez <felixmurcia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-02T09:44:15.075Z","createdAt":"2026-06-02T09:44:15.075Z","versionId":"72b697f9-5b94-4a72-85ce-1738b2ab25dc","workflowId":"Q0KTCdzsiL4ZZ4jd","nodes":[{"id":"3da41cfc-6281-4419-a70a-cd8be2ac6cd9","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,400],"parameters":{"inputSource":"passthrough"}},{"id":"183f1098-c95a-48e7-b1d5-9ba7fde903f1","name":"GET Prices","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[220,400],"parameters":{"url":"http://127.0.0.1:8090/v1/market/prices","method":"GET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"options":{}}},{"id":"040f6538-23d5-4a86-a83b-e055e5967ba1","name":"GET Positions","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[440,400],"parameters":{"url":"http://127.0.0.1:8090/v1/market/positions","method":"GET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"options":{}}},{"id":"8348baf6-0153-4b1a-9591-f824af5a9701","name":"GET News","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[660,400],"parameters":{"url":"https://r.jina.ai/https://www.forexlive.com/feed/news","method":"GET","options":{}}},{"id":"0946332a-e515-43fe-a158-49b075219bdb","name":"GET Calendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[880,400],"parameters":{"url":"https://r.jina.ai/https://www.forexfactory.com/calendar","method":"GET","options":{}}},{"id":"1acaa6e1-d542-4e56-80a7-2fb6e5cb1a0a","name":"Parse News","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,400],"parameters":{"jsCode":"const input = $input.first().json;\nconst rawContent = input[0]?.data || input.data || \"\";\nconst CURRENCIES = [\"EUR\",\"USD\",\"GBP\",\"JPY\",\"CHF\",\"AUD\",\"NZD\",\"CAD\"];\nconst sourceUrl = 'https://www.forexlive.com/feed/news';\n\n// Dividir por URLs (que empiezan con [https)\nconst urlPattern = /\\[https:\\/\\/investinglive\\.com\\/news\\/([^\\]]+)\\]/g;\nconst matches = [];\nlet match;\nwhile ((match = urlPattern.exec(rawContent)) !== null) {\n  matches.push(match[1]);\n}\n\nconst news = [];\nfor (const urlSlug of matches.slice(0, 10)) {\n  // Reconstruir headline de la URL (reemplazar guiones por espacios, capitalizar)\n  const headline = urlSlug\n    .split('-')\n    .slice(0, -1)  // remover timestamp\n    .join(' ')\n    .slice(0, 140);\n  \n  if (!headline || headline.length < 10) continue;\n  \n  // Buscar moneda en todo el contenido\n  const currency = CURRENCIES.find(c => rawContent.toUpperCase().includes(c)) || \"\";\n  \n  // Detectar impact\n  const impact = rawContent.toLowerCase().includes(\"high\") ? \"high\" : \n                 rawContent.toLowerCase().includes(\"medium\") ? \"medium\" : \"low\";\n  \n  news.push({\n    headline: headline.trim(),\n    impact,\n    currency,\n    source_url: sourceUrl,\n    content: headline\n  });\n}\n\nreturn [{ json: { news } }];","mode":"runOnceForAllItems"}},{"id":"4ae69ca1-e96f-49c9-b75a-0fcc0e50b16a","name":"Parse Calendar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,400],"parameters":{"jsCode":"const input = $input.first().json;\nconst rawContent = input[0]?.data || input.data || \"\";\nconst CURRENCIES = [\"EUR\",\"USD\",\"GBP\",\"JPY\",\"CHF\",\"AUD\",\"NZD\",\"CAD\",\"CNY\"];\nconst sourceUrl = 'https://www.forexfactory.com/calendar';\n\nconst lines = rawContent.split('\\n');\nlet currentDate = '';\nconst calendar = [];\n\nfor (const line of lines) {\n  if (!line.includes('|')) continue;\n  const cells = line.split('|').map(c => c.trim());\n  if (cells.length < 3 || line.includes('---')) continue;\n\n  const firstCell = cells[0] || '';\n\n  // Skip headers\n  if (firstCell === 'Date' || firstCell === '[5:00am]') continue;\n\n  // Detect date rows\n  if (firstCell.match(/^(Sun|Mon|Tue|Wed|Thu|Fri|Sat|Tentative)\\s/) && cells.length <= 2) {\n    currentDate = firstCell;\n    continue;\n  }\n\n  if (firstCell.match(/^(Sun|Mon|Tue|Wed|Thu|Fri|Sat|Tentative)\\s/)) {\n    currentDate = firstCell;\n  }\n\n  // Find currency\n  let currencyIdx = -1;\n  for (let i = 0; i < Math.min(4, cells.length); i++) {\n    if (CURRENCIES.some(c => cells[i].includes(c))) {\n      currencyIdx = i;\n      break;\n    }\n  }\n\n  if (currencyIdx === -1) continue;\n\n  let time = currencyIdx > 0 ? cells[currencyIdx - 1] : '';\n  let currency = CURRENCIES.find(c => cells[currencyIdx].includes(c)) || '';\n  if (!currency) continue;\n\n  let eventName = '';\n  for (let i = currencyIdx + 1; i < cells.length; i++) {\n    let cell = cells[i] || '';\n    cell = cell.replace(/!\\[Image \\d+\\][^\\]]*\\]/g, '');\n    cell = cell.replace(/\\[!\\[Image \\d+\\][^\\]]*\\]\\([^)]*\\)/g, '');\n    cell = cell.trim();\n\n    if (!cell || cell.length < 3) continue;\n    if (cell.match(/^[0-9%.KMBD|-]+$/)) continue;\n    if (cell.includes('Detail') || cell.includes('Graph') || cell.includes('Alerts')) continue;\n    if (cell.startsWith('http')) continue;\n\n    eventName = cell.slice(0, 100);\n    break;\n  }\n\n  if (!eventName) continue;\n\n  const impact = line.includes('ff-impact-red') ? 'high' :\n                 line.includes('ff-impact-ora') ? 'high' :\n                 line.includes('ff-impact-yel') ? 'medium' : 'low';\n\n  const numValues = [];\n  for (let i = currencyIdx + 1; i < cells.length; i++) {\n    const cell = cells[i];\n    if (cell && cell.match(/^[+-]?[\\d.]+%?[KMBD]?(\\|[\\d.]+)?$/)) {\n      numValues.push(cell);\n    }\n  }\n\n  let actual = '', forecast = '', previous = '';\n  if (numValues.length >= 3) {\n    actual = numValues[numValues.length - 3];\n    forecast = numValues[numValues.length - 2];\n    previous = numValues[numValues.length - 1];\n  } else if (numValues.length === 2) {\n    forecast = numValues[0];\n    previous = numValues[1];\n  } else if (numValues.length === 1) {\n    forecast = numValues[0];\n  }\n\n  calendar.push({\n    event: eventName,\n    currency,\n    impact,\n    time,\n    date: currentDate,\n    utc_offset: '',\n    forecast,\n    actual,\n    previous,\n    source_url: sourceUrl\n  });\n\n  if (calendar.length >= 15) break;\n}\n\nreturn [{ json: { calendar } }];","mode":"runOnceForAllItems"}},{"id":"90b35f45-99be-44f1-a01a-cd2d42458e02","name":"Merge All","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,400],"parameters":{"jsCode":"// Triggered by Merge News+Cal (after News+Calendar branches complete).\n// GET Prices and GET Positions completed earlier (faster FastAPI calls).\nconst prices    = $('GET Prices').first().json;\nconst posData   = $('GET Positions').first().json;\nconst positions = (posData.open || []).concat(posData.pending || []);\nconst newsItems = $input.all()\n  .filter(i => i.json.news)\n  .map(i => i.json.news)\n  .flat();\nconst calItems  = $input.all()\n  .filter(i => i.json.calendar)\n  .map(i => i.json.calendar)\n  .flat();\nreturn [{ json: { prices, positions, news: newsItems, calendar: calItems } }];","mode":"runOnceForAllItems"}},{"id":"54221868-0000-0000-0000-000000000000","name":"Merge News+Cal","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1540,400],"parameters":{"mode":"append","options":{}}},{"id":"7f8c92aa-1234-5678-9abc-def012345678","name":"POST Enrich Market Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1980,400],"parameters":{"url":"http://127.0.0.1:8090/v1/enrichment/market-data","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prices","value":"={{$('Merge All').first().json.prices}}"},{"name":"positions","value":"={{$('Merge All').first().json.positions}}"},{"name":"news","value":"={{$('Merge All').first().json.news}}"},{"name":"calendar","value":"={{$('Merge All').first().json.calendar}}"}]},"options":{}}}],"connections":{"Trigger":{"main":[[{"node":"GET Prices","type":"main","index":0},{"node":"GET News","type":"main","index":0},{"node":"GET Calendar","type":"main","index":0}]]},"GET Prices":{"main":[[{"node":"GET Positions","type":"main","index":0}]]},"GET News":{"main":[[{"node":"Parse News","type":"main","index":0}]]},"Parse News":{"main":[[{"node":"Merge News+Cal","type":"main","index":0}]]},"GET Calendar":{"main":[[{"node":"Parse Calendar","type":"main","index":0}]]},"Parse Calendar":{"main":[[{"node":"Merge News+Cal","type":"main","index":1}]]},"Merge News+Cal":{"main":[[{"node":"Merge All","type":"main","index":0}]]},"Merge All":{"main":[[{"node":"POST Enrich Market Data","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Felix Marin Ramirez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T09:44:15.164Z","id":385,"workflowId":"Q0KTCdzsiL4ZZ4jd","versionId":"72b697f9-5b94-4a72-85ce-1738b2ab25dc","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-02T09:44:15.126Z","id":384,"workflowId":"Q0KTCdzsiL4ZZ4jd","versionId":"72b697f9-5b94-4a72-85ce-1738b2ab25dc","event":"deactivated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}]}}