workflows/WF-01-main-orchestrator.json
{
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "8a15ab2b-aac5-4f44-bf63-551b6c0f0a91",
      "name": "Cron 5min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1376,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const rand = () => Math.floor(Math.random() * 0xFFFFFFFF).toString(16).padStart(8,\"0\");\nconst cycle_id = rand() + rand() + \"_\" + Date.now();\nreturn [{ json: { cycle_id, started_at: new Date().toISOString() } }];"
      },
      "id": "54e43209-f5a3-45f9-9976-c3449eb7b766",
      "name": "Generate Cycle ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        832
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Q0KTCdzsiL4ZZ4jd",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6df99913-2b52-4119-baf9-a12d83503471",
      "name": "Call Market Data",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1856,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const market = $input.first().json;\nconst cycleId = $(\"Generate Cycle ID\").first().json.cycle_id;\n\n// Filtrar solo noticias/eventos CON currency\nconst news = (market.news || []).filter(n => n.currency && n.currency.trim());\nconst calendar = (market.calendar || []).filter(c => c.currency && c.currency.trim());\n\nreturn [{\n  json: {\n    ...market,\n    cycle_id: cycleId,\n    blockTrade: market.blockTrade || false,\n    reason: market.reason || 'OK',\n    news,\n    calendar\n  }\n}];\n"
      },
      "id": "83b3667c-1dde-42dc-973b-fa74bb5123a0",
      "name": "Merge Cycle ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/context/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $json.cycle_id }}"
            },
            {
              "name": "prices",
              "value": "={{ $json.prices }}"
            },
            {
              "name": "news",
              "value": "={{ $json.news }}"
            },
            {
              "name": "calendar",
              "value": "={{ $json.calendar }}"
            },
            {
              "name": "positions",
              "value": "={{ $json.positions }}"
            },
            {
              "name": "blockTrade",
              "value": "={{ $json.blockTrade }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5eaba034-cb63-4644-a855-65f1b4ea3552",
      "name": "POST Context Validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2544,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6b0bc07-00fa-4f20-803b-76692d3ef9d3",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "faba7525-b396-4858-bf1a-3924a26e016c",
      "name": "Is Context Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2816,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];"
      },
      "id": "ab350b57-6166-4e6f-8d18-36f00bda6bb5",
      "name": "Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/analysis/pairs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "prices",
              "value": "={{ $('Merge Cycle ID').first().json.prices }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b462c212-544f-4bf8-83e5-d91f43fd6a18",
      "name": "POST Analysis Pairs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3104,
        832
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1rBvOPpAo3qwOKCR",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $('Merge Cycle ID').first().json.cycle_id }}",
            "best_pair": "={{ $('POST Analysis Pairs').first().json.best_pair }}",
            "technical": "={{ $('POST Analysis Pairs').first().json.technical }}",
            "news": "={{ $('Merge Cycle ID').first().json.news }}",
            "calendar": "={{ $('Merge Cycle ID').first().json.calendar }}",
            "positions": "={{ $('Merge Cycle ID').first().json.positions }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "55779a42-4149-48e6-8095-9b09994b73df",
      "name": "Call LLM Agents",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3728,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/risk/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "best_pair",
              "value": "={{ $('POST Analysis Pairs').first().json.best_pair }}"
            },
            {
              "name": "price",
              "value": "={{ $('POST Analysis Pairs').first().json.price }}"
            },
            {
              "name": "technical",
              "value": "={{ $('POST Analysis Pairs').first().json.technical }}"
            },
            {
              "name": "llm_signals",
              "value": "={{ $('Call LLM Agents').first().json.signals }}"
            },
            {
              "name": "positions",
              "value": "={{ $('Merge Cycle ID').first().json.positions }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ceff0acf-d008-4def-846c-104cbb7caf13",
      "name": "POST Risk Evaluate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3952,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2cb25367-42de-4639-9cd2-9ddfda20dc0f",
              "leftValue": "={{ $json.action }}",
              "rightValue": "skip",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "rightType": "string"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6bbea09-7dcf-4b74-bb92-7803b2a42154",
      "name": "Has Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4160,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];"
      },
      "id": "be4eec13-46ac-47cc-8243-3dbae1b3c304",
      "name": "Log Skip Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/order/prepare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "symbol",
              "value": "={{ $('POST Analysis Pairs').first().json.best_pair }}"
            },
            {
              "name": "type",
              "value": "={{ ($('POST Risk Evaluate').first().json.action || '').toUpperCase() }}"
            },
            {
              "name": "entry",
              "value": "={{ $('POST Risk Evaluate').first().json.entry }}"
            },
            {
              "name": "sl",
              "value": "={{ $('POST Risk Evaluate').first().json.sl }}"
            },
            {
              "name": "tp",
              "value": "={{ $('POST Risk Evaluate').first().json.tp }}"
            },
            {
              "name": "volume",
              "value": "={{ $('POST Risk Evaluate').first().json.volume }}"
            }
          ]
        },
        "options": {}
      },
      "id": "605a4a6b-279e-47ea-9004-a6b22ba7e240",
      "name": "POST Order Prepare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4384,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c645fd0-cb9b-4b08-97cd-820f1e9fd5d4",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "rightType": "boolean"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b99a3ce-4f44-4fd7-a71c-588c05f435ac",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4608,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Orden rechazada:\", r.rejection_reason);\nreturn [{ json: { rejected: true, reason: r.rejection_reason } }];"
      },
      "id": "e7d8b7cc-dbbf-4bd9-bcb8-c06185dcf478",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/order/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6bba9afd-833e-439b-b182-6dc8070235c1",
      "name": "POST Order Execute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4832,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/order/confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "mt5_order_id",
              "value": "={{ $json.mt5_order_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "fill_price",
              "value": "={{ $json.fill_price || null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6c70651f-1954-467b-ac25-7c70bfa09bc0",
      "name": "POST Order Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5040,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/audit/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"
            },
            {
              "name": "X-Cycle-ID",
              "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cycle_id",
              "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"
            },
            {
              "name": "event",
              "value": "order_executed"
            },
            {
              "name": "data",
              "value": "={{ {\"best_pair\": $('POST Analysis Pairs').first().json.best_pair, \"action\": $('POST Risk Evaluate').first().json.action, \"mt5_order_id\": $('POST Order Execute').first().json.mt5_order_id} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e08b8521-6abd-43a6-8032-c29b82fed8c9",
      "name": "POST Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5264,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const risk = $(\"POST Risk Evaluate\").first().json;\nconst exec = $(\"POST Order Execute\").first().json;\nconst pair = $(\"POST Analysis Pairs\").first().json;\nconst action = (risk.action || \"\").toUpperCase();\nconst emoji  = action === \"BUY\" ? \"🟢\" : \"🔴\";\nconst text = emoji + \" *ORDEN EJECUTADA*\\n\"\n  + \"──────────────\\n\"\n  + \"Par: `\" + pair.best_pair + \"`\\n\"\n  + \"Tipo: `\" + action + \"`\\n\"\n  + \"Entry: `\" + risk.entry + \"`\\n\"\n  + \"SL: `\" + risk.sl + \"`\\n\"\n  + \"TP: `\" + risk.tp + \"`\\n\"\n  + \"Vol: `\" + risk.volume + \"` lots\\n\"\n  + \"Conf: `\" + ((risk.confidence||0)*100).toFixed(0) + \"%`\\n\"\n  + \"Ticket: `\" + exec.mt5_order_id + \"`\";\nreturn [{ json: { text } }];"
      },
      "id": "4c64cf61-4a88-4a47-893d-2f3f2bfb6b62",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        832
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "b04018c8-eb1d-462e-bf33-605b17e01634",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5712,
        832
      ],
      "webhookId": "25a656a6-2ee7-4f7c-af02-c8309cd16911",
      "credentials": {
        "telegramApi": {
          "id": "S0L9JXxUjOuC66zv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst news = data.news || [];\nconst now = new Date();\n\nconst relevantHighImpact = news.filter(n => {\n  if (n.impact !== 'high') return false;\n  \n  const y = parseInt(n.timestamp.substring(0, 4));\n  const m = parseInt(n.timestamp.substring(4, 6)) - 1;\n  const d = parseInt(n.timestamp.substring(6, 8));\n  const newsDate = new Date(y, m, d);\n  \n  return newsDate.toDateString() === now.toDateString();\n});\n\nreturn [{\n  json: {\n    ...data,\n    blockTrade: relevantHighImpact.length > 0,\n    reason: relevantHighImpact.length > 0 ? 'High impact news today' : 'OK'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        832
      ],
      "id": "85f88ed3-a2e5-456a-98ac-b30841b49667",
      "name": "Check High Impact News"
    }
  ],
  "connections": {
    "Cron 5min": {
      "main": [
        [
          {
            "node": "Generate Cycle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cycle ID": {
      "main": [
        [
          {
            "node": "Call Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Market Data": {
      "main": [
        [
          {
            "node": "Check High Impact News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Cycle ID": {
      "main": [
        [
          {
            "node": "POST Context Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Context Validate": {
      "main": [
        [
          {
            "node": "Is Context Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Context Valid?": {
      "main": [
        [
          {
            "node": "POST Analysis Pairs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Analysis Pairs": {
      "main": [
        [
          {
            "node": "Call LLM Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM Agents": {
      "main": [
        [
          {
            "node": "POST Risk Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Risk Evaluate": {
      "main": [
        [
          {
            "node": "Has Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Action?": {
      "main": [
        [
          {
            "node": "POST Order Prepare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Order Prepare": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "POST Order Execute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Order Execute": {
      "main": [
        [
          {
            "node": "POST Order Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Order Confirm": {
      "main": [
        [
          {
            "node": "POST Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Audit Log": {
      "main": [
        [
          {
            "node": "Format Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Impact News": {
      "main": [
        [
          {
            "node": "Merge Cycle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}