workflows/WF-04-agent-technical.json
{"updatedAt":"2026-06-03T09:29:25.336Z","createdAt":"2026-06-01T13:06:48.484Z","id":"yHrsKjF2j9gmYG3D","name":"WF-04 Agent Technical","description":null,"active":true,"isArchived":false,"nodes":[{"id":"94fd2edb-360a-4a16-84f7-995e6bfbbc30","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,400],"parameters":{"inputSource":"passthrough"}},{"id":"3adf1cd6-a3af-4a3f-bd9e-59bba5715bd9","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,400],"parameters":{"jsCode":"\nconst ctx = $input.first().json;\nconst t   = ctx.technical || {};\nconst best= ctx.best_pair || \"EURUSD\";\nconst price = t.current_price || 0;\nconst candles = (t.candles_recent || []).map(c =>\n  \"O:\" + c.open + \" H:\" + c.high + \" L:\" + c.low + \" C:\" + c.close\n).join(\" | \");\n\nconst prompt = \"[INST] You are a technical analysis expert.\\n\" +\n  \"Symbol: \" + best + \" | Price: \" + price + \" | RSI: \" + t.rsi + \" | Trend: \" + t.trend + \"\\n\" +\n  \"SMA9: \" + t.sma9 + \" SMA20: \" + t.sma20 + \" SMA50: \" + t.sma50 + \" SMA200: \" + t.sma200 + \"\\n\" +\n  \"ATR: \" + t.atr + \" | Support: \" + t.support + \" | Resistance: \" + t.resistance + \"\\n\" +\n  \"Recent candles (last 5): \" + candles + \"\\n\" +\n  \"Analyse ONLY the technical data. Respond ONLY with JSON:\\n\" +\n  '{\"signal\":\"buy|sell|neutral\",\"confidence\":0.0-1.0,\"reason\":\"one sentence\"} [/INST]';\n\nreturn [{ json: { ...ctx, prompt } }];\n","mode":"runOnceForAllItems"}},{"id":"2ac421b3-23e6-40da-abaf-031e7f5187d3","name":"Call LLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[440,400],"parameters":{"url":"http://127.0.0.1:8090/v1/llm/signal","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $input.first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"agent","value":"technical"},{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{}}}],"connections":{"Trigger":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Call LLM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"BPv6AwQFgkIja8XW"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"da036297-2215-4566-957c-257742203435","activeVersionId":"da036297-2215-4566-957c-257742203435","versionCounter":49,"triggerCount":0,"shared":[{"updatedAt":"2026-06-01T13:06:48.488Z","createdAt":"2026-06-01T13:06:48.488Z","role":"workflow:owner","workflowId":"yHrsKjF2j9gmYG3D","projectId":"KPFvGBpBmH2Cz9hD","project":{"updatedAt":"2026-03-29T12:09:47.740Z","createdAt":"2026-03-29T12:08:55.913Z","id":"KPFvGBpBmH2Cz9hD","name":"Felix Marin Ramirez <felixmurcia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-02T13:12:40.316Z","createdAt":"2026-06-02T13:12:40.316Z","versionId":"da036297-2215-4566-957c-257742203435","workflowId":"yHrsKjF2j9gmYG3D","nodes":[{"id":"94fd2edb-360a-4a16-84f7-995e6bfbbc30","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,400],"parameters":{"inputSource":"passthrough"}},{"id":"3adf1cd6-a3af-4a3f-bd9e-59bba5715bd9","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,400],"parameters":{"jsCode":"\nconst ctx = $input.first().json;\nconst t   = ctx.technical || {};\nconst best= ctx.best_pair || \"EURUSD\";\nconst price = t.current_price || 0;\nconst candles = (t.candles_recent || []).map(c =>\n  \"O:\" + c.open + \" H:\" + c.high + \" L:\" + c.low + \" C:\" + c.close\n).join(\" | \");\n\nconst prompt = \"[INST] You are a technical analysis expert.\\n\" +\n  \"Symbol: \" + best + \" | Price: \" + price + \" | RSI: \" + t.rsi + \" | Trend: \" + t.trend + \"\\n\" +\n  \"SMA9: \" + t.sma9 + \" SMA20: \" + t.sma20 + \" SMA50: \" + t.sma50 + \" SMA200: \" + t.sma200 + \"\\n\" +\n  \"ATR: \" + t.atr + \" | Support: \" + t.support + \" | Resistance: \" + t.resistance + \"\\n\" +\n  \"Recent candles (last 5): \" + candles + \"\\n\" +\n  \"Analyse ONLY the technical data. Respond ONLY with JSON:\\n\" +\n  '{\"signal\":\"buy|sell|neutral\",\"confidence\":0.0-1.0,\"reason\":\"one sentence\"} [/INST]';\n\nreturn [{ json: { ...ctx, prompt } }];\n","mode":"runOnceForAllItems"}},{"id":"2ac421b3-23e6-40da-abaf-031e7f5187d3","name":"Call LLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[440,400],"parameters":{"url":"http://127.0.0.1:8090/v1/llm/signal","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"={{ $input.first().json.cycle_id }}"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"agent","value":"technical"},{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{}}}],"connections":{"Trigger":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Call LLM","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Felix Marin Ramirez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T13:12:40.393Z","id":389,"workflowId":"yHrsKjF2j9gmYG3D","versionId":"da036297-2215-4566-957c-257742203435","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-03T09:29:25.406Z","id":402,"workflowId":"yHrsKjF2j9gmYG3D","versionId":"da036297-2215-4566-957c-257742203435","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-02T13:12:40.355Z","id":388,"workflowId":"yHrsKjF2j9gmYG3D","versionId":"da036297-2215-4566-957c-257742203435","event":"deactivated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-03T09:29:25.369Z","id":401,"workflowId":"yHrsKjF2j9gmYG3D","versionId":"da036297-2215-4566-957c-257742203435","event":"deactivated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}]}}