workflows/WF-03-llm-agents.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f6d9a410-b186-493f-ba9f-4a49285998f0",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        2224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yHrsKjF2j9gmYG3D",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $input.first().json.cycle_id }}",
            "best_pair": "={{ $input.first().json.best_pair }}",
            "technical": "={{ $input.first().json.technical }}",
            "news": "={{ $input.first().json.news }}",
            "positions": "={{ $input.first().json.positions }}"
          }
        },
        "options": {}
      },
      "id": "ee36f940-092c-4df1-8faf-6c4eaa000e08",
      "name": "Agent Technical",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -960,
        2064
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WWH62Wuwn5H9gKvi",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $input.first().json.cycle_id }}",
            "best_pair": "={{ $input.first().json.best_pair }}",
            "technical": "={{ $input.first().json.technical }}",
            "news": "={{ $input.first().json.news }}",
            "positions": "={{ $input.first().json.positions }}"
          }
        },
        "options": {}
      },
      "id": "2e90da3b-2d47-4028-8728-8bc68ed3a9e5",
      "name": "Agent Fundamental",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -960,
        2224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6yZU5Ob3S5gr7m2y",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $input.first().json.cycle_id }}",
            "best_pair": "={{ $input.first().json.best_pair }}",
            "technical": "={{ $input.first().json.technical }}",
            "news": "={{ $input.first().json.news }}",
            "positions": "={{ $input.first().json.positions }}"
          }
        },
        "options": {}
      },
      "id": "cfad3ffd-2b9a-4b97-b811-bf949497da25",
      "name": "Agent Sentiment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -960,
        2384
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "905e30ad-142f-4b94-8487-0361ec1071fa",
      "name": "Merge Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -576,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst signals = items.map(item => item.json).filter(s => s && s.agent);\nreturn [{ json: { signals } }];"
      },
      "id": "d3c14e3b-ebf5-4111-ac85-3b9a60865ff2",
      "name": "Collect Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        2240
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Agent Technical",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Fundamental",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Technical": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Fundamental": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agent Sentiment": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Signals": {
      "main": [
        [
          {
            "node": "Collect Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  },
  "settings": {
    "executionOrder": "v0"
  }
}