workflows/WF-03-llm-agents.json
{
  "updatedAt": "2026-06-03T09:29:25.199Z",
  "createdAt": "2026-06-01T13:06:48.741Z",
  "id": "1rBvOPpAo3qwOKCR",
  "name": "WF-03 LLM Agents",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "b5bf6391-d359-4381-81f0-40fae7113efd",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "e33ca44d-2f54-4c14-bece-60a79ae7090f",
      "name": "Agent Technical",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        220,
        240
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yHrsKjF2j9gmYG3D",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $input.first().json.cycle_id }}",
            "best_pair": "={{ $input.first().json.best_pair }}",
            "technical": "={{ $input.first().json.technical }}",
            "news": "={{ $input.first().json.news }}",
            "positions": "={{ $input.first().json.positions }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "9e64ac72-4c12-4245-9ea0-55bd6b4367cc",
      "name": "Agent Fundamental",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        220,
        400
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WWH62Wuwn5H9gKvi",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $input.first().json.cycle_id }}",
            "best_pair": "={{ $input.first().json.best_pair }}",
            "technical": "={{ $input.first().json.technical }}",
            "news": "={{ $input.first().json.news }}",
            "positions": "={{ $input.first().json.positions }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "70a92006-1a0a-493e-80fb-d5557f0eb59f",
      "name": "Agent Sentiment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        220,
        560
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6yZU5Ob3S5gr7m2y",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_id": "={{ $input.first().json.cycle_id }}",
            "best_pair": "={{ $input.first().json.best_pair }}",
            "technical": "={{ $input.first().json.technical }}",
            "news": "={{ $input.first().json.news }}",
            "positions": "={{ $input.first().json.positions }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "246d2030-ab01-4a76-8f92-4019e0aad229",
      "name": "Collect Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ],
      "parameters": {
        "jsCode": "// Triggered by Agent Sentiment (slowest). All 3 agents have already run.\nconst tech = $('Agent Technical').first().json;\nconst fund = $('Agent Fundamental').first().json;\nconst sent = $('Agent Sentiment').first().json;\nconst signals = [tech, fund, sent].filter(s => s && s.agent);\nreturn [{ json: { signals } }];",
        "mode": "runOnceForAllItems"
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Agent Technical",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Fundamental",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Technical": {
      "main": [
        [
          {
            "node": "Collect Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Fundamental": {
      "main": [
        [
          {
            "node": "Collect Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Sentiment": {
      "main": [
        [
          {
            "node": "Collect Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "BPv6AwQFgkIja8XW"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "3e9079b8-beee-4596-a942-f1086da4157e",
  "activeVersionId": "3e9079b8-beee-4596-a942-f1086da4157e",
  "versionCounter": 51,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-01T13:06:48.744Z",
      "createdAt": "2026-06-01T13:06:48.744Z",
      "role": "workflow:owner",
      "workflowId": "1rBvOPpAo3qwOKCR",
      "projectId": "KPFvGBpBmH2Cz9hD",
      "project": {
        "updatedAt": "2026-03-29T12:09:47.740Z",
        "createdAt": "2026-03-29T12:08:55.913Z",
        "id": "KPFvGBpBmH2Cz9hD",
        "name": "Felix Marin Ramirez <felixmurcia@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-02T09:32:45.995Z",
    "createdAt": "2026-06-02T09:32:45.995Z",
    "versionId": "3e9079b8-beee-4596-a942-f1086da4157e",
    "workflowId": "1rBvOPpAo3qwOKCR",
    "nodes": [
      {
        "id": "b5bf6391-d359-4381-81f0-40fae7113efd",
        "name": "Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          400
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "e33ca44d-2f54-4c14-bece-60a79ae7090f",
        "name": "Agent Technical",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          220,
          240
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "yHrsKjF2j9gmYG3D",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "cycle_id": "={{ $input.first().json.cycle_id }}",
              "best_pair": "={{ $input.first().json.best_pair }}",
              "technical": "={{ $input.first().json.technical }}",
              "news": "={{ $input.first().json.news }}",
              "positions": "={{ $input.first().json.positions }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        }
      },
      {
        "id": "9e64ac72-4c12-4245-9ea0-55bd6b4367cc",
        "name": "Agent Fundamental",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          220,
          400
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "WWH62Wuwn5H9gKvi",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "cycle_id": "={{ $input.first().json.cycle_id }}",
              "best_pair": "={{ $input.first().json.best_pair }}",
              "technical": "={{ $input.first().json.technical }}",
              "news": "={{ $input.first().json.news }}",
              "positions": "={{ $input.first().json.positions }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        }
      },
      {
        "id": "70a92006-1a0a-493e-80fb-d5557f0eb59f",
        "name": "Agent Sentiment",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          220,
          560
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6yZU5Ob3S5gr7m2y",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "cycle_id": "={{ $input.first().json.cycle_id }}",
              "best_pair": "={{ $input.first().json.best_pair }}",
              "technical": "={{ $input.first().json.technical }}",
              "news": "={{ $input.first().json.news }}",
              "positions": "={{ $input.first().json.positions }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        }
      },
      {
        "id": "246d2030-ab01-4a76-8f92-4019e0aad229",
        "name": "Collect Signals",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          400
        ],
        "parameters": {
          "jsCode": "// Triggered by Agent Sentiment (slowest). All 3 agents have already run.\nconst tech = $('Agent Technical').first().json;\nconst fund = $('Agent Fundamental').first().json;\nconst sent = $('Agent Sentiment').first().json;\nconst signals = [tech, fund, sent].filter(s => s && s.agent);\nreturn [{ json: { signals } }];",
          "mode": "runOnceForAllItems"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Agent Technical",
              "type": "main",
              "index": 0
            },
            {
              "node": "Agent Fundamental",
              "type": "main",
              "index": 0
            },
            {
              "node": "Agent Sentiment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agent Technical": {
        "main": [
          []
        ]
      },
      "Agent Fundamental": {
        "main": [
          []
        ]
      },
      "Agent Sentiment": {
        "main": [
          [
            {
              "node": "Collect Signals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Felix Marin Ramirez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-02T09:32:46.105Z",
        "id": 383,
        "workflowId": "1rBvOPpAo3qwOKCR",
        "versionId": "3e9079b8-beee-4596-a942-f1086da4157e",
        "event": "activated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      },
      {
        "createdAt": "2026-06-03T09:29:25.265Z",
        "id": 400,
        "workflowId": "1rBvOPpAo3qwOKCR",
        "versionId": "3e9079b8-beee-4596-a942-f1086da4157e",
        "event": "activated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      },
      {
        "createdAt": "2026-06-02T09:32:46.043Z",
        "id": 382,
        "workflowId": "1rBvOPpAo3qwOKCR",
        "versionId": "3e9079b8-beee-4596-a942-f1086da4157e",
        "event": "deactivated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      },
      {
        "createdAt": "2026-06-03T09:29:25.229Z",
        "id": 399,
        "workflowId": "1rBvOPpAo3qwOKCR",
        "versionId": "3e9079b8-beee-4596-a942-f1086da4157e",
        "event": "deactivated",
        "userId": "2103296d-fece-47a3-8c4b-99ead91b8c22"
      }
    ]
  }
}
