workflows/WF-ERROR-telegram-alert.json
{"updatedAt":"2026-06-03T09:36:01.257Z","createdAt":"2026-06-03T09:29:06.062Z","id":"BPv6AwQFgkIja8XW","name":"WF-ERROR Telegram Alert","description":null,"active":true,"isArchived":false,"nodes":[{"id":"err-1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,300],"parameters":{}},{"id":"err-2","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300],"parameters":{"jsCode":"const exec = $('Error Trigger').first().json.execution || {};\nconst err  = exec.error || {};\nconst wf   = err.workflowId || exec.workflowId || '?';\nconst desc = err.description || err.message || JSON.stringify(err).slice(0,300);\nconst url  = exec.url || '';\nconst ts   = new Date().toISOString();\nconst text = '🚨 *ERROR EN WORKFLOW*\\n'\n  + '──────────────\\n'\n  + '*Workflow:* `' + wf + '`\\n'\n  + '*Error:*\\n`' + desc.slice(0,400) + '`\\n'\n  + (url ? '*URL:* ' + url + '\\n' : '')\n  + '*Hora:* `' + ts + '`';\nreturn [{ json: { text } }];","mode":"runOnceForAllItems"}},{"id":"err-3","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[440,300],"parameters":{"chatId":"6231139143","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"credentials":{"telegramApi":{"id":"S0L9JXxUjOuC66zv","name":"Telegram account"}},"webhookId":"1c86ff9f-4fbb-45a9-bf92-6e4210ddd7d6"}],"connections":{"Error Trigger":{"main":[[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"12dc101e-c85f-4749-8d6f-62587328f456","activeVersionId":"12dc101e-c85f-4749-8d6f-62587328f456","versionCounter":7,"triggerCount":0,"shared":[{"updatedAt":"2026-06-03T09:29:06.065Z","createdAt":"2026-06-03T09:29:06.065Z","role":"workflow:owner","workflowId":"BPv6AwQFgkIja8XW","projectId":"KPFvGBpBmH2Cz9hD","project":{"updatedAt":"2026-03-29T12:09:47.740Z","createdAt":"2026-03-29T12:08:55.913Z","id":"KPFvGBpBmH2Cz9hD","name":"Felix Marin Ramirez <felixmurcia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-03T09:36:01.257Z","createdAt":"2026-06-03T09:36:01.257Z","versionId":"12dc101e-c85f-4749-8d6f-62587328f456","workflowId":"BPv6AwQFgkIja8XW","nodes":[{"id":"err-1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,300],"parameters":{}},{"id":"err-2","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300],"parameters":{"jsCode":"const exec = $('Error Trigger').first().json.execution || {};\nconst err  = exec.error || {};\nconst wf   = err.workflowId || exec.workflowId || '?';\nconst desc = err.description || err.message || JSON.stringify(err).slice(0,300);\nconst url  = exec.url || '';\nconst ts   = new Date().toISOString();\nconst text = '🚨 *ERROR EN WORKFLOW*\\n'\n  + '──────────────\\n'\n  + '*Workflow:* `' + wf + '`\\n'\n  + '*Error:*\\n`' + desc.slice(0,400) + '`\\n'\n  + (url ? '*URL:* ' + url + '\\n' : '')\n  + '*Hora:* `' + ts + '`';\nreturn [{ json: { text } }];","mode":"runOnceForAllItems"}},{"id":"err-3","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[440,300],"parameters":{"chatId":"6231139143","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"credentials":{"telegramApi":{"id":"S0L9JXxUjOuC66zv","name":"Telegram account"}},"webhookId":"1c86ff9f-4fbb-45a9-bf92-6e4210ddd7d6"}],"connections":{"Error Trigger":{"main":[[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Felix Marin Ramirez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-03T09:36:01.335Z","id":408,"workflowId":"BPv6AwQFgkIja8XW","versionId":"12dc101e-c85f-4749-8d6f-62587328f456","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"},{"createdAt":"2026-06-03T09:36:01.305Z","id":407,"workflowId":"BPv6AwQFgkIja8XW","versionId":"12dc101e-c85f-4749-8d6f-62587328f456","event":"deactivated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}]}}