workflows/WF-MOCK-main-orchestrator.json
{
  "nodes": [
    {
      "id": "m1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "path": "mock-cycle",
        "responseMode": "onReceived",
        "httpMethod": "POST"
      }
    },
    {
      "id": "m2",
      "name": "Generate Cycle ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "jsCode": "const rand = () => Math.floor(Math.random() * 0xFFFFFFFF).toString(16).padStart(8,\"0\");\nconst cycle_id = \"MOCK_\" + rand() + rand() + \"_\" + Date.now();\nreturn [{ json: { cycle_id, started_at: new Date().toISOString() } }];"
      }
    },
    {
      "id": "m3",
      "name": "Mock Market Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "// MOCK: datos de mercado hardcodeados — sin llamadas a MT5, ForexFactory ni ForexLive\nreturn [{ json: {\n  prices: {\n    EURUSD: 1.0845,\n    GBPUSD: 1.2734,\n    USDJPY: 149.85,\n    USDCHF: 0.9012,\n    XAUUSD: 2312.50\n  },\n  positions: [],\n  news: [\n    {\n      headline: \"MOCK: Fed holds rates steady amid inflation concerns\",\n      impact: \"low\",\n      currency: \"USD\",\n      source_url: \"mock\",\n      content: \"MOCK: Fed holds rates steady amid inflation concerns\",\n      timestamp: new Date().toISOString()\n    }\n  ],\n  calendar: [\n    {\n      event: \"MOCK: ECB Press Conference\",\n      currency: \"EUR\",\n      impact: \"medium\",\n      time: \"14:30\",\n      date: \"Mon Jun 09 2026\",\n      utc_offset: \"\",\n      forecast: \"\",\n      actual: \"\",\n      previous: \"\",\n      source_url: \"mock\"\n    }\n  ]\n} }];"
      }
    },
    {
      "id": "m4",
      "name": "Check High Impact News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst news = data.news || [];\nconst now = new Date();\n\nconst relevantHighImpact = news.filter(n => {\n  if (n.impact !== 'high') return false;\n  \n  const y = parseInt(n.timestamp.substring(0, 4));\n  const m = parseInt(n.timestamp.substring(4, 6)) - 1;\n  const d = parseInt(n.timestamp.substring(6, 8));\n  const newsDate = new Date(y, m, d);\n  \n  return newsDate.toDateString() === now.toDateString();\n});\n\nreturn [{\n  json: {\n    ...data,\n    blockTrade: relevantHighImpact.length > 0,\n    reason: relevantHighImpact.length > 0 ? 'High impact news today' : 'OK'\n  }\n}];\n"
      }
    },
    {
      "id": "m5",
      "name": "Merge Cycle ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "jsCode": "const market = $input.first().json;\nconst cycleId = $(\"Generate Cycle ID\").first().json.cycle_id;\n\n// Filtrar solo noticias/eventos CON currency\nconst news = (market.news || []).filter(n => n.currency && n.currency.trim());\nconst calendar = (market.calendar || []).filter(c => c.currency && c.currency.trim());\n\nreturn [{\n  json: {\n    ...market,\n    cycle_id: cycleId,\n    blockTrade: market.blockTrade || false,\n    reason: market.reason || 'OK',\n    news,\n    calendar\n  }\n}];\n"
      }
    },
    {
      "id": "m6",
      "name": "POST Context Validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1100, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/context/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-Internal-Token", "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},
            {"name": "X-Cycle-ID", "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "cycle_id",   "value": "={{ $json.cycle_id }}"},
            {"name": "prices",     "value": "={{ $json.prices }}"},
            {"name": "news",       "value": "={{ $json.news }}"},
            {"name": "calendar",   "value": "={{ $json.calendar }}"},
            {"name": "positions",  "value": "={{ $json.positions }}"},
            {"name": "blockTrade", "value": "={{ $json.blockTrade }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "m7",
      "name": "Is Context Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1320, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [
            {
              "id": "cond-ctx",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals", "rightType": "boolean"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "m8",
      "name": "Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 520],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];"
      }
    },
    {
      "id": "m9",
      "name": "POST Analysis Pairs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1540, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/analysis/pairs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-Internal-Token", "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},
            {"name": "X-Cycle-ID",       "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "cycle_id", "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"},
            {"name": "prices",   "value": "={{ $('Merge Cycle ID').first().json.prices }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "m10",
      "name": "Call LLM Agents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300],
      "parameters": {
        "jsCode": "// MOCK: señales LLM hardcodeadas — sin llamadas reales a WF-04/05/06 ni al proveedor LLM\nreturn [{ json: { signals: [\n  { agent: 'technical',   signal: 'buy', confidence: 0.85, parse_error: false },\n  { agent: 'fundamental', signal: 'buy', confidence: 0.80, parse_error: false },\n  { agent: 'sentiment',   signal: 'neutral', confidence: 0.45, parse_error: false }\n] } }];"
      }
    },
    {
      "id": "m11",
      "name": "POST Risk Evaluate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1980, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/risk/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-Internal-Token", "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},
            {"name": "X-Cycle-ID",       "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "cycle_id",    "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"},
            {"name": "best_pair",   "value": "={{ $('POST Analysis Pairs').first().json.best_pair }}"},
            {"name": "price",       "value": "={{ $('POST Analysis Pairs').first().json.price }}"},
            {"name": "technical",   "value": "={{ $('POST Analysis Pairs').first().json.technical }}"},
            {"name": "llm_signals", "value": "={{ $('Call LLM Agents').first().json.signals }}"},
            {"name": "positions",   "value": "={{ $('Merge Cycle ID').first().json.positions }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "m12",
      "name": "Has Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2200, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "skip",
              "operator": {"type": "string", "operation": "notEquals", "rightType": "string"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "m13",
      "name": "Log Skip Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 520],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Ciclo saltado:\", r.reason);\nreturn [{ json: { skipped: true, reason: r.reason } }];"
      }
    },
    {
      "id": "m14",
      "name": "POST Order Prepare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2420, 300],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8090/v1/order/prepare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-Internal-Token", "value": "90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},
            {"name": "X-Cycle-ID",       "value": "={{ $('Generate Cycle ID').first().json.cycle_id }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "cycle_id", "value": "={{ $('Merge Cycle ID').first().json.cycle_id }}"},
            {"name": "symbol",   "value": "={{ $('POST Analysis Pairs').first().json.best_pair }}"},
            {"name": "type",     "value": "={{ ($('POST Risk Evaluate').first().json.action || '').toUpperCase() }}"},
            {"name": "entry",    "value": "={{ $('POST Risk Evaluate').first().json.entry }}"},
            {"name": "sl",       "value": "={{ $('POST Risk Evaluate').first().json.sl }}"},
            {"name": "tp",       "value": "={{ $('POST Risk Evaluate').first().json.tp }}"},
            {"name": "volume",   "value": "={{ $('POST Risk Evaluate').first().json.volume }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "m15",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2640, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [
            {
              "id": "cond-approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals", "rightType": "boolean"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "m16",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 520],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconsole.log(\"Orden rechazada:\", r.rejection_reason);\nreturn [{ json: { rejected: true, reason: r.rejection_reason } }];"
      }
    },
    {
      "id": "m17",
      "name": "DRY RUN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 300],
      "parameters": {
        "jsCode": "// MOCK: simula respuesta de ejecución sin enviar nada a MT5\nconsole.log('[MOCK] DRY RUN — orden no enviada a MT5');\nreturn [{ json: {\n  dry_run: true,\n  mt5_order_id: 'DRY_RUN_MOCK',\n  status: 'dry_run',\n  fill_price: null\n} }];"
      }
    },
    {
      "id": "m18",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 300],
      "parameters": {
        "jsCode": "const risk  = $('POST Risk Evaluate').first().json;\nconst pair  = $('POST Analysis Pairs').first().json;\nconst order = $('POST Order Prepare').first().json;\nconst action = (risk.action || '').toUpperCase();\nconst emoji  = action === 'BUY' ? '🟢' : '🔴';\nconst status = order.approved\n  ? '✅ APROBADA (dry-run)'\n  : '❌ RECHAZADA: ' + (order.rejection_reason || 'desconocido');\nconst text = '🧪 *[MOCK] CICLO SIMULADO*\\n'\n  + '──────────────\\n'\n  + emoji + ' Par: `' + pair.best_pair + '`\\n'\n  + 'Tipo: `' + action + '`\\n'\n  + 'Entry: `' + risk.entry + '`\\n'\n  + 'SL: `' + risk.sl + '`\\n'\n  + 'TP: `' + risk.tp + '`\\n'\n  + 'Vol: `' + risk.volume + '` lots\\n'\n  + 'Conf: `' + ((risk.confidence || 0) * 100).toFixed(0) + '%`\\n'\n  + '──────────────\\n'\n  + status + '\\n'\n  + '_[DRY RUN — sin ejecución real]_';\nreturn [{ json: { text } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "m19",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3300, 300],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "S0L9JXxUjOuC66zv",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Generate Cycle ID", "type": "main", "index": 0}]]
    },
    "Generate Cycle ID": {
      "main": [[{"node": "Mock Market Data", "type": "main", "index": 0}]]
    },
    "Mock Market Data": {
      "main": [[{"node": "Check High Impact News", "type": "main", "index": 0}]]
    },
    "Check High Impact News": {
      "main": [[{"node": "Merge Cycle ID", "type": "main", "index": 0}]]
    },
    "Merge Cycle ID": {
      "main": [[{"node": "POST Context Validate", "type": "main", "index": 0}]]
    },
    "POST Context Validate": {
      "main": [[{"node": "Is Context Valid?", "type": "main", "index": 0}]]
    },
    "Is Context Valid?": {
      "main": [
        [{"node": "POST Analysis Pairs", "type": "main", "index": 0}],
        [{"node": "Log Skip",            "type": "main", "index": 0}]
      ]
    },
    "POST Analysis Pairs": {
      "main": [[{"node": "Call LLM Agents", "type": "main", "index": 0}]]
    },
    "Call LLM Agents": {
      "main": [[{"node": "POST Risk Evaluate", "type": "main", "index": 0}]]
    },
    "POST Risk Evaluate": {
      "main": [[{"node": "Has Action?", "type": "main", "index": 0}]]
    },
    "Has Action?": {
      "main": [
        [{"node": "POST Order Prepare", "type": "main", "index": 0}],
        [{"node": "Log Skip Action",    "type": "main", "index": 0}]
      ]
    },
    "POST Order Prepare": {
      "main": [[{"node": "Is Approved?", "type": "main", "index": 0}]]
    },
    "Is Approved?": {
      "main": [
        [{"node": "DRY RUN",      "type": "main", "index": 0}],
        [{"node": "Log Rejection","type": "main", "index": 0}]
      ]
    },
    "DRY RUN": {
      "main": [[{"node": "Format Telegram", "type": "main", "index": 0}]]
    },
    "Format Telegram": {
      "main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}
