workflows/WF-TEST-e2e-simulation.json
{"updatedAt":"2026-06-02T13:30:31.132Z","createdAt":"2026-06-02T13:29:53.621Z","id":"6C2xPHaEFpO70hmN","name":"WF-TEST E2E Simulation","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"parameters":{"path":"test-simulate","responseMode":"onReceived","httpMethod":"POST"},"webhookId":"951b86ca-1b35-4cae-bfa4-3906c40b49ad"},{"id":"n2","name":"POST Simulate","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[220,300],"parameters":{"url":"http://127.0.0.1:8090/v1/test/simulate","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"manual_test"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"equity","value":"10000"}]},"options":{}}},{"id":"n3","name":"Format Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300],"parameters":{"jsCode":"const r = $input.first().json;\nconst emoji = r.action === 'buy' ? '🟢' : r.action === 'sell' ? '🔴' : '⚪';\nconst status = r.order_approved ? '✅ ORDEN APROBADA (dry-run)' : '❌ RECHAZADA: ' + r.order_reason;\nconst text = emoji + ' *TEST E2E — Simulación*\\n'\n  + '──────────────\\n'\n  + '*Cycle:* `' + r.cycle_id + '`\\n'\n  + '*Par:* `' + r.best_pair + '` @ `' + r.price + '`\\n'\n  + '*Acción:* `' + (r.action||'').toUpperCase() + '`\\n'\n  + '*Entry:* `' + r.entry + '` | *SL:* `' + r.sl + '` | *TP:* `' + r.tp + '`\\n'\n  + '*Volumen:* `' + r.volume + '` lots\\n'\n  + '*Confianza:* `' + ((r.confidence||0)*100).toFixed(0) + '%`\\n'\n  + '*Risk:* `' + r.risk_reason + '`\\n'\n  + '──────────────\\n'\n  + status + '\\n'\n  + '_[DRY RUN — sin ejecución real]_';\nreturn [{ json: { text } }];","mode":"runOnceForAllItems"}},{"id":"n4","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[660,300],"parameters":{"chatId":"6231139143","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"credentials":{"telegramApi":{"id":"S0L9JXxUjOuC66zv","name":"Telegram account"}},"webhookId":"1373382b-ed1d-4de7-a625-15c31b8c02c0"}],"connections":{"POST Simulate":{"main":[[{"node":"Format Telegram","type":"main","index":0}]]},"Format Telegram":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"POST Simulate","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"f0575659-38f9-458d-b636-b86a6edb4a5b","activeVersionId":"f0575659-38f9-458d-b636-b86a6edb4a5b","versionCounter":5,"triggerCount":1,"shared":[{"updatedAt":"2026-06-02T13:29:53.625Z","createdAt":"2026-06-02T13:29:53.625Z","role":"workflow:owner","workflowId":"6C2xPHaEFpO70hmN","projectId":"KPFvGBpBmH2Cz9hD","project":{"updatedAt":"2026-03-29T12:09:47.740Z","createdAt":"2026-03-29T12:08:55.913Z","id":"KPFvGBpBmH2Cz9hD","name":"Felix Marin Ramirez <felixmurcia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-02T13:30:31.134Z","createdAt":"2026-06-02T13:30:31.134Z","versionId":"f0575659-38f9-458d-b636-b86a6edb4a5b","workflowId":"6C2xPHaEFpO70hmN","nodes":[{"id":"n1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"parameters":{"path":"test-simulate","responseMode":"onReceived","httpMethod":"POST"},"webhookId":"951b86ca-1b35-4cae-bfa4-3906c40b49ad"},{"id":"n2","name":"POST Simulate","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[220,300],"parameters":{"url":"http://127.0.0.1:8090/v1/test/simulate","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Internal-Token","value":"90c42a9448defc1f57K8WGdyb3FYaXgTw00gCVKY9JhfFG1A9tfji"},{"name":"X-Cycle-ID","value":"manual_test"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"equity","value":"10000"}]},"options":{}}},{"id":"n3","name":"Format Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300],"parameters":{"jsCode":"const r = $input.first().json;\nconst emoji = r.action === 'buy' ? '🟢' : r.action === 'sell' ? '🔴' : '⚪';\nconst status = r.order_approved ? '✅ ORDEN APROBADA (dry-run)' : '❌ RECHAZADA: ' + r.order_reason;\nconst text = emoji + ' *TEST E2E — Simulación*\\n'\n  + '──────────────\\n'\n  + '*Cycle:* `' + r.cycle_id + '`\\n'\n  + '*Par:* `' + r.best_pair + '` @ `' + r.price + '`\\n'\n  + '*Acción:* `' + (r.action||'').toUpperCase() + '`\\n'\n  + '*Entry:* `' + r.entry + '` | *SL:* `' + r.sl + '` | *TP:* `' + r.tp + '`\\n'\n  + '*Volumen:* `' + r.volume + '` lots\\n'\n  + '*Confianza:* `' + ((r.confidence||0)*100).toFixed(0) + '%`\\n'\n  + '*Risk:* `' + r.risk_reason + '`\\n'\n  + '──────────────\\n'\n  + status + '\\n'\n  + '_[DRY RUN — sin ejecución real]_';\nreturn [{ json: { text } }];","mode":"runOnceForAllItems"}},{"id":"n4","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[660,300],"parameters":{"chatId":"6231139143","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"credentials":{"telegramApi":{"id":"S0L9JXxUjOuC66zv","name":"Telegram account"}},"webhookId":"1373382b-ed1d-4de7-a625-15c31b8c02c0"}],"connections":{"POST Simulate":{"main":[[{"node":"Format Telegram","type":"main","index":0}]]},"Format Telegram":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"POST Simulate","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Felix Marin Ramirez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-02T13:30:31.284Z","id":395,"workflowId":"6C2xPHaEFpO70hmN","versionId":"f0575659-38f9-458d-b636-b86a6edb4a5b","event":"activated","userId":"2103296d-fece-47a3-8c4b-99ead91b8c22"}]}}