forex/eurusd-data-fetcher.json
{
  "nodes": [
    {
      "parameters": {
        "url": "http://192.168.0.100:8000/api/v1/market/price/EURUSD",
        "options": {}
      },
      "id": "78059a35-dbe5-46ae-84cc-205d692033c8",
      "name": "Get Current Price",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -256,
        160
      ],
      "typeVersion": 4.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=http://192.168.0.100:8000/api/v1/market/candles/date?symbol_name=EURUSD&timeframe=H1&date_from={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}&date_to={{ $now.toFormat('yyyy-MM-dd') }}",
        "options": {}
      },
      "id": "8b36ba72-912f-44be-9322-c1b763a3e0ae",
      "name": "Get Candles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -256,
        464
      ],
      "typeVersion": 4.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "8b92ade3-f3de-4c7f-84cd-b613f47efe38",
      "name": "Merge 2 (Price + Candles)",
      "type": "n8n-nodes-base.merge",
      "position": [
        128,
        320
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        320
      ],
      "id": "2e3492aa-7eab-4766-b2cd-0ec23d6e5f20",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Nodo: \"Ensure Single Output\" - VERSIÓN CORREGIDA PARA VELAS\nconst allItems = $input.all();\n\nconsole.log(`📦 Ensure Single Output: Recibidos ${allItems.length} items`);\n\n// Inicializar objeto combinado\nconst combined = {\n    timestamp: new Date().toISOString()\n};\n\n// Arrays para acumular datos\nlet allCandles = [];\n\n// Procesar CADA ITEM\nfor (let i = 0; i < allItems.length; i++) {\n    const data = allItems[i].json;\n    \n    console.log(`\\n--- Procesando Item ${i} ---`);\n    \n    // ============================================\n    // 1. PRECIO (bid/ask) - solo del primer item que lo tenga\n    // ============================================\n    if (data.bid !== undefined && combined.bid === undefined) {\n        combined.bid = data.bid;\n        combined.ask = data.ask;\n        console.log(`  ✅ Precio: bid ${data.bid}, ask ${data.ask}`);\n    }\n    \n    // ============================================\n    // 2. VELAS - CADA ITEM PUEDE SER UNA VELA INDIVIDUAL\n    // ============================================\n    \n    // Si el item tiene estructura de vela (close, open, high, low)\n    if (data.close !== undefined && data.open !== undefined) {\n        allCandles.push({\n            time: data.time,\n            open: data.open,\n            high: data.high,\n            low: data.low,\n            close: data.close,\n            tick_volume: data.tick_volume,\n            spread: data.spread,\n            real_volume: data.real_volume\n        });\n        console.log(`  ✅ Vela individual: ${data.time} close=${data.close}`);\n    }\n    \n    // Si el item tiene un array de velas\n    if (data.candles && Array.isArray(data.candles) && data.candles.length > 0) {\n        allCandles = allCandles.concat(data.candles);\n        console.log(`  ✅ Velas (array): ${data.candles.length} items`);\n    }\n    \n    // Si el item es un array de velas directamente\n    if (Array.isArray(data) && data.length > 0 && data[0].close !== undefined) {\n        allCandles = allCandles.concat(data);\n        console.log(`  ✅ Velas (array directo): ${data.length} items`);\n    }\n}\n\n// ============================================\n// ORDENAR VELAS POR TIEMPO (más reciente primero o más antigua)\n// ============================================\nif (allCandles.length > 0) {\n    // Ordenar por tiempo (más antigua primero para análisis)\n    allCandles.sort((a, b) => {\n        const dateA = new Date(a.time);\n        const dateB = new Date(b.time);\n        return dateA - dateB;\n    });\n    \n    combined.candles = allCandles;\n    console.log(`\\n📊 Total velas recolectadas: ${allCandles.length}`);\n    console.log(`   - Primera: ${allCandles[0]?.time} close=${allCandles[0]?.close}`);\n    console.log(`   - Última: ${allCandles[allCandles.length-1]?.time} close=${allCandles[allCandles.length-1]?.close}`);\n} else {\n    combined.candles = [];\n    console.log(`\\n⚠️ No se encontraron velas`);\n}\n\n// ============================================\n// DETERMINAR EL SÍMBOLO POR EL PRECIO\n// ============================================\nlet symbol = \"EURUSD\";\nif (combined.bid) {\n    if (combined.bid > 1.0 && combined.bid < 1.2) symbol = \"EURUSD\";\n    else if (combined.bid > 1.2 && combined.bid < 1.4) symbol = \"GBPUSD\";\n    else if (combined.bid > 140 && combined.bid < 170) symbol = \"USDJPY\";\n    else if (combined.bid > 0.85 && combined.bid < 1.0) symbol = \"USDCHF\";\n}\n\ncombined.symbol = symbol;\n\nconsole.log(`\\n📦 RESULTADO FINAL:`);\nconsole.log(`   - symbol: ${combined.symbol}`);\nconsole.log(`   - bid: ${combined.bid}`);\nconsole.log(`   - candles: ${combined.candles.length}`);\n\nreturn [{ json: combined }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        320
      ],
      "id": "49065000-17be-4316-9c85-ac23e5239804",
      "name": "Ensure Single Output"
    }
  ],
  "connections": {
    "Get Current Price": {
      "main": [
        [
          {
            "node": "Merge 2 (Price + Candles)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candles": {
      "main": [
        [
          {
            "node": "Merge 2 (Price + Candles)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 2 (Price + Candles)": {
      "main": [
        [
          {
            "node": "Ensure Single Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Current Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Candles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}
