forex/indice-fortaleza.json
{
  "nodes": [
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        976,
        304
      ],
      "id": "57ed94a5-7c62-428b-952e-b34ca722bfb5",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/eur.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        80
      ],
      "id": "89adbc8c-853a-4639-bac1-a6777bd08fc9",
      "name": "EUR CHANGE"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/gbp.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        256
      ],
      "id": "649b9471-1bf7-4650-8127-6cb89420245f",
      "name": "GBP CHANGE"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/usd.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        432
      ],
      "id": "4fda72dd-3080-4265-88e6-e74f9135900b",
      "name": "USD CHANGE"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/jpy.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        608
      ],
      "id": "40e569cc-a7d8-4c2a-8ad9-0f4119b5c569",
      "name": "JPY CHANGE"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        320
      ],
      "id": "2ffff2a5-a766-445b-affd-3488cf0c26c7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Nodo: \"Calculate Currency Strength\"\nconst allItems = $input.all();\n\nconsole.log(`📊 Recibidos ${allItems.length} items`);\n\n// Inicializar variables\nlet eurData = {};\nlet gbpData = {};\nlet usdData = {};\nlet jpyData = {};\nlet chfData = {};\n\n// Extraer datos de cada item\nfor (const item of allItems) {\n    const data = item.json;\n    \n    // Detectar cuál moneda es por el contenido\n    if (data.eur && data.eur.usd !== undefined) {\n        eurData = data.eur;\n        console.log(\"✅ Datos EUR cargados\");\n    }\n    if (data.gbp && data.gbp.usd !== undefined) {\n        gbpData = data.gbp;\n        console.log(\"✅ Datos GBP cargados\");\n    }\n    if (data.usd && data.usd.eur !== undefined) {\n        usdData = data.usd;\n        console.log(\"✅ Datos USD cargados\");\n    }\n    if (data.jpy && data.jpy.usd !== undefined) {\n        jpyData = data.jpy;\n        console.log(\"✅ Datos JPY cargados\");\n    }\n    if (data.chf && data.chf.usd !== undefined) {\n        chfData = data.chf;\n        console.log(\"✅ Datos CHF cargados\");\n    }\n}\n\n// Calcular tasas\nconst eurUsd = eurData.usd || 0;\nconst gbpUsd = gbpData.usd || 0;\nconst usdJpy = 1 / (jpyData.usd || 1);\nconst usdChf = 1 / (chfData.usd || 1);\n\n// Calcular fortaleza de cada moneda\nconst eurStrength = eurUsd > 1.09 ? \"bullish\" : (eurUsd < 1.07 ? \"bearish\" : \"neutral\");\nconst gbpStrength = gbpUsd > 1.27 ? \"bullish\" : (gbpUsd < 1.25 ? \"bearish\" : \"neutral\");\nconst usdStrength = (eurUsd < 1.08 && gbpUsd < 1.26) ? \"bullish\" : \n                    (eurUsd > 1.10 && gbpUsd > 1.28) ? \"bearish\" : \"neutral\";\nconst jpyStrength = usdJpy < 148 ? \"bullish\" : (usdJpy > 152 ? \"bearish\" : \"neutral\");\nconst chfStrength = usdChf < 0.89 ? \"bullish\" : (usdChf > 0.91 ? \"bearish\" : \"neutral\");\n\n// Calcular puntuación de sentimiento\nlet sentimentScore = 0;\nif (eurStrength === \"bullish\") sentimentScore += 25;\nif (eurStrength === \"bearish\") sentimentScore -= 25;\nif (gbpStrength === \"bullish\") sentimentScore += 25;\nif (gbpStrength === \"bearish\") sentimentScore -= 25;\nif (usdStrength === \"bullish\") sentimentScore += 25;\nif (usdStrength === \"bearish\") sentimentScore -= 25;\nif (jpyStrength === \"bullish\") sentimentScore += 15;\nif (jpyStrength === \"bearish\") sentimentScore -= 15;\nif (chfStrength === \"bullish\") sentimentScore += 10;\nif (chfStrength === \"bearish\") sentimentScore -= 10;\n\nsentimentScore = Math.min(100, Math.max(-100, sentimentScore));\n\nlet overallSentiment = \"neutral\";\nif (sentimentScore > 30) overallSentiment = \"bullish\";\nif (sentimentScore < -30) overallSentiment = \"bearish\";\n\nconsole.log(`📊 ÍNDICE DE FORTALEZA:`);\nconsole.log(`   EUR: ${eurStrength} (EUR/USD: ${eurUsd})`);\nconsole.log(`   GBP: ${gbpStrength} (GBP/USD: ${gbpUsd})`);\nconsole.log(`   USD: ${usdStrength}`);\nconsole.log(`   JPY: ${jpyStrength} (USD/JPY: ${usdJpy.toFixed(2)})`);\nconsole.log(`   CHF: ${chfStrength} (USD/CHF: ${usdChf.toFixed(4)})`);\nconsole.log(`   Sentimiento: ${overallSentiment} (${sentimentScore})`);\n\nreturn [{\n    json: {\n        timestamp: new Date().toISOString(),\n        rates: {\n            EURUSD: eurUsd,\n            GBPUSD: gbpUsd,\n            USDJPY: usdJpy,\n            USDCHF: usdChf\n        },\n        strength: {\n            EUR: eurStrength,\n            GBP: gbpStrength,\n            USD: usdStrength,\n            JPY: jpyStrength,\n            CHF: chfStrength\n        },\n        sentiment: {\n            score: sentimentScore,\n            overall: overallSentiment,\n            market_mood: sentimentScore > 50 ? \"greedy\" : (sentimentScore < -50 ? \"fearful\" : \"calm\")\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        352
      ],
      "id": "dec7b37e-93f1-451e-b560-6c01e927c5fa",
      "name": "Calculate Currency Strength"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/chf.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        800
      ],
      "id": "4a828899-4fc9-4d11-ae36-73fd267c8e33",
      "name": "CHF CHANGE"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Calculate Currency Strength",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EUR CHANGE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GBP CHANGE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "USD CHANGE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "JPY CHANGE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "EUR CHANGE",
            "type": "main",
            "index": 0
          },
          {
            "node": "GBP CHANGE",
            "type": "main",
            "index": 0
          },
          {
            "node": "USD CHANGE",
            "type": "main",
            "index": 0
          },
          {
            "node": "JPY CHANGE",
            "type": "main",
            "index": 0
          },
          {
            "node": "CHF CHANGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHF CHANGE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}
