forex/jetson-v3-BACKUP.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-608, 272],
      "id": "d5754310-c860-4099-86cd-7d34b31baada",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE TÉCNICO v2.0 - DATOS COMPLETOS\n// ============================================\n// MEJORAS:\n// 1. Incluye 5 velas recientes con OHLCV\n// 2. SMAs múltiples (9, 20, 50, 200)\n// 3. ATR real para volatilidad\n// 4. Fortaleza de divisas del par\n// 5. Patrones de velas detectados\n// ============================================\n\nconst context = $input.all()[0].json;\nconst marketData = context.market_data || {};\n\n// ============================================\n// EXTRAER DATOS DEL SÍMBOLO CORRECTO\n// ============================================\nconst symbol = marketData.best_pair || \"EURUSD\";\nconst isJPY = symbol.includes(\"JPY\");\nconst decimals = isJPY ? 1000 : 100000;\nconst pipMultiplier = isJPY ? 100 : 10000;\n\n// Precio correcto del símbolo\nconst currentPrice = marketData.technical?.current_price || \n    marketData.all_prices?.[symbol] || 0;\n\n// ============================================\n// DATOS DE VELAS\n// ============================================\nconst recentCandles = marketData.technical?.candles_recent || [];\n\n// Calcular SMAs si hay suficientes velas\nlet sma9 = 0, sma20 = 0, sma50 = 0, sma200 = 0;\nif (recentCandles.length >= 9) {\n    sma9 = recentCandles.slice(-9).reduce((s, c) => s + (c.close || 0), 0) / 9;\n}\nif (recentCandles.length >= 20) {\n    sma20 = recentCandles.slice(-20).reduce((s, c) => s + (c.close || 0), 0) / 20;\n}\nif (recentCandles.length >= 50) {\n    sma50 = recentCandles.slice(-50).reduce((s, c) => s + (c.close || 0), 0) / 50;\n}\n// SMA200 solo si hay suficientes (puede venir de data fetcher)\nif (recentCandles.length >= 200) {\n    sma200 = recentCandles.slice(-200).reduce((s, c) => s + (c.close || 0), 0) / 200;\n}\n\n// ============================================\n// CALCULAR ATR (Average True Range)\n// ============================================\nlet atr = 0;\nif (recentCandles.length >= 14) {\n    let trueRanges = [];\n    for (let i = 1; i < Math.min(15, recentCandles.length); i++) {\n        const prev = recentCandles[i - 1];\n        const curr = recentCandles[i];\n        const high = curr.high || 0;\n        const low = curr.low || 0;\n        const prevClose = prev.close || 0;\n        const trueRange = Math.max(\n            high - low,\n            Math.abs(high - prevClose),\n            Math.abs(low - prevClose)\n        );\n        trueRanges.push(trueRange);\n    }\n    atr = trueRanges.reduce((s, tr) => s + tr, 0) / trueRanges.length;\n} else {\n    // Default ATR si no hay suficientes velas\n    atr = currentPrice * (isJPY ? 0.003 : 0.0003);\n}\n\n// ============================================\n// DETECTAR PATRONES DE VELAS\n// ============================================\nlet candlePattern = \"none\";\nif (recentCandles.length >= 2) {\n    const last = recentCandles[recentCandles.length - 1];\n    const prev = recentCandles[recentCandles.length - 2];\n    \n    const lastBody = Math.abs((last.close || 0) - (last.open || 0));\n    const lastRange = (last.high || 0) - (last.low || 0);\n    const prevBody = Math.abs((prev.close || 0) - (prev.open || 0));\n    \n    const lastIsBullish = (last.close || 0) > (last.open || 0);\n    const prevIsBullish = (prev.close || 0) > (prev.open || 0);\n    \n    // Doji\n    if (lastRange > 0 && lastBody / lastRange < 0.1) {\n        candlePattern = \"doji\";\n    }\n    // Hammer (bullish reversal)\n    else if (lastRange > 0) {\n        const lowerWick = Math.min(last.close || 0, last.open || 0) - (last.low || 0);\n        const upperWick = (last.high || 0) - Math.max(last.close || 0, last.open || 0);\n        if (lowerWick > lastBody * 2 && upperWick < lastBody) {\n            candlePattern = lastIsBullish ? \"hammer_bullish\" : \"hammer_bearish\";\n        }\n        // Engulfing\n        else if (lastBody > prevBody * 1.5 && lastIsBullish !== prevIsBullish) {\n            candlePattern = lastIsBullish ? \"bullish_engulfing\" : \"bearish_engulfing\";\n        }\n    }\n}\n\n// ============================================\n// VOLUMEN RELATIVO\n// ============================================\nlet currentVolume = 0;\nlet avgVolume = 0;\nlet volumeRatio = 1;\nif (recentCandles.length >= 5) {\n    currentVolume = recentCandles[recentCandles.length - 1]?.tick_volume || 0;\n    avgVolume = recentCandles.slice(-20).reduce((s, c) => s + (c.tick_volume || 0), 0) / Math.min(20, recentCandles.length);\n    volumeRatio = avgVolume > 0 ? currentVolume / avgVolume : 1;\n}\n\n// ============================================\n// INDICADORES TÉCNICOS\n// ============================================\nconst rsi = marketData.technical?.rsi || 50;\nconst rsiStatus = rsi < 30 ? \"oversold\" : (rsi > 70 ? \"overbought\" : \"neutral\");\nconst trend = marketData.technical?.trend || \"neutral\";\nconst support = marketData.technical?.support || (currentPrice * 0.995);\nconst resistance = marketData.technical?.resistance || (currentPrice * 1.005);\nconst score = marketData.best_score || 50;\n\n// Posición del precio vs SMAs\nlet priceVsSma9 = \"neutral\";\nlet priceVsSma20 = \"neutral\";\nlet priceVsSma50 = \"neutral\";\n\nif (currentPrice > 0) {\n    if (sma9 > 0) priceVsSma9 = currentPrice > sma9 * 1.001 ? \"above\" : (currentPrice < sma9 * 0.999 ? \"below\" : \"at\");\n    if (sma20 > 0) priceVsSma20 = currentPrice > sma20 * 1.001 ? \"above\" : (currentPrice < sma20 * 0.999 ? \"below\" : \"at\");\n    if (sma50 > 0) priceVsSma50 = currentPrice > sma50 * 1.001 ? \"above\" : (currentPrice < sma50 * 0.999 ? \"below\" : \"at\");\n}\n\n// ============================================\n// FORTALEZA DE DIVISAS\n// ============================================\nconst currencyStrength = marketData.currency_strength || {};\nconst baseCurrency = symbol.substring(0, 3);\nconst quoteCurrency = symbol.substring(3, 6);\nconst baseStrength = currencyStrength.strength?.[baseCurrency] || \"neutral\";\nconst quoteStrength = currencyStrength.strength?.[quoteCurrency] || \"neutral\";\n\n// ============================================\n// EXPOSICIÓN ACTUAL\n// ============================================\nconst positions = marketData.positions?.details || [];\nconst symbolPositions = positions.filter(p => p.symbol === symbol);\nconst totalExposure = symbolPositions.reduce((sum, p) => sum + Math.abs(p.volume || 0), 0);\n\n// ============================================\n// CONSTRUIR PROMPT COMPLETO\n// ============================================\nconst last5Candles = recentCandles.slice(-5).map((c, i) => {\n    const isBullish = (c.close || 0) > (c.open || 0);\n    return `Candle${i+1}: O:${c.open || 0} H:${c.high || 0} L:${c.low || 0} C:${c.close || 0} V:${c.tick_volume || 0} ${isBullish ? \"BULL\" : \"BEAR\"}`;\n}).join(\" | \");\n\nconst prompt = `[INST] You are an expert forex trading analyst. Analyze ${symbol} with FULL technical data.\n\n═══════════════════════════════════════\n📊 TECHNICAL DATA FOR ${symbol}\n═══════════════════════════════════════\nCurrent Price: ${currentPrice.toFixed(decimals === 1000 ? 3 : 5)}\nRSI (14): ${rsi} (${rsiStatus.toUpperCase()})\nTrend: ${trend.toUpperCase()} | Technical Score: ${score}/100\n\n═══ MOVING AVERAGES ═══\nSMA 9: ${sma9.toFixed(decimals === 1000 ? 3 : 5)} | Price: ${priceVsSma9.toUpperCase()}\nSMA 20: ${sma20.toFixed(decimals === 1000 ? 3 : 5)} | Price: ${priceVsSma20.toUpperCase()}\nSMA 50: ${sma50.toFixed(decimals === 1000 ? 3 : 5)} | Price: ${priceVsSma50.toUpperCase()}\n\n═══ SUPPORT/RESISTANCE ═══\nSupport: ${support.toFixed(decimals === 1000 ? 3 : 5)}\nResistance: ${resistance.toFixed(decimals === 1000 ? 3 : 5)}\n\n═══ VOLATILITY ═══\nATR (14): ${atr.toFixed(decimals === 1000 ? 3 : 5)} (${(atr / currentPrice * 100).toFixed(3)}%)\n\n═══ VOLUME ═══\nCurrent Volume: ${currentVolume}\nAvg Volume (20): ${avgVolume.toFixed(0)}\nVolume Ratio: ${volumeRatio.toFixed(2)}x ${volumeRatio > 1.5 ? \"(HIGH)\" : \"(NORMAL)\"}\n\n═══ CANDLESTICK PATTERNS ═══\nDetected Pattern: ${candlePattern.toUpperCase()}\nLast 5 Candles: ${last5Candles}\n\n═══ CURRENCY STRENGTH ═══\n${baseCurrency}: ${baseStrength.toUpperCase()}\n${quoteCurrency}: ${quoteStrength.toUpperCase()}\n${baseStrength === \"bullish\" && quoteStrength === \"bearish\" ? \"→ STRONG BULLISH setup for \" + symbol : \"\"}${baseStrength === \"bearish\" && quoteStrength === \"bullish\" ? \"→ STRONG BEARISH setup for \" + symbol : \"\"}\n\n═══ CURRENT EXPOSURE ═══\nOpen Positions in ${symbol}: ${symbolPositions.length}\nTotal Exposure: ${totalExposure.toFixed(2)} lots\n\n═══════════════════════════════════════\n📋 REQUIRED JSON OUTPUT:\n═══════════════════════════════════════\nReturn ONLY valid JSON:\n{\n  \"signal\": \"buy\" or \"sell\" or \"neutral\",\n  \"confidence\": 0-100 (integer),\n  \"analysis\": \"Brief technical reasoning (1 sentence)\",\n  \"structure\": \"bullish\" or \"bearish\" or \"range\",\n  \"momentum\": \"strong\" or \"moderate\" or \"weak\",\n  \"entry_zone\": [low, high] (within ±0.2% of ${currentPrice}),\n  \"stop_zone\": [low, high] (within 0.3-0.5% of ${currentPrice})\n}\n\n⚠️ CRITICAL: entry_zone MUST be within ±${(currentPrice * 0.002).toFixed(decimals === 1000 ? 2 : 5)} of ${currentPrice}\n⚠️ Use EXACT price ${currentPrice} as reference for all calculations [/INST]`;\n\nconsole.log(`📈 Agente Técnico v2.0 - ${symbol}`);\nconsole.log(`   Price: ${currentPrice} | RSI: ${rsi} | Trend: ${trend}`);\nconsole.log(`   Pattern: ${candlePattern} | Volume: ${volumeRatio.toFixed(2)}x`);\nconsole.log(`   Prompt length: ${prompt.length} chars`);\n\nreturn [{\n    json: {\n        agent: \"technical\",\n        context: context,\n        technical_data: {\n            symbol: symbol,\n            price: currentPrice,\n            rsi: rsi,\n            trend: trend,\n            support: support,\n            resistance: resistance,\n            score: score,\n            sma9: sma9,\n            sma20: sma20,\n            sma50: sma50,\n            atr: atr,\n            volume_ratio: volumeRatio,\n            candle_pattern: candlePattern,\n            base_strength: baseStrength,\n            quote_strength: quoteStrength,\n            current_exposure: totalExposure\n        },\n        prompt: prompt,\n        status: \"ready\"\n    }\n}];"
      },
      "id": "5fc5138e-33bb-453b-815b-b76b64249002",
      "name": "Agente Técnico",
      "type": "n8n-nodes-base.code",
      "position": [-176, 32],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE FUNDAMENTAL v2.0 - DATOS COMPLETOS\n// ============================================\n// MEJORAS:\n// 1. Titulares reales de noticias\n// 2. Sentimiento por noticia\n// 3. Eventos del calendario con forecast\n// 4. Sesgo neto calculado\n// 5. Riesgo de volatilidad por eventos\n// ============================================\n\nconst context = $input.all()[0].json;\nconst marketData = context.market_data || {};\n\n// ============================================\n// EXTRAER DATOS DEL SÍMBOLO CORRECTO\n// ============================================\nconst symbol = marketData.best_pair || \"EURUSD\";\nconst baseCurrency = symbol.substring(0, 3);\nconst quoteCurrency = symbol.substring(3, 6);\n\n// Datos fundamentales del símbolo\nconst fundamentalData = marketData.fundamental || {};\nconst newsList = fundamentalData.relevant_news || [];\nconst calendarList = fundamentalData.calendar_events || [];\n\n// ============================================\n// PROCESAR NOTICIAS\n// ============================================\nlet bullishNews = 0;\nlet bearishNews = 0;\nlet neutralNews = 0;\nlet highImpactNews = [];\nlet newsHeadlines = [];\n\nfor (const news of newsList) {\n    const sentiment = news.sentiment?.toLowerCase() || \"neutral\";\n    const impact = news.impact?.toLowerCase() || news.relevance?.toLowerCase() || \"medium\";\n    \n    if (sentiment === \"bullish\") bullishNews++;\n    else if (sentiment === \"bearish\") bearishNews++;\n    else neutralNews++;\n    \n    if (impact === \"high\" || news.impact === \"high\") {\n        highImpactNews.push({\n            headline: news.headline || news.title || \"Unknown\",\n            sentiment: sentiment,\n            currency: news.currency || \"\"\n        });\n    }\n    \n    newsHeadlines.push(`[${sentiment.toUpperCase()}] ${news.headline || news.title || \"No headline\"}`);\n}\n\nconst netBias = bullishNews - bearishNews;\nconst totalNews = newsList.length;\n\n// ============================================\n// PROCESAR EVENTOS DEL CALENDARIO\n// ============================================\nlet highImpactEvents = [];\nlet eventDetails = [];\n\nfor (const event of calendarList) {\n    const impact = event.impact?.toLowerCase() || \"medium\";\n    eventDetails.push({\n        event: event.event || event.name || \"Unknown\",\n        currency: event.currency || \"\",\n        impact: impact,\n        forecast: event.forecast || event.expected || \"N/A\",\n        time: event.time || event.date || \"N/A\"\n    });\n    \n    if (impact === \"high\") {\n        highImpactEvents.push(event.event || event.name || \"Unknown\");\n    }\n}\n\nconst netEventBias = eventDetails.filter(e => \n    e.impact === \"high\" && e.currency === baseCurrency\n).length - eventDetails.filter(e => \n    e.impact === \"high\" && e.currency === quoteCurrency\n).length;\n\n// ============================================\n// EVALUAR RIESGO FUNDAMENTAL\n// ============================================\nlet fundamentalRisk = \"low\";\nlet marketBias = \"neutral\";\n\nif (highImpactEvents.length > 2 || highImpactNews.length > 3) {\n    fundamentalRisk = \"high\";\n} else if (highImpactEvents.length > 0 || highImpactNews.length > 0) {\n    fundamentalRisk = \"medium\";\n}\n\nif (netBias > 2) marketBias = \"strongly_bullish\";\nelse if (netBias > 0) marketBias = \"bullish\";\nelse if (netBias < -2) marketBias = \"strongly_bearish\";\nelse if (netBias < 0) marketBias = \"bearish\";\n\n// Ajustar por eventos\nif (highImpactEvents.length > 0 && netEventBias < 0) {\n    marketBias = marketBias.includes(\"bullish\") ? \"neutral\" : \"bearish\";\n}\n\n// ============================================\n// CONSTRUIR PROMPT COMPLETO\n// ============================================\nconst newsSummary = newsHeadlines.slice(0, 5).join(\"\\n\") || \"No news available\";\nconst eventsSummary = eventDetails.map(e => \n    `[${e.impact.toUpperCase()}] ${e.currency}: ${e.event} (Forecast: ${e.forecast})`\n).join(\"\\n\") || \"No events scheduled\";\n\nconst prompt = `[INST] You are an expert forex fundamental analyst. Evaluate ${symbol} based on news and economic events.\n\n═══════════════════════════════════════\n📰 FUNDAMENTAL DATA FOR ${symbol}\n═══════════════════════════════════════\nBase Currency: ${baseCurrency}\nQuote Currency: ${quoteCurrency}\n\n═══ NEWS SENTIMENT ═══\nTotal News: ${totalNews}\nBullish: ${bullishNews} | Bearish: ${bearishNews} | Neutral: ${neutralNews}\nNet Bias: ${netBias > 0 ? \"+\" : \"\"}${netBias} ${netBias > 0 ? \"BULLISH\" : (netBias < 0 ? \"BEARISH\" : \"NEUTRAL\")}\n\n═══ NEWS HEADLINES ═══\n${newsSummary}\n\n═══ HIGH IMPACT NEWS ═══\n${highImpactNews.length > 0 ? highImpactNews.map(n => `[${n.sentiment.toUpperCase()}] ${n.headline}`).join(\"\\n\") : \"None\"}\n\n═══ ECONOMIC CALENDAR ═══\n${eventsSummary}\n\n═══ HIGH IMPACT EVENTS ═══\n${highImpactEvents.length > 0 ? highImpactEvents.join(\", \") : \"None scheduled\"}\n\n═══ RISK ASSESSMENT ═══\nFundamental Risk: ${fundamentalRisk.toUpperCase()}\nMarket Bias: ${marketBias.toUpperCase()}\n${fundamentalRisk === \"high\" ? \"⚠️ HIGH VOLATILITY EXPECTED - Consider waiting\" : \"\"}\n\n═══════════════════════════════════════\n📋 REQUIRED JSON OUTPUT:\n═══════════════════════════════════════\nReturn ONLY valid JSON:\n{\n  \"recommendation\": \"act\" or \"wait\" or \"avoid\",\n  \"confidence\": 0-100 (integer),\n  \"analysis\": \"Brief fundamental reasoning (1 sentence)\",\n  \"impact_direction\": \"bullish\" or \"bearish\" or \"neutral\" or \"volatile\",\n  \"sentiment_score\": -100 to 100 (integer, negative=bearish),\n  \"news_risk\": \"low\" or \"medium\" or \"high\"\n}\n\n⚠️ \"act\" = conditions favorable for trading\n⚠️ \"wait\" = uncertain conditions, wait for clarity\n⚠️ \"avoid\" = high risk events, do NOT trade [/INST]`;\n\nconsole.log(`📰 Agente Fundamental v2.0 - ${symbol}`);\nconsole.log(`   News: ${totalNews} (B:${bullishNews} Be:${bearishNews}) | Events: ${eventDetails.length}`);\nconsole.log(`   Net Bias: ${netBias} | Risk: ${fundamentalRisk}`);\nconsole.log(`   Prompt length: ${prompt.length} chars`);\n\nreturn [{\n    json: {\n        agent: \"fundamental\",\n        context: context,\n        fundamental_data: {\n            symbol: symbol,\n            total_news: totalNews,\n            bullish_news: bullishNews,\n            bearish_news: bearishNews,\n            net_bias: netBias,\n            high_impact_news: highImpactNews.length,\n            high_impact_events: highImpactEvents.length,\n            fundamental_risk: fundamentalRisk,\n            market_bias: marketBias\n        },\n        prompt: prompt,\n        status: \"ready\"\n    }\n}];"
      },
      "id": "410d0e5e-c66d-435c-964e-cd96af95b646",
      "name": "Agente Fundamental",
      "type": "n8n-nodes-base.code",
      "position": [-176, 192],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE SENTIMIENTO v2.0 - DATOS COMPLETOS\n// ============================================\n// MEJORAS:\n// 1. Posiciones abiertas detalladas\n// 2. Órdenes pendientes por dirección\n// 3. Ratio long/short combinado\n// 4. Señal contraria por posicionamiento extremo\n// 5. Contexto risk-on/risk-off\n// ============================================\n\nconst context = $input.all()[0].json;\nconst marketData = context.market_data || {};\n\n// ============================================\n// EXTRAER DATOS DEL SÍMBOLO CORRECTO\n// ============================================\nconst symbol = marketData.best_pair || \"EURUSD\";\n\n// Posiciones abiertas\nconst positions = marketData.positions?.details || [];\nconst symbolPositions = positions.filter(p => p.symbol === symbol);\n\n// Órdenes pendientes\nconst pendingOrders = marketData.pending_orders?.details || [];\nconst symbolPendings = pendingOrders.filter(p => p.symbol === symbol);\n\n// ============================================\n// CALCULAR VOLÚMENES POR DIRECCIÓN\n// ============================================\nlet longVolume = 0;\nlet shortVolume = 0;\nlet longCount = 0;\nlet shortCount = 0;\n\nfor (const p of symbolPositions) {\n    const v = Math.abs(p.volume || 0);\n    const type = (p.type || \"\").toLowerCase();\n    \n    if (type === \"buy\" || type === \"long\") {\n        longVolume += v;\n        longCount++;\n    } else if (type === \"sell\" || type === \"short\") {\n        shortVolume += v;\n        shortCount++;\n    }\n}\n\nlet pendingLongVolume = 0;\nlet pendingShortVolume = 0;\nlet pendingLongCount = 0;\nlet pendingShortCount = 0;\n\nfor (const p of symbolPendings) {\n    const v = Math.abs(p.volume || 0);\n    const type = (p.type || \"\").toLowerCase();\n    \n    if (type.includes(\"buy\") || type === \"long\") {\n        pendingLongVolume += v;\n        pendingLongCount++;\n    } else if (type.includes(\"sell\") || type === \"short\") {\n        pendingShortVolume += v;\n        pendingShortCount++;\n    }\n}\n\n// ============================================\n// CALCULAR RATIOS\n// ============================================\nconst totalLong = longVolume + pendingLongVolume;\nconst totalShort = shortVolume + pendingShortVolume;\nconst totalVolume = totalLong + totalShort;\n\nlet longShortRatio = 0;\nlet sentimentScore = 0;\n\nif (totalVolume > 0) {\n    longShortRatio = totalLong / (totalShort || 0.001);\n    sentimentScore = ((totalLong - totalShort) / totalVolume) * 100;\n}\n\n// ============================================\n// DETERMINAR NIVEL DE SENTIMIENTO\n// ============================================\nlet sentimentLevel = \"neutral\";\nlet contrarianSignal = \"none\";\n\nif (sentimentScore > 70) {\n    sentimentLevel = \"extreme_bullish\";\n    contrarianSignal = \"sell\"; // Contrarian: too many longs\n} else if (sentimentScore > 30) {\n    sentimentLevel = \"bullish\";\n} else if (sentimentScore < -70) {\n    sentimentLevel = \"extreme_bearish\";\n    contrarianSignal = \"buy\"; // Contrarian: too many shorts\n} else if (sentimentScore < -30) {\n    sentimentLevel = \"bearish\";\n}\n\n// ============================================\n// ANÁLISIS DE POSICIONAMIENTO\n// ============================================\nlet positioningAnalysis = \"balanced\";\n\nif (longCount > shortCount * 2 && longCount > 0) {\n    positioningAnalysis = \"crowded_long\";\n} else if (shortCount > longCount * 2 && shortCount > 0) {\n    positioningAnalysis = \"crowded_short\";\n} else if (totalVolume === 0) {\n    positioningAnalysis = \"no_positions\";\n}\n\n// ============================================\n// FORTALEZA DE DIVISAS PARA CONTEXTO\n// ============================================\nconst currencyStrength = marketData.currency_strength || {};\nconst sentiment = currencyStrength.sentiment || {};\nconst marketMood = sentiment.market_mood || sentiment.overall || \"neutral\";\nconst baseCurrency = symbol.substring(0, 3);\nconst quoteCurrency = symbol.substring(3, 6);\nconst baseStrength = currencyStrength.strength?.[baseCurrency] || \"neutral\";\nconst quoteStrength = currencyStrength.strength?.[quoteCurrency] || \"neutral\";\n\n// ============================================\n// CONSTRUIR PROMPT COMPLETO\n// ============================================\nconst prompt = `[INST] You are an expert forex sentiment analyst. Analyze market positioning for ${symbol}.\n\n═══════════════════════════════════════\n💭 SENTIMENT DATA FOR ${symbol}\n═══════════════════════════════════════\n\n═══ OPEN POSITIONS ═══\nLong Positions: ${longCount} (${longVolume.toFixed(2)} lots)\nShort Positions: ${shortCount} (${shortVolume.toFixed(2)} lots)\n\n═══ PENDING ORDERS ═══\nPending Buy: ${pendingLongCount} (${pendingLongVolume.toFixed(2)} lots)\nPending Sell: ${pendingShortCount} (${pendingShortVolume.toFixed(2)} lots)\n\n═══ COMBINED ANALYSIS ═══\nTotal Long: ${totalLong.toFixed(2)} lots\nTotal Short: ${totalShort.toFixed(2)} lots\nLong/Short Ratio: ${longShortRatio.toFixed(2)}:1\nSentiment Score: ${sentimentScore.toFixed(0)} (range: -100 to +100, positive=bullish)\n\n═══ SENTIMENT LEVEL ═══\nCurrent Level: ${sentimentLevel.toUpperCase()}\nContrarian Signal: ${contrarianSignal.toUpperCase()}\nPositioning: ${positioningAnalysis.toUpperCase()}\n\n═══ MARKET CONTEXT ═══\nMarket Mood: ${marketMood.toUpperCase()}\n${baseCurrency} Strength: ${baseStrength.toUpperCase()}\n${quoteCurrency} Strength: ${quoteStrength.toUpperCase()}\n${sentimentLevel.includes(\"extreme\") ? \"⚠️ EXTREME positioning - contrarian opportunity\" : \"\"}\n\n═══ INTERPRETATION GUIDE ═══\n- Score > +70: Extreme bullish → Contrarian SELL signal\n- Score > +30: Moderate bullish → Bias long\n- Score -30 to +30: Neutral → No bias\n- Score < -30: Moderate bearish → Bias short  \n- Score < -70: Extreme bearish → Contrarian BUY signal\n\n═══════════════════════════════════════\n📋 REQUIRED JSON OUTPUT:\n═══════════════════════════════════════\nReturn ONLY valid JSON:\n{\n  \"sentiment\": \"bullish\" or \"bearish\" or \"neutral\",\n  \"confidence\": 0-100 (integer),\n  \"analysis\": \"Brief sentiment reasoning (1 sentence)\",\n  \"contrary_signal\": \"buy\" or \"sell\" or \"none\",\n  \"sentiment_score\": -100 to 100 (integer)\n}\n\n⚠️ If sentiment is EXTREME, use contrary_signal for the opposite direction\n⚠️ Consider market mood and currency strength in your analysis [/INST]`;\n\nconsole.log(`💭 Agente Sentimiento v2.0 - ${symbol}`);\nconsole.log(`   Long: ${totalLong.toFixed(2)} | Short: ${totalShort.toFixed(2)} | Ratio: ${longShortRatio.toFixed(2)}:1`);\nconsole.log(`   Score: ${sentimentScore} | Level: ${sentimentLevel} | Contrarian: ${contrarianSignal}`);\nconsole.log(`   Prompt length: ${prompt.length} chars`);\n\nreturn [{\n    json: {\n        agent: \"sentiment\",\n        context: context,\n        sentiment_data: {\n            symbol: symbol,\n            long_volume: totalLong,\n            short_volume: totalShort,\n            long_short_ratio: longShortRatio,\n            sentiment_score: sentimentScore,\n            sentiment_level: sentimentLevel,\n            contrarian_signal: contrarianSignal,\n            positioning: positioningAnalysis,\n            market_mood: marketMood\n        },\n        prompt: prompt,\n        status: \"ready\"\n    }\n}];"
      },
      "id": "9a0287ac-0ffd-4898-a70f-e956c91b3adf",
      "name": "Agente Sentimiento",
      "type": "n8n-nodes-base.code",
      "position": [-176, 336],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE ESTADÍSTICO v2.0 - DATOS COMPLETOS\n// ============================================\n// MEJORAS:\n// 1. Winrate histórico por agente\n// 2. Sharpe ratio estimado\n// 3. Drawdown máximo reciente\n// 4. Ajuste de volumen por performance\n// 5. Probabilidad bayesiana actualizada\n// ============================================\n\nconst context = $input.all()[0].json;\nconst marketData = context.market_data || {};\nconst memory = context.memory || {};\n\n// ============================================\n// EXTRAER DATOS DEL SÍMBOLO CORRECTO\n// ============================================\nconst symbol = marketData.best_pair || \"EURUSD\";\nconst isJPY = symbol.includes(\"JPY\");\nconst currentPrice = marketData.technical?.current_price || marketData.all_prices?.[symbol] || 0;\nconst rsi = marketData.technical?.rsi || 50;\nconst trend = marketData.technical?.trend || \"neutral\";\nconst score = marketData.best_score || 50;\n\n// ============================================\n// MÉTRICAS DE RENDIMIENTO\n// ============================================\nconst globalMetrics = memory.global_metrics || {};\nconst agentPerformance = memory.performance || {};\nconst preferences = memory.preferences || {};\n\nconst totalTrades = globalMetrics.total_trades || 0;\nconst winningTrades = globalMetrics.winning_trades || 0;\nconst losingTrades = globalMetrics.losing_trades || 0;\nconst globalWinrate = totalTrades > 0 ? (winningTrades / totalTrades * 100) : 50;\n\n// Winrates por agente\nconst techPerf = agentPerformance.technical || {};\nconst fundPerf = agentPerformance.fundamental || {};\nconst sentPerf = agentPerformance.sentiment || {};\nconst statPerf = agentPerformance.statistical || {};\n\nconst techWinrate = techPerf.winrate || (techPerf.total > 0 ? (techPerf.wins / techPerf.total * 100) : 50);\nconst fundWinrate = fundPerf.winrate || (fundPerf.total > 0 ? (fundPerf.wins / fundPerf.total * 100) : 50);\nconst sentWinrate = sentPerf.winrate || (sentPerf.total > 0 ? (sentPerf.wins / sentPerf.total * 100) : 50);\nconst statWinrate = statPerf.winrate || (statPerf.total > 0 ? (statPerf.wins / statPerf.total * 100) : 50);\n\n// ============================================\n// CALCULAR SHARPE RATIO ESTIMADO\n// ============================================\n// Sharpe = (Avg Return - Risk Free) / Std Dev of Returns\n// Simplified: assuming avg win = +50 pips, avg loss = -30 pips\nconst avgWin = 50; // pips\nconst avgLoss = 30; // pips\nconst expectedReturn = (globalWinrate / 100 * avgWin) - ((100 - globalWinrate) / 100 * avgLoss);\nconst volatility = avgWin * 0.5; // rough estimate\nconst sharpeRatio = volatility > 0 ? (expectedReturn / volatility) : 0;\n\n// ============================================\n// CALCULAR DRAWDOWN ESTIMADO\n// ============================================\n// Assuming max drawdown is ~3x the avg loss streak\nconst maxDrawdown = avgLoss * 3; // rough estimate in pips\n\n// ============================================\n// AJUSTE DE VOLUMEN POR PERFORMANCE\n// ============================================\nlet volumeAdjustment = 1.0;\n\nif (totalTrades >= 10) {\n    if (globalWinrate > 60) {\n        volumeAdjustment = 1.2; // Increase volume if profitable\n    } else if (globalWinrate < 40) {\n        volumeAdjustment = 0.5; // Decrease volume if losing\n    } else if (globalWinrate < 45) {\n        volumeAdjustment = 0.7;\n    }\n}\n\n// ============================================\n// PROBABILIDAD BAYESIANA\n// ============================================\n// P(Success | Evidence) = P(Evidence | Success) * P(Success) / P(Evidence)\n// Simplified: combine winrate + trend strength + RSI position\n\nconst trendStrength = trend === \"bullish\" ? 0.6 : (trend === \"bearish\" ? 0.4 : 0.5);\nconst rsiFactor = rsi < 30 ? 0.7 : (rsi > 70 ? 0.3 : 0.5 + (50 - rsi) / 100);\nconst baseProbability = (globalWinrate / 100);\n\n// Bayesian update\nconst bayesianProbability = (\n    (baseProbability * 0.4) + \n    (trendStrength * 0.3) + \n    (rsiFactor * 0.3)\n) * 100;\n\n// ============================================\n// RIESGO ESTADÍSTICO\n// ============================================\nlet riskScore = 50; // 0-100, higher = riskier\n\n// Adjust based on winrate\nif (globalWinrate < 40) riskScore += 20;\nelse if (globalWinrate < 45) riskScore += 10;\nelse if (globalWinrate > 60) riskScore -= 10;\n\n// Adjust based on Sharpe\nif (sharpeRatio < 0.5) riskScore += 15;\nelse if (sharpeRatio > 1.5) riskScore -= 10;\n\n// Adjust based on recent performance\nconst recentTrades = memory.trades || [];\nconst last5Trades = recentTrades.slice(-5);\nconst last5Wins = last5Trades.filter(t => t.result === \"win\").length;\nif (last5Trades.length >= 3) {\n    if (last5Wins === 0) riskScore += 20; // Losing streak\n    else if (last5Wins >= 4) riskScore -= 10; // Winning streak\n}\n\nriskScore = Math.max(0, Math.min(100, riskScore));\n\n// ============================================\n// CONSTRUIR PROMPT COMPLETO\n// ============================================\nconst prompt = `[INST] You are an expert statistical analyst. Evaluate trading system performance for ${symbol}.\n\n═══════════════════════════════════════\n📊 STATISTICAL DATA FOR ${symbol}\n═══════════════════════════════════════\n\n═══ GLOBAL PERFORMANCE ═══\nTotal Trades: ${totalTrades}\nWins: ${winningTrades} | Losses: ${losingTrades}\nWin Rate: ${globalWinrate.toFixed(1)}%\nExpected Return: ${expectedReturn.toFixed(1)} pips/trade\nSharpe Ratio: ${sharpeRatio.toFixed(2)}\nMax Drawdown (est): ~${maxDrawdown} pips\n\n═══ AGENT WINRATES ═══\nTechnical Agent: ${techWinrate.toFixed(1)}% (${techPerf.total || 0} trades)\nFundamental Agent: ${fundWinrate.toFixed(1)}% (${fundPerf.total || 0} trades)\nSentiment Agent: ${sentWinrate.toFixed(1)}% (${sentPerf.total || 0} trades)\nStatistical Agent: ${statWinrate.toFixed(1)}% (${statPerf.total || 0} trades)\n\n═══ CURRENT INDICATORS ═══\nRSI (14): ${rsi}\nTrend: ${trend}\nTechnical Score: ${score}/100\nBayesian Probability: ${bayesianProbability.toFixed(1)}%\n\n═══ RISK METRICS ═══\nRisk Score: ${riskScore}/100 (${riskScore > 60 ? \"HIGH\" : (riskScore < 40 ? \"LOW\" : \"MEDIUM\")})\nVolume Adjustment: ${volumeAdjustment.toFixed(2)}x\n${riskScore > 60 ? \"⚠️ HIGH RISK - Consider reducing position size\" : \"\"}\n\n═══ RECENT PERFORMANCE ═══\nLast 5 Trades: ${last5Wins}/${last5Trades.length} wins\n${last5Wins === 0 && last5Trades.length >= 3 ? \"⚠️ LOSING STREAK - Be cautious\" : \"\"}\n${last5Wins >= 4 ? \"✅ WINNING STREAK - Momentum favorable\" : \"\"}\n\n═══════════════════════════════════════\n📋 REQUIRED JSON OUTPUT:\n═══════════════════════════════════════\nReturn ONLY valid JSON:\n{\n  \"volatility\": \"low\" or \"normal\" or \"high\",\n  \"volume_adjustment\": 0.5 to 1.5 (float),\n  \"probability\": 0-100 (integer, likelihood of success),\n  \"confidence\": 0-100 (integer)\n}\n\n⚠️ probability = your estimated chance of successful trade\n⚠️ volume_adjustment = multiplier for position size (1.0 = normal)\n⚠️ Consider winrate, Sharpe, and recent streak in your assessment [/INST]`;\n\nconsole.log(`📊 Agente Estadístico v2.0 - ${symbol}`);\nconsole.log(`   Trades: ${totalTrades} | WR: ${globalWinrate.toFixed(1)}% | Sharpe: ${sharpeRatio.toFixed(2)}`);\nconsole.log(`   Bayes: ${bayesianProbability.toFixed(1)}% | Risk: ${riskScore} | Vol Adj: ${volumeAdjustment.toFixed(2)}x`);\nconsole.log(`   Prompt length: ${prompt.length} chars`);\n\nreturn [{\n    json: {\n        agent: \"statistical\",\n        context: context,\n        statistical_data: {\n            symbol: symbol,\n            price: currentPrice,\n            rsi: rsi,\n            trend: trend,\n            score: score,\n            total_trades: totalTrades,\n            global_winrate: globalWinrate,\n            sharpe_ratio: sharpeRatio,\n            max_drawdown: maxDrawdown,\n            bayesian_probability: bayesianProbability,\n            risk_score: riskScore,\n            volume_adjustment: volumeAdjustment,\n            agent_winrates: {\n                technical: techWinrate,\n                fundamental: fundWinrate,\n                sentiment: sentWinrate,\n                statistical: statWinrate\n            }\n        },\n        prompt: prompt,\n        status: \"ready\"\n    }\n}];"
      },
      "id": "99c8cdae-8c4f-4fde-ba72-7b6bf1d66f94",
      "name": "Agente Estadístico",
      "type": "n8n-nodes-base.code",
      "position": [-176, 496],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.105:9000/v1/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"max_tokens\": 200,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "68203048-3015-4a5a-933b-88131fa335f9",
      "name": "Mistral - Técnico",
      "type": "n8n-nodes-base.httpRequest",
      "position": [128, 32],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.105:9000/v1/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"max_tokens\": 200,\n  \"temperature\": 0.4\n}",
        "options": {}
      },
      "id": "af8ab2bd-a8c4-4864-a534-ab01da28302f",
      "name": "Mistral - Fundamental",
      "type": "n8n-nodes-base.httpRequest",
      "position": [128, 192],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.105:9000/v1/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"max_tokens\": 200,\n  \"temperature\": 0.4\n}",
        "options": {}
      },
      "id": "3d7a830a-09f0-4a9e-a74a-6e7e38216ef9",
      "name": "Mistral - Sentimiento",
      "type": "n8n-nodes-base.httpRequest",
      "position": [128, 336],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.105:9000/v1/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"max_tokens\": 200,\n  \"temperature\": 0.4\n}",
        "options": {}
      },
      "id": "ce49ef6c-4d5e-4c52-a8a3-7581ce0449d6",
      "name": "Mistral - Estadístico",
      "type": "n8n-nodes-base.httpRequest",
      "position": [128, 496],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "functionCode": "// Nodo: \"Parse Técnico\"\nconst response = $json.choices[0].text.trim();\nconst agentData = $node[\"Agente Técnico\"].json;\n\ntry {\n    const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) throw new Error(\"No JSON found\");\n    \n    const analysis = JSON.parse(jsonMatch[0]);\n    \n    const normalized = {\n        señal: analysis.signal || \"neutral\",\n        confianza: analysis.confidence || 0,\n        analisis: analysis.analysis || \"\",\n        estructura: analysis.structure || \"neutral\",\n        momento: analysis.momentum || \"moderate\",\n        entry_zona: analysis.entry_zone || [0, 0],\n        stop_zona: analysis.stop_zone || [0, 0]\n    };\n    \n    return [{\n        json: {\n            agent: \"technical\",\n            analysis: normalized,\n            raw_response: response,\n            context: agentData.context\n        }\n    }];\n} catch (error) {\n    return [{\n        json: {\n            agent: \"technical\",\n            analysis: {\n                señal: \"neutral\",\n                confianza: 0,\n                analisis: \"Error parsing response\",\n                estructura: \"neutral\",\n                momento: \"moderate\",\n                entry_zona: [0, 0],\n                stop_zona: [0, 0]\n            },\n            error: error.message,\n            context: agentData.context\n        }\n    }];\n}"
      },
      "id": "0f7dc078-721f-416c-afa9-e281b8d851c6",
      "name": "Parse Técnico",
      "type": "n8n-nodes-base.function",
      "position": [432, 32],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Nodo: \"Parse Fundamental\"\nconst response = $json.choices[0].text.trim();\nconst agentData = $node[\"Agente Fundamental\"].json;\n\ntry {\n    const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) throw new Error(\"No JSON found\");\n    \n    const analysis = JSON.parse(jsonMatch[0]);\n    \n    const normalized = {\n        analisis: analysis.analysis || \"\",\n        eventos_clave: analysis.key_events || [],\n        impacto_esperado: analysis.impact_direction || analysis.impacto_esperado || \"neutral\",\n        direccion_impacto: analysis.impact_direction || \"neutral\",\n        riesgo_noticioso: analysis.news_risk || analysis.riesgo_noticioso || \"low\",\n        confianza: analysis.confidence || 50,\n        recomendacion: analysis.recommendation || \"wait\",\n        sentimiento: analysis.sentiment_score || 0\n    };\n    \n    return [{\n        json: {\n            agent: \"fundamental\",\n            analysis: normalized,\n            raw_response: response,\n            context: agentData.context\n        }\n    }];\n} catch (error) {\n    return [{\n        json: {\n            agent: \"fundamental\",\n            analysis: {\n                analisis: \"Error parsing response\",\n                eventos_clave: [],\n                impacto_esperado: \"neutral\",\n                direccion_impacto: \"neutral\",\n                riesgo_noticioso: \"low\",\n                confianza: 40,\n                recomendacion: \"wait\",\n                sentimiento: 0\n            },\n            error: error.message,\n            context: agentData.context\n        }\n    }];\n}"
      },
      "id": "275089e6-3640-4128-82d8-5b18eca4777e",
      "name": "Parse Fundamental",
      "type": "n8n-nodes-base.function",
      "position": [432, 192],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Nodo: \"Parse Sentimiento\"\nconst response = $json.choices[0].text.trim();\nconst agentData = $node[\"Agente Sentimiento\"].json;\n\ntry {\n    const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) throw new Error(\"No JSON found\");\n    \n    const analysis = JSON.parse(jsonMatch[0]);\n    \n    const normalized = {\n        analisis: analysis.analysis || \"\",\n        sentimiento: analysis.sentiment || \"neutral\",\n        puntuacion: analysis.sentiment_score || 0,\n        divergencia: analysis.contrary_signal !== \"none\",\n        señal_contraria: analysis.contrary_signal || \"none\",\n        confianza: analysis.confidence || 50\n    };\n    \n    return [{\n        json: {\n            agent: \"sentiment\",\n            analysis: normalized,\n            raw_response: response,\n            context: agentData.context\n        }\n    }];\n} catch (error) {\n    return [{\n        json: {\n            agent: \"sentiment\",\n            analysis: {\n                analisis: \"Error parsing response\",\n                sentimiento: \"neutral\",\n                puntuacion: 0,\n                divergencia: false,\n                señal_contraria: \"none\",\n                confianza: 0\n            },\n            error: error.message,\n            context: agentData.context\n        }\n    }];\n}"
      },
      "id": "fb9103d5-e442-4978-9f89-76e4049efbbe",
      "name": "Parse Sentimiento",
      "type": "n8n-nodes-base.function",
      "position": [432, 336],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Nodo: \"Parse Estadístico\"\nconst response = $json.choices[0].text.trim();\nconst agentData = $node[\"Agente Estadístico\"].json;\n\ntry {\n    const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) throw new Error(\"No JSON found\");\n    \n    const analysis = JSON.parse(jsonMatch[0]);\n    \n    const normalized = {\n        volatilidad_estado: analysis.volatility || \"normal\",\n        ajuste_volumen: analysis.volume_adjustment || 1.0,\n        probabilidad_continuacion: analysis.probability || 50,\n        confianza: analysis.confidence || 50,\n        analisis: \"Statistical analysis complete\"\n    };\n    \n    return [{\n        json: {\n            agent: \"statistical\",\n            analysis: normalized,\n            raw_response: response,\n            context: agentData.context\n        }\n    }];\n} catch (error) {\n    return [{\n        json: {\n            agent: \"statistical\",\n            analysis: {\n                volatilidad_estado: \"normal\",\n                ajuste_volumen: 1.0,\n                probabilidad_continuacion: 50,\n                confianza: 0,\n                analisis: \"Error parsing response\"\n            },\n            error: error.message,\n            context: agentData.context\n        }\n    }];\n}"
      },
      "id": "795bea7e-97e7-4bdc-b545-0192e496e99f",
      "name": "Parse Estadístico",
      "type": "n8n-nodes-base.function",
      "position": [432, 496],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [896, 240],
      "id": "678e3099-5c28-4f99-9642-3f8d7536ca02",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE ESTRATEGA v2.0 - FUSIÓN INTELIGENTE\n// ============================================\n// MEJORAS:\n// 1. Score ponderado por weights Y winrates\n// 2. Validación R/R mínimo 1.5:1\n// 3. Validación precio vs símbolo\n// 4. Cálculo de volumen basado en riesgo real\n// 5. Fallback seguro si algún agente falla\n// ============================================\n\nconst allAgents = $input.all();\n\n// ============================================\n// INICIALIZAR CON VALORES POR DEFECTO\n// ============================================\nlet technical = { s: \"neutral\", c: 0 };\nlet fundamental = { r: \"wait\", c: 0, d: \"neutral\" };\nlet sentiment = { s: \"neutral\", c: 0, cs: \"none\" };\nlet statistical = { c: 0, vol_adj: 1.0, prob: 50 };\nlet marketData = {};\nlet agentWeights = { t: 0.35, f: 0.25, se: 0.25, st: 0.15 };\nlet agentWinrates = { t: 50, f: 50, se: 50, st: 50 };\n\n// ============================================\n// EXTRAER DATOS DE AGENTES\n// ============================================\nfor (const item of allAgents) {\n    const data = item.json;\n    const a = data.analysis;\n    \n    if (data.agent === \"technical\" && a) {\n        technical = { \n            s: a.señal || a.signal || \"neutral\", \n            c: typeof a.confianza === 'number' ? a.confianza : 0 \n        };\n    }\n    if (data.agent === \"fundamental\" && a) {\n        fundamental = { \n            r: a.recomendacion || a.recommendation || \"wait\", \n            c: typeof a.confianza === 'number' ? a.confianza : 0,\n            d: a.direccion_impacto || a.impact_direction || \"neutral\" \n        };\n    }\n    if (data.agent === \"sentiment\" && a) {\n        sentiment = { \n            s: a.sentimiento || a.sentiment || \"neutral\", \n            c: typeof a.confianza === 'number' ? a.confianza : 0,\n            cs: a.señal_contraria || a.contrary_signal || \"none\" \n        };\n    }\n    if (data.agent === \"statistical\" && a) {\n        statistical = { \n            c: typeof a.confianza === 'number' ? a.confianza : 0,\n            vol_adj: typeof a.ajuste_volumen === 'number' ? a.ajuste_volumen : 1.0,\n            prob: typeof a.probabilidad_continuacion === 'number' ? a.probabilidad_continuacion : 50\n        };\n    }\n    if (data.context) {\n        marketData = data.context.market_data || {};\n        if (data.context.memory?.agent_weights) {\n            agentWeights = data.context.memory.agent_weights;\n        }\n        if (data.context.memory?.performance) {\n            const perf = data.context.memory.performance;\n            agentWinrates = {\n                t: perf.technical?.winrate || 50,\n                f: perf.fundamental?.winrate || 50,\n                se: perf.sentiment?.winrate || 50,\n                st: perf.statistical?.winrate || 50\n            };\n        }\n    }\n}\n\n// ============================================\n// OBTENER DATOS DEL SÍMBOLO\n// ============================================\nconst symbol = marketData.best_pair || \"EURUSD\";\nconst isJPY = symbol.includes(\"JPY\");\nconst price = marketData.technical?.current_price || marketData.all_prices?.[symbol] || 0;\nconst accountBalance = marketData.risk?.account_balance || 100000;\n\n// Validar precio\nconst VALID_RANGES = {\n    EURUSD: { min: 1.05, max: 1.20 },\n    GBPUSD: { min: 1.25, max: 1.40 },\n    USDJPY: { min: 140.0, max: 170.0 },\n    USDCHF: { min: 0.85, max: 1.00 }\n};\nconst DEFAULT_PRICES = {\n    EURUSD: 1.1689, GBPUSD: 1.3570, USDJPY: 159.88, USDCHF: 0.7996\n};\n\nlet validPrice = price;\nconst range = VALID_RANGES[symbol];\nif (range && (price < range.min || price > range.max)) {\n    console.log(`⚠️ Precio ${price} fuera de rango para ${symbol}, usando default`);\n    validPrice = DEFAULT_PRICES[symbol];\n}\nif (validPrice === 0) {\n    validPrice = DEFAULT_PRICES[symbol];\n}\n\n// ============================================\n// CALCULAR SCORE PONDERADO\n// ============================================\n// Weight each agent by their weight AND their winrate\nconst tWeight = (agentWeights.t || 0.35) * (agentWinrates.t / 100);\nconst fWeight = (agentWeights.f || 0.25) * (agentWinrates.f / 100);\nconst seWeight = (agentWeights.se || 0.25) * (agentWinrates.se / 100);\nconst stWeight = (agentWeights.st || 0.15) * (agentWinrates.st / 100);\n\nconst totalWeight = tWeight + fWeight + seWeight + stWeight;\n\nconst tScore = (technical.c / 100) * tWeight;\nconst fScore = (fundamental.c / 100) * fWeight;\nconst seScore = (sentiment.c / 100) * seWeight;\nconst stScore = (statistical.c / 100) * stWeight;\n\nconst rawTotalScore = (tScore + fScore + seScore + stScore);\nconst finalScore = totalWeight > 0 ? (rawTotalScore / totalWeight) * 100 : 0;\nconst normalizedScore = isNaN(finalScore) ? 0 : Math.min(100, Math.max(0, finalScore));\n\n// ============================================\n// CONTAR SEÑALES\n// ============================================\nlet buy = 0, sell = 0;\n\nif (technical.s === \"buy\") buy++;\nif (technical.s === \"sell\") sell++;\n\nif (fundamental.r === \"act\" && fundamental.d === \"bullish\") buy++;\nif (fundamental.r === \"act\" && fundamental.d === \"bearish\") sell++;\nif (fundamental.r === \"avoid\") { buy = 0; sell = 0; } // Fundamental says avoid\n\nif (sentiment.cs === \"buy\") buy++;\nif (sentiment.cs === \"sell\") sell++;\n\n// Sentiment alignment check\nif (sentiment.s === \"bullish\" && technical.s === \"buy\") buy += 0.5; // Bonus for alignment\nif (sentiment.s === \"bearish\" && technical.s === \"sell\") sell += 0.5;\n\n// ============================================\n// DECISIÓN FINAL\n// ============================================\nconst minConfidence = marketData.preferences?.min_confidence || 45;\n\nlet decision = \"hold\";\nlet decisionReason = \"\";\n\n// Fundamental says avoid\nif (fundamental.r === \"avoid\") {\n    decision = \"hold\";\n    decisionReason = \"Fundamental analysis recommends avoiding - high risk events\";\n}\n// Check for buy conditions\nelse if (normalizedScore >= minConfidence && buy > sell && buy >= 1.5) {\n    decision = \"buy\";\n    decisionReason = `Technical: ${technical.s}(${technical.c}%), Fundamental: ${fundamental.r}(${fundamental.d}), Score: ${normalizedScore.toFixed(0)}%`;\n}\n// Check for sell conditions\nelse if (normalizedScore >= minConfidence && sell > buy && sell >= 1.5) {\n    decision = \"sell\";\n    decisionReason = `Technical: ${technical.s}(${technical.c}%), Fundamental: ${fundamental.r}(${fundamental.d}), Score: ${normalizedScore.toFixed(0)}%`;\n}\n// Hold\nelse {\n    decision = \"hold\";\n    decisionReason = `Score ${normalizedScore.toFixed(0)}% < ${minConfidence}% OR signals not aligned (B:${buy.toFixed(1)} S:${sell.toFixed(1)})`;\n}\n\n// ============================================\n// CÁLCULO DE VOLUMEN SEGURO\n// ============================================\nconst riskPercent = 0.02; // 2% risk per trade\nconst maxRiskAmount = accountBalance * riskPercent;\n\n// Stop distance in pips\nconst stopPips = isJPY ? 30 : 30; // 30 pips\nconst pipValue = isJPY ? 1000 : 10; // pip value per standard lot\n\n// Volume calculation: Volume = RiskAmount / (StopPips * PipValue)\nconst calculatedVolume = maxRiskAmount / (stopPips * pipValue);\n\n// Apply statistical volume adjustment\nconst baseVolume = calculatedVolume * statistical.vol_adj;\n\n// Apply constraints (MAX 0.05 lots)\nconst MAX_VOLUME = 0.05;\nconst MIN_VOLUME = 0.01;\n\nlet volume = Math.min(baseVolume, MAX_VOLUME);\nvolume = Math.max(volume, MIN_VOLUME);\nvolume = Math.round(volume * 100) / 100;\n\nconst actualRisk = volume * stopPips * pipValue;\nconst riskPercentOfAccount = (actualRisk / accountBalance * 100);\n\nconsole.log(`💰 Volumen: ${volume} lotes | Riesgo: $${actualRisk.toFixed(2)} (${riskPercentOfAccount.toFixed(2)}%)`);\nconsole.log(`   Base calc: ${calculatedVolume.toFixed(3)} | Stat adj: ${statistical.vol_adj.toFixed(2)}x | Final: ${volume}`);\n\n// ============================================\n// NIVELES DE STOP LOSS Y TAKE PROFIT\n// ============================================\nconst slPips = isJPY ? 30 : 0.0030;\nconst tp1Pips = isJPY ? 45 : 0.0045; // 1.5:1 R/R\nconst tp2Pips = isJPY ? 60 : 0.0060; // 2:1 R/R\n\nlet sl = 0, tp1 = 0, tp2 = 0;\n\nif (decision === \"buy\") {\n    sl = validPrice - slPips;\n    tp1 = validPrice + tp1Pips;\n    tp2 = validPrice + tp2Pips;\n} else if (decision === \"sell\") {\n    sl = validPrice + slPips;\n    tp1 = validPrice - tp1Pips;\n    tp2 = validPrice - tp2Pips;\n}\n\n// Validate R/R ratio\nconst risk = Math.abs(validPrice - sl);\nconst reward = Math.abs(tp1 - validPrice);\nconst rrRatio = risk > 0 ? reward / risk : 0;\n\nif (rrRatio < 1.5 && decision !== \"hold\") {\n    console.log(`⚠️ R/R ${rrRatio.toFixed(2)} < 1.5, adjusting TP1`);\n    tp1 = decision === \"buy\" ? validPrice + (risk * 1.5) : validPrice - (risk * 1.5);\n}\n\n// Redondear\nconst decimals = isJPY ? 1000 : 100000;\nsl = sl > 0 ? Math.round(sl * decimals) / decimals : 0;\ntp1 = tp1 > 0 ? Math.round(tp1 * decimals) / decimals : 0;\ntp2 = tp2 > 0 ? Math.round(tp2 * decimals) / decimals : 0;\n\n// ============================================\n// RESUMEN DE AGENTES\n// ============================================\nconst agentsSummary = {\n    technical: { signal: technical.s, confidence: technical.c, weight: agentWeights.t, winrate: agentWinrates.t },\n    fundamental: { recommendation: fundamental.r, confidence: fundamental.c, direction: fundamental.d, weight: agentWeights.f, winrate: agentWinrates.f },\n    sentiment: { sentiment: sentiment.s, confidence: sentiment.c, contrary: sentiment.cs, weight: agentWeights.se, winrate: agentWinrates.se },\n    statistical: { confidence: statistical.c, volume_adj: statistical.vol_adj, probability: statistical.prob, weight: agentWeights.st, winrate: agentWinrates.st }\n};\n\n// ============================================\n// PROMPT PARA MODELO (VALIDACIÓN FINAL)\n// ============================================\nconst prompt = `[INST] You are a senior trading supervisor. Review and validate a trading decision.\n\n═══════════════════════════════════════\nDECISION TO VALIDATE\n═══════════════════════════════════════\nSymbol: ${symbol}\nProposed Decision: ${decision.toUpperCase()}\nConfidence Score: ${normalizedScore.toFixed(0)}%\nEntry Price: ${validPrice.toFixed(decimals === 1000 ? 3 : 5)}\nStop Loss: ${sl.toFixed(decimals === 1000 ? 3 : 5)}\nTake Profit 1: ${tp1.toFixed(decimals === 1000 ? 3 : 5)}\nTake Profit 2: ${tp2.toFixed(decimals === 1000 ? 3 : 5)}\nVolume: ${volume} lots\nRisk: $${actualRisk.toFixed(2)} (${riskPercentOfAccount.toFixed(2)}% of $${accountBalance})\nR/R Ratio: ${rrRatio.toFixed(2)}:1\n\n═══ AGENT SIGNALS ═══\nTechnical: ${technical.s} (${technical.c}%) | Weight: ${(agentWeights.t*100).toFixed(0)}% | WR: ${agentWinrates.t.toFixed(0)}%\nFundamental: ${fundamental.r} ${fundamental.d} (${fundamental.c}%) | Weight: ${(agentWeights.f*100).toFixed(0)}% | WR: ${agentWinrates.f.toFixed(0)}%\nSentiment: ${sentiment.s} contrary:${sentiment.cs} (${sentiment.c}%) | Weight: ${(agentWeights.se*100).toFixed(0)}% | WR: ${agentWinrates.se.toFixed(0)}%\nStatistical: ${statistical.prob.toFixed(0)}% prob, vol_adj: ${statistical.vol_adj.toFixed(2)}x | Weight: ${(agentWeights.st*100).toFixed(0)}% | WR: ${agentWinrates.st.toFixed(0)}%\n\nBuy Signals: ${buy.toFixed(1)} | Sell Signals: ${sell.toFixed(1)}\n\n═══════════════════════════════════════\nTASK: Validate or override this decision.\nReturn JSON:\n{\n  \"decision\": \"${decision}\" or \"hold\" (if you disagree),\n  \"confidence\": 0-100,\n  \"reasoning\": \"Why you agree/disagree\",\n  \"entry_price\": ${validPrice},\n  \"stop_loss\": ${sl},\n  \"take_profit\": ${tp1},\n  \"volume\": ${volume}\n}\n\n⚠️ If R/R < 1.5 or risk > 3%, change to hold\n⚠️ Price MUST be ${validPrice} ± 0.2% [/INST]`;\n\nconsole.log(`🎯 Decisión: ${decision.toUpperCase()} ${symbol}`);\nconsole.log(`   Score: ${normalizedScore.toFixed(0)}% | B:${buy.toFixed(1)} S:${sell.toFixed(1)}`);\nconsole.log(`   Entry: ${validPrice} | SL: ${sl} | TP1: ${tp1} | R/R: ${rrRatio.toFixed(2)}:1`);\nconsole.log(`   Volumen: ${volume} | Riesgo: $${actualRisk.toFixed(2)}`);\n\nreturn [{\n    json: {\n        decision: decision,\n        confianza: Math.round(normalizedScore),\n        razonamiento: decisionReason,\n        entrada: { precio: validPrice, tolerancia: isJPY ? 0.05 : 0.0005 },\n        stop_loss: { precio: sl, pips: isJPY ? 30 : Math.round(Math.abs(validPrice - sl) * 10000) },\n        take_profit: { objetivo1: tp1, objetivo2: tp2 },\n        volumen: volume,\n        convergence: { \n            level: normalizedScore >= 65 ? \"high\" : (normalizedScore >= 45 ? \"medium\" : \"low\"), \n            agents: [\"technical\", \"fundamental\", \"sentiment\", \"statistical\"] \n        },\n        signals: { buy: Math.round(buy), sell: Math.round(sell) },\n        agents_analysis: agentsSummary,\n        weights_used: agentWeights,\n        risk: {\n            amount: actualRisk,\n            percent: riskPercentOfAccount,\n            r_ratio: rrRatio,\n            stop_pips: isJPY ? 30 : Math.round(Math.abs(validPrice - sl) * 10000)\n        },\n        symbol: symbol,\n        prompt: prompt\n    }\n}];"
      },
      "id": "dd08df60-8bcf-4708-9c2c-f3b0af0d1d9c",
      "name": "Agente Estratega",
      "type": "n8n-nodes-base.code",
      "position": [1216, 272],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.105:9000/v1/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"max_tokens\": 250,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "693dbb91-d7ca-40f4-946a-bf2b883baf52",
      "name": "Mistral - Estratega",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1520, 272],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "functionCode": "// Nodo: \"Parse Estratega\" - Validación final\nconst response = $json.choices[0].text.trim();\nconst strategistData = $node[\"Agente Estratega\"].json;\n\nconsole.log(\"Respuesta raw:\", response);\n\ntry {\n    let jsonMatch = null;\n    \n    // Buscar JSON dentro de bloque de código\n    const codeBlockMatch = response.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (codeBlockMatch) {\n        jsonMatch = codeBlockMatch[1];\n    }\n    \n    // Buscar cualquier {...}\n    if (!jsonMatch) {\n        const braceMatch = response.match(/\\{[\\s\\S]*\\}/);\n        if (braceMatch) {\n            jsonMatch = braceMatch[0];\n        }\n    }\n    \n    let decisionFromAI = null;\n    if (jsonMatch) {\n        try {\n            let cleanJson = jsonMatch\n                .replace(/,\\s*}/g, '}')\n                .replace(/,\\s*]/g, ']')\n                .replace(/(['\"])?([a-zA-Z0-9_]+)(['\"])?\\s*:/g, '\"$2\":');\n            decisionFromAI = JSON.parse(cleanJson);\n            console.log(\"✅ JSON parseado:\", decisionFromAI);\n        } catch(e) {\n            console.log(\"Error parseando JSON:\", e.message);\n        }\n    }\n    \n    // Combinar: priorizar AI supervisor, fallback a local\n    const finalDecision = {\n        decision: decisionFromAI?.decision || strategistData.decision,\n        confianza: decisionFromAI?.confidence || strategistData.confianza,\n        razonamiento: decisionFromAI?.reasoning || strategistData.razonamiento,\n        entrada: strategistData.entrada,\n        stop_loss: strategistData.stop_loss,\n        take_profit: strategistData.take_profit,\n        volumen: decisionFromAI?.volume || strategistData.volumen,\n        symbol: strategistData.symbol,\n        risk: strategistData.risk,\n        convergence: strategistData.convergence,\n        signals: strategistData.signals\n    };\n    \n    console.log(`🎯 Decisión final: ${finalDecision.decision} confianza: ${finalDecision.confianza}`);\n    \n    return [{ json: finalDecision }];\n    \n} catch (error) {\n    console.error(\"Error en Parse Estratega:\", error.message);\n    return [{\n        json: {\n            decision: strategistData.decision,\n            confianza: strategistData.confianza,\n            razonamiento: strategistData.razonamiento,\n            entrada: strategistData.entrada,\n            stop_loss: strategistData.stop_loss,\n            take_profit: strategistData.take_profit,\n            volumen: strategistData.volumen,\n            symbol: strategistData.symbol,\n            risk: strategistData.risk\n        }\n    }];\n}"
      },
      "id": "21af10a4-e742-4c27-9e57-c225face9526",
      "name": "Parse Estratega",
      "type": "n8n-nodes-base.function",
      "position": [1824, 272],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[
        { "node": "Agente Técnico", "type": "main", "index": 0 },
        { "node": "Agente Fundamental", "type": "main", "index": 0 },
        { "node": "Agente Sentimiento", "type": "main", "index": 0 },
        { "node": "Agente Estadístico", "type": "main", "index": 0 }
      ]]
    },
    "Agente Técnico": {
      "main": [[{ "node": "Mistral - Técnico", "type": "main", "index": 0 }]]
    },
    "Agente Fundamental": {
      "main": [[{ "node": "Mistral - Fundamental", "type": "main", "index": 0 }]]
    },
    "Agente Sentimiento": {
      "main": [[{ "node": "Mistral - Sentimiento", "type": "main", "index": 0 }]]
    },
    "Agente Estadístico": {
      "main": [[{ "node": "Mistral - Estadístico", "type": "main", "index": 0 }]]
    },
    "Mistral - Técnico": {
      "main": [[{ "node": "Parse Técnico", "type": "main", "index": 0 }]]
    },
    "Mistral - Fundamental": {
      "main": [[{ "node": "Parse Fundamental", "type": "main", "index": 0 }]]
    },
    "Mistral - Sentimiento": {
      "main": [[{ "node": "Parse Sentimiento", "type": "main", "index": 0 }]]
    },
    "Mistral - Estadístico": {
      "main": [[{ "node": "Parse Estadístico", "type": "main", "index": 0 }]]
    },
    "Parse Técnico": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Parse Fundamental": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Parse Sentimiento": {
      "main": [[{ "node": "Merge", "type": "main", "index": 2 }]]
    },
    "Parse Estadístico": {
      "main": [[{ "node": "Merge", "type": "main", "index": 3 }]]
    },
    "Merge": {
      "main": [[{ "node": "Agente Estratega", "type": "main", "index": 0 }]]
    },
    "Agente Estratega": {
      "main": [[{ "node": "Mistral - Estratega", "type": "main", "index": 0 }]]
    },
    "Mistral - Estratega": {
      "main": [[{ "node": "Parse Estratega", "type": "main", "index": 0 }]]
    },
    "Parse Estratega": {
      "main": [[]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}