forex/jina-calendar-fetcher.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        -112
      ],
      "id": "c8a3904d-89f4-48c6-a244-e0b96a2f24c8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://r.jina.ai/https://www.forexfactory.com/calendar",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -112
      ],
      "id": "d0755949-0b53-4dbe-ac13-bf471cea6c89",
      "name": "Jina Reader"
    },
    {
      "parameters": {
        "jsCode": "// Nodo: \"Process Calendar\" - VERSIÓN CORREGIDA\nconst inputData = $input.all()[0].json;\n\nlet rawText = \"\";\n\nconsole.log(\"📅 Datos recibidos:\", Object.keys(inputData));\n\n// Extraer el texto de la respuesta de Jina Reader\n// Jina devuelve un objeto con { data: \"contenido en markdown\" }\nif (inputData.data && typeof inputData.data === 'string') {\n    rawText = inputData.data;\n    console.log(`✅ Texto extraído de 'data': ${rawText.length} caracteres`);\n} \n// Si es string directamente\nelse if (typeof inputData === 'string') {\n    rawText = inputData;\n    console.log(`✅ Texto extraído de string: ${rawText.length} caracteres`);\n}\n// Si hay raw_text\nelse if (inputData.raw_text) {\n    rawText = inputData.raw_text;\n    console.log(`✅ Texto extraído de raw_text: ${rawText.length} caracteres`);\n}\n// Si hay text\nelse if (inputData.text) {\n    rawText = inputData.text;\n    console.log(`✅ Texto extraído de text: ${rawText.length} caracteres`);\n}\n\n// Limpiar caracteres de escape\nrawText = rawText.replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n\nconsole.log(`📄 Primeros 300 caracteres: ${rawText.substring(0, 300)}`);\n\n// ============================================\n// EXTRAER EVENTOS DEL CALENDARIO\n// ============================================\n\nlet events = [];\nconst lines = rawText.split('\\n');\n\n// Buscar eventos para todas las divisas relevantes\nconst allCurrencies = [\"EUR\", \"USD\", \"GBP\", \"JPY\", \"CHF\", \"CAD\", \"AUD\", \"NZD\"];\n\nfor (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    \n    for (const currency of allCurrencies) {\n        if (line.includes(`| ${currency} |`) || line.includes(` ${currency} |`)) {\n            const cells = line.split('|').map(c => c.trim());\n            let event = \"\";\n            let impact = \"low\";\n            let actual = \"\", forecast = \"\", previous = \"\";\n            \n            for (const cell of cells) {\n                if (cell.includes('ff-impact-red')) impact = \"high\";\n                else if (cell.includes('ff-impact-ora')) impact = \"medium\";\n                \n                if (cell.length > 4 && cell.match(/[A-Za-z]/) && !cell.match(/^\\d{1,2}:\\d{2}/)) {\n                    if (!cell.includes('Image') && !cell.includes('Graph') && !cell.includes('Open Detail')) {\n                        event = cell;\n                    }\n                }\n                \n                if (cell.match(/^-?\\d+\\.?\\d*%?$/) || cell.match(/^-?\\d+[KMB]?$/)) {\n                    if (!actual) actual = cell;\n                    else if (!forecast) forecast = cell;\n                    else if (!previous) previous = cell;\n                }\n            }\n            \n            if (event && event.length > 3 && !event.includes('Alerts') && !event.includes('Detail')) {\n                events.push({\n                    currency: currency,\n                    event: event,\n                    impact: impact,\n                    actual: actual || null,\n                    forecast: forecast || null,\n                    previous: previous || null\n                });\n            }\n        }\n    }\n}\n\n// Eliminar duplicados\nconst uniqueEvents = [];\nconst eventKeys = new Set();\nfor (const event of events) {\n    const key = `${event.currency}_${event.event}`;\n    if (!eventKeys.has(key)) {\n        eventKeys.add(key);\n        uniqueEvents.push(event);\n    }\n}\n\n// Ordenar por impacto\nuniqueEvents.sort((a, b) => {\n    const order = { high: 0, medium: 1, low: 2 };\n    return (order[a.impact] || 3) - (order[b.impact] || 3);\n});\n\nconst topEvents = uniqueEvents.slice(0, 12);\n\nconsole.log(`📅 ${topEvents.length} eventos procesados`);\ntopEvents.forEach(e => console.log(`   - ${e.currency}: ${e.event} (${e.impact})`));\n\nreturn [{\n    json: {\n        calendar: topEvents,\n        calendar_count: topEvents.length,\n        high_impact_count: topEvents.filter(e => e.impact === \"high\").length\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -112
      ],
      "id": "31d46c41-1d61-420e-89cb-8a78e834014c",
      "name": "Process Calendar"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Jina Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader": {
      "main": [
        [
          {
            "node": "Process Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}
