forex/openrouter-una-v3-BACKUP.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        224
      ],
      "id": "5642fa0c-d3f7-47ad-9324-ba4fac9dc955",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE ESTRATEGA - VERSI\u00d3N CORREGIDA v2.0\n// ============================================\n// CORRECCIONES:\n// 1. Usa precios correctos del s\u00edmbolo desde _extracted y market_data\n// 2. Validaci\u00f3n de rangos de precios por s\u00edmbolo\n// 3. Stop loss y take profit con ratios correctos\n// ============================================\n\nconst inputData = $input.all()[0].json;\n\nconsole.log(\"========================================\");\nconsole.log(\"\ud83c\udfaf AGENTE ESTRATEGA v2.0 - INICIANDO\");\nconsole.log(\"========================================\");\n\n// ============================================\n// CONFIGURACI\u00d3N DE VALIDACI\u00d3N DE PRECIOS\n// ============================================\nconst VALID_RANGES = {\n    EURUSD: { min: 1.05, max: 1.20 },\n    GBPUSD: { min: 1.25, max: 1.40 },\n    USDJPY: { min: 140.0, max: 170.0 },\n    USDCHF: { min: 0.85, max: 1.00 }\n};\n\nconst DEFAULT_PRICES = {\n    EURUSD: 1.1689,\n    GBPUSD: 1.3570,\n    USDJPY: 159.88,\n    USDCHF: 0.7996\n};\n\nfunction validatePriceForSymbol(symbol, price) {\n    const range = VALID_RANGES[symbol];\n    if (!range) return { valid: true, price };\n    \n    if (price === null || price === undefined || isNaN(price) || price === 0) {\n        console.log(`\u26a0\ufe0f ${symbol}: Precio inv\u00e1lido ${price}, usando default`);\n        return { valid: false, price: DEFAULT_PRICES[symbol] };\n    }\n    \n    if (price < range.min || price > range.max) {\n        console.log(`\u26a0\ufe0f ${symbol}: Precio ${price} FUERA DE RANGO [${range.min}-${range.max}]`);\n        return { valid: false, price: DEFAULT_PRICES[symbol] };\n    }\n    \n    return { valid: true, price };\n}\n\n// ============================================\n// EXTRAER DATOS DE Parse Unificado (_extracted)\n// ============================================\nlet decision = \"hold\";\nlet confidence = 0;\nlet entryPrice = 0;\nlet stopPrice = 0;\nlet tp1Price = 0;\nlet tp2Price = 0;\nlet volumeValue = 0.05;\n\n// Obtener el s\u00edmbolo del par actual\nlet currentSymbol = \"EURUSD\";\ntry {\n    if (inputData.original?.market_data?.best_pair) {\n        currentSymbol = inputData.original.market_data.best_pair;\n    } else if (inputData.market_data?.best_pair) {\n        currentSymbol = inputData.market_data.best_pair;\n    } else if (inputData._extracted?.symbol) {\n        currentSymbol = inputData._extracted.symbol;\n    }\n} catch(e) {\n    console.log(\"\u26a0\ufe0f No se pudo determinar s\u00edmbolo, usando EURUSD\");\n}\n\nconsole.log(`\ud83d\udcca S\u00edmbolo actual: ${currentSymbol}`);\n\n// Buscar datos en diferentes ubicaciones\nif (inputData._extracted) {\n    console.log(\"\u2705 Leyendo de _extracted\");\n    decision = inputData._extracted.decision || \"hold\";\n    confidence = inputData._extracted.confidence || 0;\n    const entry = inputData._extracted.entry || [0, 0];\n    const stop = inputData._extracted.stop || [0, 0];\n    entryPrice = entry[0] || 0;\n    stopPrice = stop[0] || 0;\n    tp1Price = inputData._extracted.tp1 || 0;\n    tp2Price = inputData._extracted.tp2 || 0;\n    volumeValue = inputData._extracted.volume || 0.05;\n} else if (inputData.state && inputData.state.tecnico) {\n    console.log(\"\u2705 Leyendo de state\");\n    const tech = inputData.state.tecnico;\n    decision = tech.se\u00f1al || \"hold\";\n    confidence = tech.confianza || 0;\n    const entry = tech.entry_zona || [0, 0];\n    const stop = tech.stop_zona || [0, 0];\n    entryPrice = entry[0] || 0;\n    stopPrice = stop[0] || 0;\n    tp1Price = tech.take_profit_1 || 0;\n    tp2Price = tech.take_profit_2 || 0;\n} else if (inputData.decision) {\n    console.log(\"\u2705 Leyendo directamente del input\");\n    decision = inputData.decision || \"hold\";\n    confidence = inputData.confianza || 0;\n    entryPrice = inputData.entrada?.precio || 0;\n    stopPrice = inputData.stop_loss?.precio || 0;\n    tp1Price = inputData.take_profit?.objetivo1 || 0;\n    tp2Price = inputData.take_profit?.objetivo2 || 0;\n    volumeValue = inputData.volumen || 0.05;\n}\n\n// ============================================\n// VALIDAR Y CORREGIR PRECIO DE ENTRADA\n// ============================================\nconst priceValidation = validatePriceForSymbol(currentSymbol, entryPrice);\nentryPrice = priceValidation.price;\n\nif (!priceValidation.valid) {\n    console.log(`\ud83d\udd27 Precio corregido para ${currentSymbol}: ${entryPrice}`);\n}\n\n// Si no hay datos v\u00e1lidos, usar valores por defecto basados en el s\u00edmbolo\nif (decision === \"hold\" || confidence === 0) {\n    console.log(\"\u26a0\ufe0f No se encontraron datos v\u00e1lidos, usando valores por defecto\");\n    \n    // Obtener precio del contexto para el s\u00edmbolo correcto\n    let price = DEFAULT_PRICES[currentSymbol];\n    \n    try {\n        if (inputData.original?.market_data?.all_prices?.[currentSymbol]) {\n            const ctxPrice = inputData.original.market_data.all_prices[currentSymbol];\n            const ctxValidation = validatePriceForSymbol(currentSymbol, ctxPrice);\n            if (ctxValidation.valid) {\n                price = ctxPrice;\n            }\n        } else if (inputData.original?.market_data?.technical?.current_price) {\n            const ctxPrice = inputData.original.market_data.technical.current_price;\n            const ctxValidation = validatePriceForSymbol(currentSymbol, ctxPrice);\n            if (ctxValidation.valid) {\n                price = ctxPrice;\n            }\n        }\n    } catch(e) {\n        console.log(\"\u26a0\ufe0f No se pudo obtener precio del contexto\");\n    }\n    \n    entryPrice = price;\n    decision = \"buy\"; // Fallback conservador\n    confidence = 50;\n    console.log(`\ud83d\udcb0 Precio fallback para ${currentSymbol}: ${price}`);\n}\n\n// ============================================\n// C\u00c1LCULO DE STOP LOSS Y TAKE PROFIT\n// ============================================\n// Validar que SL y TP est\u00e9n en rango correcto\nconst slValidation = validatePriceForSymbol(currentSymbol, stopPrice);\nconst tp1Validation = validatePriceForSymbol(currentSymbol, tp1Price);\nconst tp2Validation = validatePriceForSymbol(currentSymbol, tp2Price);\n\nstopPrice = slValidation.valid ? stopPrice : 0;\ntp1Price = tp1Validation.valid ? tp1Price : 0;\ntp2Price = tp2Validation.valid ? tp2Price : 0;\n\n// Calcular SL/TP si son inv\u00e1lidos o cero\nconst isJPY = currentSymbol.includes(\"JPY\");\nconst slPips = isJPY ? 30 : 0.0030;\nconst tp1Pips = isJPY ? 50 : 0.0050;\nconst tp2Pips = isJPY ? 80 : 0.0080;\n\nif (stopPrice === 0) {\n    stopPrice = decision === \"buy\" ? entryPrice - slPips : entryPrice + slPips;\n}\n\nif (tp1Price === 0) {\n    tp1Price = decision === \"buy\" ? entryPrice + tp1Pips : entryPrice - tp1Pips;\n}\n\nif (tp2Price === 0) {\n    tp2Price = decision === \"buy\" ? entryPrice + tp2Pips : entryPrice - tp2Pips;\n}\n\n// Validar l\u00f3gica de SL/TP\nif (decision === \"buy\") {\n    if (stopPrice >= entryPrice) stopPrice = entryPrice - slPips;\n    if (tp1Price <= entryPrice) tp1Price = entryPrice + tp1Pips;\n    if (tp2Price <= tp1Price) tp2Price = tp1Price + (tp2Pips - tp1Pips);\n} else if (decision === \"sell\") {\n    if (stopPrice <= entryPrice) stopPrice = entryPrice + slPips;\n    if (tp1Price >= entryPrice) tp1Price = entryPrice - tp1Pips;\n    if (tp2Price >= tp1Price) tp2Price = tp1Price - (tp2Pips - tp1Pips);\n}\n\n// Validar ratio riesgo/recompensa m\u00ednimo 1.5:1\nconst risk = Math.abs(entryPrice - stopPrice);\nconst reward1 = Math.abs(tp1Price - entryPrice);\nconst rrRatio = risk > 0 ? reward1 / risk : 0;\n\nif (rrRatio < 1.5) {\n    console.log(`\u26a0\ufe0f Ratio R/R ${rrRatio.toFixed(2)} < 1.5, ajustando TP1`);\n    tp1Price = decision === \"buy\" ? entryPrice + (risk * 1.5) : entryPrice - (risk * 1.5);\n}\n\n// Redondear a decimales correctos\nconst decimals = isJPY ? 1000 : 100000;\nentryPrice = Math.round(entryPrice * decimals) / decimals;\nstopPrice = Math.round(stopPrice * decimals) / decimals;\ntp1Price = Math.round(tp1Price * decimals) / decimals;\ntp2Price = Math.round(tp2Price * decimals) / decimals;\n\n// Limitar volumen (MAX 0.05)\nvolumeValue = Math.min(0.05, Math.max(0.01, volumeValue));\nvolumeValue = Math.round(volumeValue * 100) / 100;\n\n// ============================================\n// RESULTADO FINAL\n// ============================================\nconst finalRR = Math.abs(entryPrice - stopPrice) > 0 ? \n    Math.abs(tp1Price - entryPrice) / Math.abs(entryPrice - stopPrice) : 0;\n\nconsole.log(\"========================================\");\nconsole.log(\"\ud83d\udcca DATOS FINALES DEL ESTRATEGA:\");\nconsole.log(`   S\u00edmbolo: ${currentSymbol}`);\nconsole.log(`   Decisi\u00f3n: ${decision.toUpperCase()}`);\nconsole.log(`   Confianza: ${confidence}%`);\nconsole.log(`   Precio entrada: ${entryPrice}`);\nconsole.log(`   Stop Loss: ${stopPrice}`);\nconsole.log(`   Take Profit 1: ${tp1Price}`);\nconsole.log(`   Take Profit 2: ${tp2Price}`);\nconsole.log(`   Volumen: ${volumeValue}`);\nconsole.log(`   Ratio R/R: ${finalRR.toFixed(2)}:1`);\nconsole.log(\"========================================\");\n\nconst result = {\n    decision: decision,\n    confianza: confidence,\n    razonamiento: `${decision.toUpperCase()} ${currentSymbol} con ${confidence}% confianza. R/R: ${finalRR.toFixed(2)}:1`,\n    entrada: { precio: entryPrice, tolerancia: isJPY ? 0.05 : 0.0005 },\n    stop_loss: { precio: stopPrice, pips: Math.round(Math.abs(entryPrice - stopPrice) * (isJPY ? 100 : 10000)) },\n    take_profit: { objetivo1: tp1Price, objetivo2: tp2Price },\n    volumen: volumeValue,\n    convergence: { level: confidence >= 65 ? \"high\" : (confidence >= 45 ? \"medium\" : \"low\"), agents: [\"technical\", \"fundamental\", \"sentiment\"] },\n    signals: { buy: decision === \"buy\" ? 3 : 0, sell: decision === \"sell\" ? 3 : 0 },\n    symbol: currentSymbol\n};\n\nconsole.log(\"\u2705 AGENTE ESTRATEGA FINALIZADO\");\nconsole.log(`\ud83c\udfaf ${result.decision.toUpperCase()} ${currentSymbol} @ ${result.entrada.precio}`);\n\nreturn [{ json: result }];"
      },
      "id": "b85df793-c290-4394-8723-0744b41bca42",
      "name": "Agente Estratega",
      "type": "n8n-nodes-base.code",
      "position": [
        1584,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE UNIFICADO - VERSI\u00d3N CORREGIDA v2.0\n// ============================================\n// CORRECCIONES:\n// 1. Extrae precios de TODOS los s\u00edmbolos, no solo EURUSD\n// 2. Usa precio del best_pair espec\u00edfico para an\u00e1lisis\n// 3. Valida rangos de precios por s\u00edmbolo\n// ============================================\n\nconst allItems = $input.all();\nconsole.log(`\ud83d\udce6 Recibidos ${allItems.length} items para procesar`);\n\n// ============================================\n// CONFIGURACI\u00d3N DE VALIDACI\u00d3N\n// ============================================\nconst VALID_RANGES = {\n    EURUSD: { min: 1.05, max: 1.20 },\n    GBPUSD: { min: 1.25, max: 1.40 },\n    USDJPY: { min: 140.0, max: 170.0 },\n    USDCHF: { min: 0.85, max: 1.00 }\n};\n\nconst DEFAULT_PRICES = {\n    EURUSD: 1.1689,\n    GBPUSD: 1.3570,\n    USDJPY: 159.88,\n    USDCHF: 0.7996\n};\n\nfunction validatePrice(symbol, price, source) {\n    if (price === null || price === undefined || isNaN(price)) {\n        console.log(`\u26a0\ufe0f ${symbol}: ${source} inv\u00e1lido ${price}, usando default`);\n        return DEFAULT_PRICES[symbol];\n    }\n    \n    const range = VALID_RANGES[symbol];\n    if (range && (price < range.min || price > range.max)) {\n        console.log(`\u26a0\ufe0f ${symbol}: ${source} ${price} FUERA DE RANGO [${range.min}-${range.max}]`);\n        return DEFAULT_PRICES[symbol];\n    }\n    \n    console.log(`\u2705 ${symbol}: ${source} = ${price}`);\n    return price;\n}\n\n// ============================================\n// INICIALIZAR ESTRUCTURA DE DATOS\n// ============================================\nlet marketData = {\n    best_pair: \"EURUSD\",\n    best_score: 0,\n    all_prices: {}, // NUEVO: almacenar precios de todos los s\u00edmbolos\n    technical: {\n        current_price: 0,\n        rsi: 50,\n        trend: \"neutral\",\n        support: 0,\n        resistance: 0,\n        candles: []\n    },\n    fundamental: {\n        news_count: 0,\n        high_impact_events: 0,\n        events: [],\n        relevant_news: [],\n        calendar_events: []\n    },\n    positions: {\n        count: 0,\n        exposure: 0,\n        details: []\n    },\n    pending_orders: {\n        count: 0,\n        exposure: 0,\n        details: []\n    },\n    risk: {\n        account_balance: 100000,\n        risk_amount: 2000,\n        recommended_volume: 0.05,\n        current_exposure: 0,\n        pending_exposure: 0\n    },\n    currency_strength: {\n        rates: {},\n        strength: { EUR: \"neutral\", USD: \"neutral\", GBP: \"neutral\", JPY: \"neutral\", CHF: \"neutral\" },\n        sentiment: { score: 0, overall: \"neutral\", market_mood: \"calm\" }\n    }\n};\n\n// ============================================\n// PROCESAR CADA ITEM DEL ARRAY ENTRANTE\n// ============================================\nfor (const item of allItems) {\n    const data = item.json;\n    \n    // Caso 1: Datos de cuenta (tiene balance, equity, profit)\n    if (data.balance !== undefined && data.equity !== undefined) {\n        marketData.risk.account_balance = data.balance;\n        console.log(`\ud83d\udcb0 Cuenta detectada: Balance ${data.balance}`);\n    }\n    \n    // Caso 2: Orden pendiente (tiene id, symbol, type, open, state=\"PLACED\")\n    if (data.id && data.symbol && data.type && data.state === \"PLACED\") {\n        marketData.pending_orders.count = 1;\n        marketData.pending_orders.exposure = data.volume || 0;\n        marketData.pending_orders.details = [data];\n        marketData.best_pair = data.symbol;\n        console.log(`\u23f0 Orden pendiente: ${data.type} ${data.symbol} @ ${data.open}`);\n    }\n    \n    // Caso 3: Fortaleza de divisas (tiene rates, strength, sentiment)\n    if (data.rates && data.strength && data.sentiment) {\n        marketData.currency_strength = {\n            rates: data.rates,\n            strength: data.strength,\n            sentiment: data.sentiment\n        };\n        \n        // EXTRAER PRECIOS DE TODOS LOS S\u00cdMBOLOS (NO SOLO EURUSD)\n        if (data.rates.EURUSD) {\n            marketData.all_prices.EURUSD = validatePrice(\"EURUSD\", data.rates.EURUSD, \"rates\");\n        }\n        if (data.rates.GBPUSD) {\n            marketData.all_prices.GBPUSD = validatePrice(\"GBPUSD\", data.rates.GBPUSD, \"rates\");\n        }\n        if (data.rates.USDJPY) {\n            marketData.all_prices.USDJPY = validatePrice(\"USDJPY\", data.rates.USDJPY, \"rates\");\n        }\n        if (data.rates.USDCHF) {\n            marketData.all_prices.USDCHF = validatePrice(\"USDCHF\", data.rates.USDCHF, \"rates\");\n        }\n        \n        console.log(`\ud83d\udcb5 Precios extra\u00eddos: ${JSON.stringify(marketData.all_prices)}`);\n        \n        // Calcular tendencia basada en fortaleza de divisas\n        const usdStrength = data.strength.USD || \"neutral\";\n        const eurStrength = data.strength.EUR || \"neutral\";\n        \n        if (eurStrength === \"bullish\" && usdStrength === \"bearish\") {\n            marketData.technical.trend = \"bullish\";\n            marketData.technical.rsi = 65;\n            marketData.best_score = 70;\n        } else if (eurStrength === \"bearish\" && usdStrength === \"bullish\") {\n            marketData.technical.trend = \"bearish\";\n            marketData.technical.rsi = 35;\n            marketData.best_score = 70;\n        } else {\n            marketData.technical.trend = \"neutral\";\n            marketData.technical.rsi = 50;\n            marketData.best_score = 30;\n        }\n        \n        console.log(`\ud83d\udcc8 Tendencia: ${marketData.technical.trend}, RSI: ${marketData.technical.rsi}`);\n    }\n    \n    // Caso 4: Precio directo de data fetcher (tiene symbol y bid)\n    if (data.symbol && data.bid !== undefined) {\n        const sym = data.symbol;\n        marketData.all_prices[sym] = validatePrice(sym, data.bid, \"bid directo\");\n    }\n}\n\n// ============================================\n// ASEGURAR PRECIOS PARA TODOS LOS S\u00cdMBOLOS\n// ============================================\nfor (const [symbol, defaultPrice] of Object.entries(DEFAULT_PRICES)) {\n    if (!marketData.all_prices[symbol]) {\n        console.log(`\u26a0\ufe0f ${symbol}: No encontrado, usando default ${defaultPrice}`);\n        marketData.all_prices[symbol] = defaultPrice;\n    }\n}\n\n// ============================================\n// ESTABLECER PRECIO ACTUAL DEL BEST_PAIR\n// ============================================\n// Si no se detect\u00f3 best_pair, usar EURUSD\nif (marketData.best_pair === \"EURUSD\" && marketData.best_score === 0) {\n    // Intentar determinar mejor par desde fortaleza de divisas\n    const strength = marketData.currency_strength.strength;\n    let bestScore = 0;\n    let bestPair = \"EURUSD\";\n    \n    const pairs = [\n        { sym: \"EURUSD\", base: strength.EUR, quote: strength.USD },\n        { sym: \"GBPUSD\", base: strength.GBP, quote: strength.USD },\n        { sym: \"USDJPY\", base: strength.USD, quote: strength.JPY },\n        { sym: \"USDCHF\", base: strength.USD, quote: strength.CHF }\n    ];\n    \n    for (const pair of pairs) {\n        let score = 50;\n        if (pair.base === \"bullish\" && pair.quote === \"bearish\") score = 70;\n        else if (pair.base === \"bearish\" && pair.quote === \"bullish\") score = 70;\n        else if (pair.base === \"neutral\" && pair.quote === \"neutral\") score = 30;\n        \n        if (score > bestScore) {\n            bestScore = score;\n            bestPair = pair.sym;\n        }\n    }\n    \n    marketData.best_pair = bestPair;\n    marketData.best_score = bestScore;\n    console.log(`\ud83c\udfc6 Mejor par determinado: ${bestPair} con score ${bestScore}`);\n}\n\n// USAR EL PRECIO CORRECTO DEL BEST_PAIR\nconst currentPrice = marketData.all_prices[marketData.best_pair] || DEFAULT_PRICES[marketData.best_pair];\nmarketData.technical.current_price = currentPrice;\n\nconsole.log(`\\n\ud83d\udcb0 PRECIO FINAL PARA ${marketData.best_pair}: ${currentPrice}`);\nconsole.log(`   Todos los precios: ${JSON.stringify(marketData.all_prices)}\\n`);\n\n// ============================================\n// CREAR CONTEXTO PARA AGENTES\n// ============================================\nconst context = {\n    market_data: marketData,\n    memory: {\n        agent_weights: { technical: 0.35, fundamental: 0.25, sentiment: 0.25, statistical: 0.15 },\n        preferences: { risk_tolerance: 0.02, min_confidence: 45 },\n        global_metrics: { total_trades: 0, winrate: 0 },\n        performance: {\n            technical: { winrate: 0 },\n            fundamental: { winrate: 0 },\n            sentiment: { winrate: 0 },\n            statistical: { winrate: 0 }\n        }\n    }\n};\n\n// ============================================\n// PREPARAR DATOS T\u00c9CNICOS\n// ============================================\nconst technicalData = {\n    symbol: marketData.best_pair,\n    price: marketData.technical.current_price,\n    rsi: marketData.technical.rsi || 50,\n    trend: marketData.technical.trend || \"neutral\",\n    support: marketData.technical.support || 0,\n    resistance: marketData.technical.resistance || 0,\n    score: marketData.best_score || 0\n};\n\nconst candles = marketData.technical.candles || [];\nconst lastCandle = candles[candles.length - 1] || {};\nconst prevCandle = candles[candles.length - 2] || {};\n\nconst candleBody = Math.abs((lastCandle.close || 0) - (lastCandle.open || 0));\nconst candleRange = (lastCandle.high || 0) - (lastCandle.low || 0);\nconst isBullishCandle = (lastCandle.close || 0) > (lastCandle.open || 0);\nconst isBearishCandle = (lastCandle.close || 0) < (lastCandle.open || 0);\n\nconst currentVolume = lastCandle.tick_volume || 0;\nconst prevVolume = prevCandle.tick_volume || 0;\nconst volumeChange = prevVolume > 0 ? ((currentVolume - prevVolume) / prevVolume * 100) : 0;\n\nconst sma20 = candles.slice(-20).reduce((sum, c) => sum + (c.close || 0), 0) / 20;\nconst sma50 = candles.slice(-50).reduce((sum, c) => sum + (c.close || 0), 0) / 50;\n\nconst rsiStatus = technicalData.rsi < 30 ? \"oversold\" : (technicalData.rsi > 70 ? \"overbought\" : \"neutral\");\n\nconst avgTrueRange = technicalData.symbol.includes(\"JPY\") ? 0.5 : 0.003;\nconst volatilityPercent = (avgTrueRange / technicalData.price * 100).toFixed(2);\n\n// ============================================\n// PREPARAR DATOS FUNDAMENTALES\n// ============================================\nconst fd = {\n    symbol: marketData.best_pair,\n    news_count: marketData.fundamental.news_count || 0,\n    relevant_news: marketData.fundamental.relevant_news || [],\n    calendar_events: marketData.fundamental.calendar_events || []\n};\n\nlet usdNews = [];\nlet eurNews = [];\n\nfor (const news of fd.relevant_news) {\n    const currency = news.currency || \"\";\n    if (currency === \"USD\") usdNews.push(news);\n    else if (currency === \"EUR\") eurNews.push(news);\n}\n\nconst highImpactEventsList = fd.calendar_events.filter(e => e.impact === \"high\");\nconst upcomingEvents = highImpactEventsList.slice(0, 3).map(e => `${e.currency}:${e.event}`).join(', ');\n\n// ============================================\n// PREPARAR DATOS DE SENTIMIENTO\n// ============================================\nconst positions = marketData.positions.details || [];\nconst pendingOrders = marketData.pending_orders.details || [];\n\nlet longVolume = 0, shortVolume = 0;\nfor (const p of positions) {\n    const v = Math.abs(p.volume || 0);\n    if ([\"buy\", \"long\", \"BUY\"].includes(p.type)) longVolume += v;\n    else if ([\"sell\", \"short\", \"SELL\"].includes(p.type)) shortVolume += v;\n}\n\nlet pendingLongVolume = 0, pendingShortVolume = 0;\nfor (const p of pendingOrders) {\n    const v = Math.abs(p.volume || 0);\n    if (p.type && p.type.includes(\"BUY\")) pendingLongVolume += v;\n    if (p.type && p.type.includes(\"SELL\")) pendingShortVolume += v;\n}\n\nconst totalLongVolume = longVolume + pendingLongVolume;\nconst totalShortVolume = shortVolume + pendingShortVolume;\nconst totalVolume = totalLongVolume + totalShortVolume;\nlet combinedRatio = 0;\nif (totalVolume > 0) {\n    combinedRatio = ((totalLongVolume - totalShortVolume) / totalVolume) * 100;\n}\n\nlet sentimentLevel = \"neutral\";\nif (combinedRatio > 60) sentimentLevel = \"extreme_bullish\";\nelse if (combinedRatio > 25) sentimentLevel = \"bullish\";\nelse if (combinedRatio < -60) sentimentLevel = \"extreme_bearish\";\nelse if (combinedRatio < -25) sentimentLevel = \"bearish\";\n\nlet contrarySignal = \"none\";\nif (sentimentLevel === \"extreme_bullish\") contrarySignal = \"sell\";\nelse if (sentimentLevel === \"extreme_bearish\") contrarySignal = \"buy\";\n\n// ============================================\n// PREPARAR DATOS ESTAD\u00cdSTICOS\n// ============================================\nconst globalMetrics = context.memory.global_metrics || {};\nconst preferences = context.memory.preferences || {};\nconst totalTrades = globalMetrics.total_trades || 0;\nconst winRate = globalMetrics.winrate || 0;\nconst riskTolerance = preferences.risk_tolerance || 0.02;\nconst accountBalance = marketData.risk.account_balance || 100000;\n\n// ============================================\n// CONSTRUIR PROMPT UNIFICADO\n// ============================================\nconst isJPY = technicalData.symbol.includes(\"JPY\");\nconst priceMultiplier = isJPY ? 0.002 : 0.002;\n\nconst unifiedPrompt = `You are a senior trading AI with 20 years of experience. Perform a COMPLETE market analysis for ${technicalData.symbol}.\n\n========================================\nTECHNICAL DATA\n========================================\nSymbol: ${technicalData.symbol}\nCurrent Price: ${technicalData.price}  \u26a0\ufe0f USE THIS EXACT PRICE FOR ALL CALCULATIONS\nRSI (14): ${technicalData.rsi} (${rsiStatus})\nTrend: ${technicalData.trend} | Score: ${technicalData.score}/100\nSupport: ${technicalData.support} | Resistance: ${technicalData.resistance}\nLast Candle: ${isBullishCandle ? \"BULLISH\" : (isBearishCandle ? \"BEARISH\" : \"NEUTRAL\")}\nVolume Change: ${volumeChange > 0 ? '+' : ''}${volumeChange.toFixed(1)}%\nSMA 20: ${sma20.toFixed(isJPY ? 2 : 5)} | SMA 50: ${sma50.toFixed(isJPY ? 2 : 5)}\nVolatility: ${volatilityPercent}%\n\n========================================\nFUNDAMENTAL DATA\n========================================\nNews Articles: ${fd.news_count}\nUSD News: ${usdNews.length} | EUR News: ${eurNews.length}\nUpcoming Events: ${upcomingEvents || \"none\"}\n\n========================================\nSENTIMENT DATA\n========================================\nLong Volume: ${totalLongVolume.toFixed(2)} lots\nShort Volume: ${totalShortVolume.toFixed(2)} lots\nSentiment Score: ${combinedRatio.toFixed(1)}%\nSentiment Level: ${sentimentLevel.toUpperCase()}\nContrarian Signal: ${contrarySignal.toUpperCase()}\n\n========================================\nSTATISTICAL DATA\n========================================\nTotal Trades: ${totalTrades}\nWin Rate: ${winRate}%\nRisk Tolerance: ${(riskTolerance * 100).toFixed(0)}%\nAccount Balance: $${accountBalance}\n\n========================================\n\u26a0\ufe0f CRITICAL PRICE INSTRUCTIONS \u26a0\ufe0f\n========================================\nThe CURRENT PRICE for ${technicalData.symbol} is EXACTLY ${technicalData.price}.\n\nALL your price values MUST use this price as reference:\n- entry_zone: Must be within \u00b1${(technicalData.price * priceMultiplier).toFixed(isJPY ? 2 : 5)} of ${technicalData.price}\n- stop_zone: Must be within ${(technicalData.price * priceMultiplier * 1.5).toFixed(isJPY ? 2 : 5)} of ${technicalData.price}\n- take_profit_1: Must be within ${(technicalData.price * priceMultiplier * 2).toFixed(isJPY ? 2 : 5)} of ${technicalData.price}\n- take_profit_2: Must be within ${(technicalData.price * priceMultiplier * 3).toFixed(isJPY ? 2 : 5)} of ${technicalData.price}\n\n${isJPY ? `Example for ${technicalData.symbol} at ${technicalData.price}:` : `Example for ${technicalData.symbol} at ${technicalData.price}:`}\n  \"entry_zone\": [${(technicalData.price * 0.999).toFixed(isJPY ? 2 : 5)}, ${(technicalData.price * 1.001).toFixed(isJPY ? 2 : 5)}],\n  \"stop_zone\": [${(technicalData.price * (technicalData.trend === \"bullish\" ? 0.997 : 1.003)).toFixed(isJPY ? 2 : 5)}, ${(technicalData.price * (technicalData.trend === \"bullish\" ? 0.998 : 1.002)).toFixed(isJPY ? 2 : 5)}],\n  \"take_profit_1\": ${(technicalData.price * 1.003).toFixed(isJPY ? 2 : 5)},\n  \"take_profit_2\": ${(technicalData.price * 1.005).toFixed(isJPY ? 2 : 5)}\n\n\u26a0\ufe0f DO NOT use prices outside these ranges. \u26a0\ufe0f\n\u26a0\ufe0f DO NOT use values like 70, 80, 110 for non-JPY pairs. \u26a0\ufe0f\n\nReturn JSON with: decision (buy/sell/hold), confidence (0-100), reasoning, entry_zone [low,high], stop_zone [low,high], take_profit_1, take_profit_2, volume (0.01-0.05 lots)`;\n\nconsole.log('========================================');\nconsole.log('\ud83d\ude80 AGENTE UNIFICADO v2.0');\nconsole.log('========================================');\nconsole.log(`\ud83d\udcca Symbol: ${technicalData.symbol} | Price: ${technicalData.price}`);\nconsole.log(`\ud83d\udcc8 RSI: ${technicalData.rsi} (${rsiStatus}) | Trend: ${technicalData.trend}`);\nconsole.log(`\ud83d\udcf0 News: ${fd.news_count} | Sentiment: ${sentimentLevel}`);\nconsole.log(`\ud83d\udcb5 All prices: ${JSON.stringify(marketData.all_prices)}`);\nconsole.log(`\ud83d\udccf Prompt length: ${unifiedPrompt.length} characters`);\nconsole.log('========================================');\n\nreturn [{\n    json: {\n        agent: \"unified\",\n        context: context,\n        prompt: unifiedPrompt,\n        status: \"ready\"\n    }\n}];"
      },
      "id": "5c1e2d23-e13c-4d2b-96da-8c99fd555cde",
      "name": "Agente Unificado",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.nbes.blog"
            },
            {
              "name": "X-OpenRouter-Title",
              "value": "n8n-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openrouter/free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 800\n}",
        "options": {
          "sendCredentialsOnCrossOriginRedirect": false
        }
      },
      "id": "79b5e78c-dc03-4c03-8644-fb7765e6a2d4",
      "name": "Model Unificado",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        224
      ],
      "typeVersion": 4.4,
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "httpBearerAuth": {
          "id": "Ec3QfCR3IT6sO42Z",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// ============================================\n// PARSE UNIFICADO - VERSI\u00d3N CORREGIDA v2.0\n// ============================================\n// CORRECCIONES:\n// 1. Validaci\u00f3n de rangos de precios extra\u00eddos\n// 2. Soporte mejorado para pares JPY\n// 3. Extrae precios correctos del contexto\n// ============================================\n\nconsole.log(\"========================================\");\nconsole.log(\"\ud83d\udce5 PARSE UNIFICADO v2.0 - INICIANDO\");\nconsole.log(\"========================================\");\n\n// ============================================\n// CONFIGURACI\u00d3N DE VALIDACI\u00d3N\n// ============================================\nconst VALID_RANGES = {\n    EURUSD: { min: 1.05, max: 1.20 },\n    GBPUSD: { min: 1.25, max: 1.40 },\n    USDJPY: { min: 140.0, max: 170.0 },\n    USDCHF: { min: 0.85, max: 1.00 }\n};\n\nconst DEFAULT_PRICES = {\n    EURUSD: 1.1689,\n    GBPUSD: 1.3570,\n    USDJPY: 159.88,\n    USDCHF: 0.7996\n};\n\nfunction validateExtractedPrice(symbol, price, field) {\n    const range = VALID_RANGES[symbol];\n    if (!range) return { valid: true, price };\n    \n    if (price === null || price === undefined || isNaN(price) || price === 0) {\n        console.log(`\u26a0\ufe0f ${symbol}: ${field} inv\u00e1lido (${price})`);\n        return { valid: false, price: DEFAULT_PRICES[symbol] };\n    }\n    \n    // Ampliar rangos para TP/SL que pueden estar m\u00e1s lejos\n    const extendedRange = {\n        min: range.min - (range.max - range.min) * 0.1,\n        max: range.max + (range.max - range.min) * 0.1\n    };\n    \n    if (price < extendedRange.min || price > extendedRange.max) {\n        console.log(`\u26a0\ufe0f ${symbol}: ${field} ${price} FUERA DE RANGO EXTENDIDO`);\n        return { valid: false, price: DEFAULT_PRICES[symbol] };\n    }\n    \n    return { valid: true, price };\n}\n\n// ============================================\n// OBTENER CONTENIDO DE OPENROUTER\n// ============================================\nlet content = \"\";\n\ntry {\n    if ($json.choices && $json.choices[0] && $json.choices[0].message) {\n        content = $json.choices[0].message.content;\n    } else if ($json.content) {\n        content = $json.content;\n    } else if (typeof $json === 'string') {\n        content = $json;\n    } else {\n        content = JSON.stringify($json);\n    }\n    \n    console.log(\"\u2705 Contenido obtenido, longitud:\", content.length);\n} catch (e) {\n    console.error(\"\u274c Error obteniendo contenido:\", e.message);\n    content = \"\";\n}\n\n// ============================================\n// OBTENER DATOS DE MERCADO DEL CONTEXTO\n// ============================================\nlet contextData = {};\nlet currentPrice = 1.1689;\nlet trend = \"neutral\";\nlet currentSymbol = \"EURUSD\";\n\ntry {\n    const prevNode = $node[\"Agente Unificado\"];\n    if (prevNode && prevNode.json && prevNode.json.context) {\n        contextData = prevNode.json.context;\n        const marketData = contextData.market_data || {};\n        \n        // Obtener s\u00edmbolo actual\n        currentSymbol = marketData.best_pair || \"EURUSD\";\n        \n        // USAR PRECIO DEL ALL_PRICES para el s\u00edmbolo correcto\n        if (marketData.all_prices && marketData.all_prices[currentSymbol]) {\n            const priceFromAll = marketData.all_prices[currentSymbol];\n            const validation = validateExtractedPrice(currentSymbol, priceFromAll, \"all_prices\");\n            if (validation.valid) {\n                currentPrice = priceFromAll;\n            } else {\n                currentPrice = validation.price;\n            }\n        } else if (marketData.technical?.current_price) {\n            const priceFromTech = marketData.technical.current_price;\n            const validation = validateExtractedPrice(currentSymbol, priceFromTech, \"technical\");\n            if (validation.valid) {\n                currentPrice = priceFromTech;\n            } else {\n                currentPrice = validation.price;\n            }\n        }\n        \n        trend = marketData.technical?.trend || \"neutral\";\n    }\n} catch (e) {\n    console.log(\"\u26a0\ufe0f No se pudo obtener contexto, usando valores por defecto\");\n}\n\nconsole.log(`\ud83d\udcb0 S\u00edmbolo: ${currentSymbol}`);\nconsole.log(`\ud83d\udcb0 Precio actual: ${currentPrice}`);\nconsole.log(`\ud83d\udcc8 Tendencia: ${trend}`);\n\n// ============================================\n// EXTRAER DECISI\u00d3N DEL TEXTO\n// ============================================\nlet decision = \"hold\";\nlet confidence = 50;\n\nconst textLower = content.toLowerCase();\n\nif (textLower.includes(\"**buy**\") || \n    textLower.includes(\"direction:** buy\") ||\n    (textLower.includes(\"buy\") && !textLower.includes(\"sell\") && textLower.includes(\"long\"))) {\n    decision = \"buy\";\n    confidence = 70;\n    console.log(\"\u2705 Decisi\u00f3n detectada: BUY\");\n} else if (textLower.includes(\"**sell**\") || \n           textLower.includes(\"direction:** sell\") ||\n           textLower.includes(\"short\")) {\n    decision = \"sell\";\n    confidence = 70;\n    console.log(\"\u2705 Decisi\u00f3n detectada: SELL\");\n} else if (textLower.includes(\"hold\") || textLower.includes(\"wait\")) {\n    decision = \"hold\";\n    confidence = 30;\n    console.log(\"\u26a0\ufe0f Decisi\u00f3n detectada: HOLD\");\n} else {\n    console.log(\"\u26a0\ufe0f No se detect\u00f3 decisi\u00f3n clara, usando tendencia\");\n    if (trend === \"bullish\") {\n        decision = \"buy\";\n        confidence = 55;\n    } else if (trend === \"bearish\") {\n        decision = \"sell\";\n        confidence = 55;\n    }\n}\n\n// ============================================\n// EXTRAER NIVELES DE PRECIO CON VALIDACI\u00d3N\n// ============================================\nconst isJPY = currentSymbol.includes(\"JPY\");\n\n// Funci\u00f3n para validar precio extra\u00eddo\nfunction isValidExtractedPrice(val, symbol) {\n    if (val === null || val === undefined || isNaN(val) || val === 0) return false;\n    const range = VALID_RANGES[symbol];\n    if (!range) return true;\n    // Ampliar rango para SL/TP\n    const extendedMin = range.min - (range.max - range.min) * 0.2;\n    const extendedMax = range.max + (range.max - range.min) * 0.2;\n    return val >= extendedMin && val <= extendedMax;\n}\n\n// Entry zone\nlet entryLow = currentPrice * (isJPY ? 0.999 : 0.999);\nlet entryHigh = currentPrice * (isJPY ? 1.001 : 1.001);\n\nconst entryPatterns = [\n    /entry zone[:\\s]*[*]*\\[([0-9.]+),\\s*([0-9.]+)\\]/i,\n    /entry[:\\s]*\\[([0-9.]+)[,\\s]+([0-9.]+)\\]/i,\n    /between\\s+([0-9.]+)\\s+and\\s+([0-9.]+)/i\n];\n\nfor (const pattern of entryPatterns) {\n    const match = content.match(pattern);\n    if (match && match[1] && match[2]) {\n        const val1 = parseFloat(match[1]);\n        const val2 = parseFloat(match[2]);\n        if (isValidExtractedPrice(val1, currentSymbol) && isValidExtractedPrice(val2, currentSymbol)) {\n            entryLow = val1;\n            entryHigh = val2;\n            console.log(`\ud83d\udcca Entry zone encontrada: ${entryLow} - ${entryHigh}`);\n            break;\n        }\n    }\n}\n\n// Stop loss\nlet stopLow = currentPrice * (isJPY ? 0.997 : 0.997);\nlet stopHigh = currentPrice * (isJPY ? 1.003 : 1.003);\n\nconst stopPatterns = [\n    /stop[-\\s]*loss[:\\s]*[*]*\\[([0-9.]+),\\s*([0-9.]+)\\]/i,\n    /stop[:\\s]*\\[([0-9.]+)[,\\s]+([0-9.]+)\\]/i,\n    /stop[-]loss[:\\s]*([0-9.]+)/i\n];\n\nfor (const pattern of stopPatterns) {\n    const match = content.match(pattern);\n    if (match) {\n        if (match[1] && match[2]) {\n            const val1 = parseFloat(match[1]);\n            const val2 = parseFloat(match[2]);\n            if (isValidExtractedPrice(val1, currentSymbol) && isValidExtractedPrice(val2, currentSymbol)) {\n                stopLow = val1;\n                stopHigh = val2;\n                console.log(`\ud83d\udcca Stop loss encontrado: ${stopLow} - ${stopHigh}`);\n                break;\n            }\n        } else if (match[1]) {\n            const val = parseFloat(match[1]);\n            if (isValidExtractedPrice(val, currentSymbol)) {\n                if (decision === \"buy\") {\n                    stopLow = val;\n                    stopHigh = val + (isJPY ? 0.5 : 0.001);\n                } else {\n                    stopLow = val - (isJPY ? 0.5 : 0.001);\n                    stopHigh = val;\n                }\n                console.log(`\ud83d\udcca Stop loss encontrado: ${stopLow} - ${stopHigh}`);\n                break;\n            }\n        }\n    }\n}\n\n// Take profits\nlet tp1 = decision === \"buy\" ? currentPrice * (isJPY ? 1.003 : 1.003) : currentPrice * (isJPY ? 0.997 : 0.997);\nlet tp2 = decision === \"buy\" ? currentPrice * (isJPY ? 1.005 : 1.005) : currentPrice * (isJPY ? 0.995 : 0.995);\n\nconst tp1Patterns = [\n    /take[-\\s]*profit[-\\s]*1[:\\s]*[*]*([0-9.]+)/i,\n    /tp1[:\\s]*([0-9.]+)/i,\n    /profit\\s+1[:\\s]*([0-9.]+)/i\n];\n\nfor (const pattern of tp1Patterns) {\n    const match = content.match(pattern);\n    if (match && match[1]) {\n        const val = parseFloat(match[1]);\n        if (isValidExtractedPrice(val, currentSymbol)) {\n            tp1 = val;\n            console.log(`\ud83d\udcca TP1 encontrado: ${tp1}`);\n            break;\n        }\n    }\n}\n\nconst tp2Patterns = [\n    /take[-\\s]*profit[-\\s]*2[:\\s]*[*]*([0-9.]+)/i,\n    /tp2[:\\s]*([0-9.]+)/i,\n    /profit\\s+2[:\\s]*([0-9.]+)/i\n];\n\nfor (const pattern of tp2Patterns) {\n    const match = content.match(pattern);\n    if (match && match[1]) {\n        const val = parseFloat(match[1]);\n        if (isValidExtractedPrice(val, currentSymbol)) {\n            tp2 = val;\n            console.log(`\ud83d\udcca TP2 encontrado: ${tp2}`);\n            break;\n        }\n    }\n}\n\n// Volumen\nlet volume = 0.04;\nconst volumeMatch = content.match(/(\\d+\\.?\\d*)\\s*(?:standard\\s*)?lots?/i);\nif (volumeMatch) {\n    const vol = parseFloat(volumeMatch[1]);\n    if (vol > 0 && vol <= 0.05) {\n        volume = Math.min(0.05, Math.max(0.01, vol));\n        console.log(`\ud83d\udcca Volumen encontrado: ${volume} lots`);\n    }\n}\n\n// Redondear valores\nconst decimals = isJPY ? 1000 : 100000;\nentryLow = Math.round(entryLow * decimals) / decimals;\nentryHigh = Math.round(entryHigh * decimals) / decimals;\nstopLow = Math.round(stopLow * decimals) / decimals;\nstopHigh = Math.round(stopHigh * decimals) / decimals;\ntp1 = Math.round(tp1 * decimals) / decimals;\ntp2 = Math.round(tp2 * decimals) / decimals;\n\nconsole.log(\"========================================\");\nconsole.log(\"\ud83d\udcca DATOS FINALES EXTRACCI\u00d3N:\");\nconsole.log(`   S\u00edmbolo: ${currentSymbol}`);\nconsole.log(`   Decisi\u00f3n: ${decision.toUpperCase()}`);\nconsole.log(`   Confianza: ${confidence}%`);\nconsole.log(`   Entry: ${entryLow} - ${entryHigh}`);\nconsole.log(`   Stop: ${stopLow} - ${stopHigh}`);\nconsole.log(`   TP1: ${tp1}`);\nconsole.log(`   TP2: ${tp2}`);\nconsole.log(`   Volumen: ${volume}`);\nconsole.log(\"========================================\");\n\n// ============================================\n// CONSTRUIR RESULTADO\n// ============================================\nconst resultState = {\n    tecnico: {\n        se\u00f1al: decision,\n        confianza: confidence,\n        analisis: `${decision.toUpperCase()} setup for ${currentSymbol}`,\n        estructura: decision === \"buy\" ? \"bullish\" : (decision === \"sell\" ? \"bearish\" : \"range\"),\n        momento: \"moderate\",\n        volatilidad: \"normal\",\n        entry_zona: [entryLow, entryHigh],\n        stop_zona: [stopLow, stopHigh],\n        take_profit_1: tp1,\n        take_profit_2: tp2,\n        risk_reward_ratio: Math.abs((tp1 - entryLow) / (entryLow - stopLow)).toFixed(2),\n        volumen_signal: \"neutral\",\n        vela_signal: decision === \"buy\" ? \"bullish\" : \"neutral\"\n    },\n    fundamental: {\n        recomendacion: decision === \"hold\" ? \"wait\" : \"act\",\n        confianza: Math.max(0, confidence - 10),\n        analisis: `Fundamental analysis for ${currentSymbol}`,\n        direccion_impacto: decision === \"buy\" ? \"bullish\" : (decision === \"sell\" ? \"bearish\" : \"neutral\"),\n        riesgo_noticioso: \"low\",\n        sentimiento: decision === \"buy\" ? 20 : (decision === \"sell\" ? -20 : 0),\n        central_bias: \"neutral\",\n        volatilidad_esperada: \"medium\",\n        eventos_clave: []\n    },\n    sentimiento: {\n        sentimiento: decision === \"buy\" ? \"bullish\" : (decision === \"sell\" ? \"bearish\" : \"neutral\"),\n        confianza: Math.max(0, confidence - 5),\n        analisis: `Sentiment analysis for ${currentSymbol}`,\n        se\u00f1al_contraria: \"none\",\n        puntuacion: 0,\n        market_mood: \"calm\",\n        divergencia: \"none\",\n        extremo: false\n    },\n    estadistico: {\n        volatilidad_estado: \"normal\",\n        ajuste_volumen: 1.0,\n        probabilidad_continuacion: 65,\n        confianza: Math.max(0, confidence - 15),\n        analisis: `Statistical analysis for ${currentSymbol}`,\n        riesgo_score: 40,\n        sharpe_estimado: 0.8\n    }\n};\n\nconst output = [{\n    json: {\n        original: contextData,\n        state: resultState,\n        _extracted: {\n            decision: decision,\n            confidence: confidence,\n            entry: [entryLow, entryHigh],\n            stop: [stopLow, stopHigh],\n            tp1: tp1,\n            tp2: tp2,\n            volume: volume,\n            symbol: currentSymbol\n        }\n    }\n}];\n\nconsole.log(\"\u2705 PARSE UNIFICADO v2.0 COMPLETADO\");\nconsole.log(`\ud83c\udfaf OUTPUT FINAL: ${decision.toUpperCase()} ${currentSymbol} con ${confidence}% confianza`);\n\nreturn output;"
      },
      "id": "1c66853e-9be6-4ac4-81bd-382c57365f1d",
      "name": "Parse Unificado",
      "type": "n8n-nodes-base.function",
      "position": [
        1248,
        224
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Estratega": {
      "main": [
        []
      ]
    },
    "Agente Unificado": {
      "main": [
        [
          {
            "node": "Model Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Unificado": {
      "main": [
        [
          {
            "node": "Parse Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Unificado": {
      "main": [
        [
          {
            "node": "Agente Estratega",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}