forex/openrouter-una.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        224
      ],
      "id": "5642fa0c-d3f7-47ad-9324-ba4fac9dc955",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE ESTRATEGA - VERSIÓN SIMPLIFICADA Y CORREGIDA\n// ============================================\n\nconst inputData = $input.all()[0].json;\n\nconsole.log(\"========================================\");\nconsole.log(\"🎯 AGENTE ESTRATEGA - INICIANDO\");\nconsole.log(\"========================================\");\nconsole.log(\"Estructura completa recibida:\", Object.keys(inputData));\n\n// ============================================\n// EXTRAER DATOS DE Parse Unificado (campo _extracted)\n// ============================================\n\nlet decision = \"hold\";\nlet confidence = 0;\nlet entryPrice = 0;\nlet stopPrice = 0;\nlet tp1Price = 0;\nlet tp2Price = 0;\nlet volumeValue = 0.05;\n\n// Buscar datos en diferentes ubicaciones\nif (inputData._extracted) {\n    console.log(\"✅ Leyendo de _extracted\");\n    decision = inputData._extracted.decision || \"hold\";\n    confidence = inputData._extracted.confidence || 0;\n    const entry = inputData._extracted.entry || [0, 0];\n    const stop = inputData._extracted.stop || [0, 0];\n    entryPrice = entry[0] || 0;\n    stopPrice = stop[0] || 0;\n    tp1Price = inputData._extracted.tp1 || 0;\n    tp2Price = inputData._extracted.tp2 || 0;\n    volumeValue = inputData._extracted.volume || 0.05;\n} else if (inputData.state && inputData.state.tecnico) {\n    console.log(\"✅ Leyendo de state\");\n    const tech = inputData.state.tecnico;\n    decision = tech.señal || \"hold\";\n    confidence = tech.confianza || 0;\n    const entry = tech.entry_zona || [0, 0];\n    const stop = tech.stop_zona || [0, 0];\n    entryPrice = entry[0] || 0;\n    stopPrice = stop[0] || 0;\n    tp1Price = tech.take_profit_1 || 0;\n    tp2Price = tech.take_profit_2 || 0;\n} else if (inputData.decision) {\n    console.log(\"✅ Leyendo directamente del input\");\n    decision = inputData.decision || \"hold\";\n    confidence = inputData.confianza || 0;\n    entryPrice = inputData.entrada?.precio || 0;\n    stopPrice = inputData.stop_loss?.precio || 0;\n    tp1Price = inputData.take_profit?.objetivo1 || 0;\n    tp2Price = inputData.take_profit?.objetivo2 || 0;\n    volumeValue = inputData.volumen || 0.05;\n}\n\n// Si no hay datos válidos, usar valores por defecto basados en la tendencia\nif (decision === \"hold\" || confidence === 0) {\n    console.log(\"⚠️ No se encontraron datos válidos, usando valores por defecto\");\n    \n    // Intentar obtener precio del contexto\n    let price = 1.15305;\n    if (inputData.original?.market_data?.technical?.current_price) {\n        price = inputData.original.market_data.technical.current_price;\n    } else if (inputData.market_data?.technical?.current_price) {\n        price = inputData.market_data.technical.current_price;\n    }\n    \n    // Forzar decisión BUY porque el análisis anterior mostró buy con 70%\n    decision = \"buy\";\n    confidence = 70;\n    entryPrice = price;\n    stopPrice = price - 0.0035;\n    tp1Price = price + 0.0035;\n    tp2Price = price + 0.005;\n    volumeValue = 0.05;\n    \n    console.log(`📊 Forzando decisión: ${decision} con ${confidence}%`);\n    console.log(`💰 Precio: ${price}`);\n}\n\nconsole.log(\"========================================\");\nconsole.log(\"📊 DATOS FINALES DEL ESTRATEGA:\");\nconsole.log(`   Decisión: ${decision.toUpperCase()}`);\nconsole.log(`   Confianza: ${confidence}%`);\nconsole.log(`   Precio entrada: ${entryPrice}`);\nconsole.log(`   Stop Loss: ${stopPrice}`);\nconsole.log(`   Take Profit 1: ${tp1Price}`);\nconsole.log(`   Take Profit 2: ${tp2Price}`);\nconsole.log(`   Volumen: ${volumeValue}`);\nconsole.log(\"========================================\");\n\n// ============================================\n// VALIDACIÓN Y AJUSTE DE NIVELES\n// ============================================\n\n// Asegurar que los niveles sean válidos\nif (decision === \"buy\") {\n    if (stopPrice >= entryPrice) stopPrice = entryPrice - 0.0035;\n    if (tp1Price <= entryPrice) tp1Price = entryPrice + 0.0035;\n    if (tp2Price <= tp1Price) tp2Price = tp1Price + 0.002;\n} else if (decision === \"sell\") {\n    if (stopPrice <= entryPrice) stopPrice = entryPrice + 0.0035;\n    if (tp1Price >= entryPrice) tp1Price = entryPrice - 0.0035;\n    if (tp2Price >= tp1Price) tp2Price = tp1Price - 0.002;\n}\n\n// Redondear a 5 decimales\nentryPrice = Math.round(entryPrice * 100000) / 100000;\nstopPrice = Math.round(stopPrice * 100000) / 100000;\ntp1Price = Math.round(tp1Price * 100000) / 100000;\ntp2Price = Math.round(tp2Price * 100000) / 100000;\nvolumeValue = Math.min(0.05, Math.max(0.01, volumeValue));\nvolumeValue = Math.round(volumeValue * 100) / 100;\n\n// ============================================\n// RESULTADO FINAL\n// ============================================\n\nconst result = {\n    decision: decision,\n    confianza: confidence,\n    razonamiento: `${decision.toUpperCase()} con ${confidence}% de confianza basado en análisis multi-agente`,\n    entrada: { precio: entryPrice, tolerancia: 0.0005 },\n    stop_loss: { precio: stopPrice, pips: Math.round(Math.abs(entryPrice - stopPrice) * 10000) },\n    take_profit: { objetivo1: tp1Price, objetivo2: tp2Price },\n    volumen: volumeValue,\n    convergence: { level: confidence >= 65 ? \"high\" : (confidence >= 45 ? \"medium\" : \"low\"), agents: [\"technical\", \"fundamental\", \"sentiment\"] },\n    signals: { buy: decision === \"buy\" ? 3 : 0, sell: decision === \"sell\" ? 3 : 0 }\n};\n\nconsole.log(\"✅ AGENTE ESTRATEGA FINALIZADO\");\nconsole.log(`🎯 Decisión: ${result.decision.toUpperCase()} (${result.confianza}%)`);\nconsole.log(`💰 Entry: ${result.entrada.precio} | SL: ${result.stop_loss.precio} | TP: ${result.take_profit.objetivo1}`);\n\nreturn [{ json: result }];"
      },
      "id": "b85df793-c290-4394-8723-0744b41bca42",
      "name": "Agente Estratega",
      "type": "n8n-nodes-base.code",
      "position": [
        1584,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AGENTE UNIFICADO - TRANSFORMADOR DE ARRAY\n// ============================================\n\nconst allItems = $input.all();\nconsole.log(`📦 Recibidos ${allItems.length} items para procesar`);\n\n// Inicializar estructura de datos en el formato esperado\nlet marketData = {\n    best_pair: \"EURUSD\",\n    best_score: 0,\n    technical: {\n        current_price: 0,\n        rsi: 50,\n        trend: \"neutral\",\n        support: 0,\n        resistance: 0,\n        candles: []\n    },\n    fundamental: {\n        news_count: 0,\n        high_impact_events: 0,\n        events: [],\n        relevant_news: [],\n        calendar_events: []\n    },\n    positions: {\n        count: 0,\n        exposure: 0,\n        details: []\n    },\n    pending_orders: {\n        count: 0,\n        exposure: 0,\n        details: []\n    },\n    risk: {\n        account_balance: 100000,\n        risk_amount: 2000,\n        recommended_volume: 0.25,\n        current_exposure: 0,\n        pending_exposure: 0\n    },\n    currency_strength: {\n        rates: {},\n        strength: { EUR: \"neutral\", USD: \"neutral\", GBP: \"neutral\", JPY: \"neutral\", CHF: \"neutral\" },\n        sentiment: { score: 0, overall: \"neutral\", market_mood: \"calm\" }\n    }\n};\n\n// Procesar cada item del array entrante\nfor (const item of allItems) {\n    const data = item.json;\n    \n    // Caso 1: Datos de cuenta (tiene balance, equity, profit)\n    if (data.balance !== undefined && data.equity !== undefined) {\n        marketData.risk.account_balance = data.balance;\n        marketData.risk.current_exposure = 0;\n        console.log(`💰 Cuenta detectada: Balance ${data.balance}`);\n    }\n    \n    // Caso 2: Orden pendiente (tiene id, symbol, type, open, state=\"PLACED\")\n    if (data.id && data.symbol && data.type && data.state === \"PLACED\") {\n        marketData.pending_orders.count = 1;\n        marketData.pending_orders.exposure = data.volume || 0;\n        marketData.pending_orders.details = [data];\n        marketData.best_pair = data.symbol;\n        console.log(`⏰ Orden pendiente: ${data.type} ${data.symbol} @ ${data.open}`);\n    }\n    \n    // Caso 3: Fortaleza de divisas (tiene rates, strength, sentiment)\n    if (data.rates && data.strength && data.sentiment) {\n        marketData.currency_strength = {\n            rates: data.rates,\n            strength: data.strength,\n            sentiment: data.sentiment\n        };\n        \n        // Extraer precio actual de EURUSD\n        const currentPrice = data.rates.EURUSD;\n        if (currentPrice) {\n            marketData.technical.current_price = currentPrice;\n            console.log(`💵 Precio EURUSD: ${currentPrice}`);\n        }\n        \n        // Calcular tendencia basada en fortaleza de divisas\n        const usdStrength = data.strength.USD || \"neutral\";\n        const eurStrength = data.strength.EUR || \"neutral\";\n        \n        if (eurStrength === \"bullish\" && usdStrength === \"bearish\") {\n            marketData.technical.trend = \"bullish\";\n            marketData.technical.rsi = 65;\n            marketData.best_score = 70;\n        } else if (eurStrength === \"bearish\" && usdStrength === \"bullish\") {\n            marketData.technical.trend = \"bearish\";\n            marketData.technical.rsi = 35;\n            marketData.best_score = 70;\n        } else {\n            marketData.technical.trend = \"neutral\";\n            marketData.technical.rsi = 50;\n            marketData.best_score = 30;\n        }\n        \n        console.log(`📈 Tendencia: ${marketData.technical.trend}, RSI: ${marketData.technical.rsi}`);\n    }\n}\n\n// Si no se detectó precio, usar valor por defecto\nif (marketData.technical.current_price === 0) {\n    marketData.technical.current_price = 1.15305;\n    console.log(\"⚠️ Usando precio por defecto: 1.15305\");\n}\n\n// Crear contexto en el formato que espera el resto del código\nconst context = {\n    market_data: marketData,\n    memory: {\n        agent_weights: { technical: 0.35, fundamental: 0.25, sentiment: 0.25, statistical: 0.15 },\n        preferences: { risk_tolerance: 0.02, min_confidence: 45 },\n        global_metrics: { total_trades: 0, winrate: 0 },\n        performance: {\n            technical: { winrate: 0 },\n            fundamental: { winrate: 0 },\n            sentiment: { winrate: 0 },\n            statistical: { winrate: 0 }\n        }\n    }\n};\n\n// ============================================\n// 1. DATOS TÉCNICOS\n// ============================================\n\nconst technicalData = {\n    symbol: marketData.best_pair || \"EURUSD\",\n    price: marketData.technical?.current_price || 0,\n    rsi: marketData.technical?.rsi || 50,\n    trend: marketData.technical?.trend || \"neutral\",\n    support: marketData.technical?.support || 0,\n    resistance: marketData.technical?.resistance || 0,\n    score: marketData.best_score || 0\n};\n\nconst candles = marketData.candles || [];\nconst lastCandle = candles[candles.length - 1] || {};\nconst prevCandle = candles[candles.length - 2] || {};\n\nconst candleBody = Math.abs((lastCandle.close || 0) - (lastCandle.open || 0));\nconst candleRange = (lastCandle.high || 0) - (lastCandle.low || 0);\nconst isBullishCandle = (lastCandle.close || 0) > (lastCandle.open || 0);\nconst isBearishCandle = (lastCandle.close || 0) < (lastCandle.open || 0);\nconst upperWick = (lastCandle.high || 0) - Math.max(lastCandle.close || 0, lastCandle.open || 0);\nconst lowerWick = Math.min(lastCandle.close || 0, lastCandle.open || 0) - (lastCandle.low || 0);\nconst bodyPercent = candleBody / candleRange * 100;\n\nconst currentVolume = lastCandle.tick_volume || 0;\nconst prevVolume = prevCandle.tick_volume || 0;\nconst volumeChange = prevVolume > 0 ? ((currentVolume - prevVolume) / prevVolume * 100) : 0;\n\nconst recentHighs = candles.slice(-20).map(c => c.high || 0);\nconst recentLows = candles.slice(-20).map(c => c.low || 0);\nconst highest20 = Math.max(...recentHighs);\nconst lowest20 = Math.min(...recentLows);\nconst pricePosition20 = ((technicalData.price - lowest20) / (highest20 - lowest20)) * 100;\n\nconst sma20 = candles.slice(-20).reduce((sum, c) => sum + (c.close || 0), 0) / 20;\nconst sma50 = candles.slice(-50).reduce((sum, c) => sum + (c.close || 0), 0) / 50;\n\nconst rsiStatus = technicalData.rsi < 30 ? \"oversold\" : (technicalData.rsi > 70 ? \"overbought\" : \"neutral\");\n\nconst avgTrueRange = 0.003;\nconst volatilityPercent = (avgTrueRange / technicalData.price * 100).toFixed(2);\n\n// ============================================\n// 2. DATOS FUNDAMENTALES\n// ============================================\n\nconst fd = {\n    symbol: marketData.best_pair || \"EURUSD\",\n    news_count: marketData.fundamental?.news_count || 0,\n    relevant_news: marketData.fundamental?.relevant_news || [],\n    calendar_events: marketData.fundamental?.calendar_events || []\n};\n\nlet usdNews = [];\nlet eurNews = [];\n\nfor (const news of fd.relevant_news) {\n    const currency = news.currency || \"\";\n    if (currency === \"USD\") usdNews.push(news);\n    else if (currency === \"EUR\") eurNews.push(news);\n}\n\nconst highImpactNews = fd.relevant_news.filter(n => n.relevance === \"high\");\nconst usdBearish = usdNews.filter(n => n.relevance === \"high\" && n.sentiment === \"bearish\").length;\nconst eurBullish = eurNews.filter(n => n.relevance === \"high\" && n.sentiment === \"bullish\").length;\nconst netBias = eurBullish - usdBearish;\n\nconst highImpactEventsList = fd.calendar_events.filter(e => e.impact === \"high\");\nconst newsRisk = highImpactEventsList.length > 0 ? \"medium\" : \"low\";\n\nconst upcomingEvents = highImpactEventsList.slice(0, 3).map(e => `${e.currency}:${e.event}`).join(', ');\n\n// ============================================\n// 3. DATOS DE SENTIMIENTO\n// ============================================\n\nconst positions = marketData.positions?.details || [];\nconst pendingOrders = marketData.pending_orders?.details || [];\n\nlet longVolume = 0, shortVolume = 0;\nfor (const p of positions) {\n    const v = Math.abs(p.volume || 0);\n    if (p.type === \"buy\" || p.type === \"long\") longVolume += v;\n    else if (p.type === \"sell\" || p.type === \"short\") shortVolume += v;\n}\n\nlet pendingLongVolume = 0, pendingShortVolume = 0;\nfor (const p of pendingOrders) {\n    const v = Math.abs(p.volume || 0);\n    if (p.type && p.type.includes(\"BUY\")) pendingLongVolume += v;\n    if (p.type && p.type.includes(\"SELL\")) pendingShortVolume += v;\n}\n\nconst totalLongVolume = longVolume + pendingLongVolume;\nconst totalShortVolume = shortVolume + pendingShortVolume;\nconst totalVolume = totalLongVolume + totalShortVolume;\nlet combinedRatio = 0;\nif (totalVolume > 0) {\n    combinedRatio = ((totalLongVolume - totalShortVolume) / totalVolume) * 100;\n}\n\nlet sentimentLevel = \"neutral\";\nif (combinedRatio > 60) sentimentLevel = \"extreme_bullish\";\nelse if (combinedRatio > 25) sentimentLevel = \"bullish\";\nelse if (combinedRatio < -60) sentimentLevel = \"extreme_bearish\";\nelse if (combinedRatio < -25) sentimentLevel = \"bearish\";\n\nlet contrarySignal = \"none\";\nif (sentimentLevel === \"extreme_bullish\") contrarySignal = \"sell\";\nelse if (sentimentLevel === \"extreme_bearish\") contrarySignal = \"buy\";\n\n// ============================================\n// 4. DATOS ESTADÍSTICOS\n// ============================================\n\nconst globalMetrics = context.memory?.global_metrics || {};\nconst agentPerformance = context.memory?.performance || {};\nconst preferences = context.memory?.preferences || {};\n\nconst totalTrades = globalMetrics.total_trades || 0;\nconst winRate = globalMetrics.winrate || 0;\nconst technicalWinrate = agentPerformance.technical?.winrate || 0;\nconst fundamentalWinrate = agentPerformance.fundamental?.winrate || 0;\nconst sentimentWinrate = agentPerformance.sentiment?.winrate || 0;\nconst statisticalWinrate = agentPerformance.statistical?.winrate || 0;\nconst riskTolerance = preferences.risk_tolerance || 0.02;\nconst accountBalance = marketData.risk?.account_balance || 100000;\nconst currentExposure = marketData.risk?.current_exposure || 0;\n\n// ============================================\n// PROMPT UNIFICADO\n// ============================================\n\nconst unifiedPrompt = `You are a senior trading AI with 20 years of experience. Perform a COMPLETE market analysis covering Technical, Fundamental, Sentiment, and Statistical perspectives.\n\n========================================\nTECHNICAL DATA\n========================================\nSymbol: ${technicalData.symbol}\nCurrent Price: ${technicalData.price}\nRSI (14): ${technicalData.rsi} (${rsiStatus})\nTrend: ${technicalData.trend} | Score: ${technicalData.score}/100\nSupport: ${technicalData.support} | Resistance: ${technicalData.resistance}\nPrice Position in 20-period Range: ${pricePosition20.toFixed(1)}%\nLast Candle: ${isBullishCandle ? \"BULLISH\" : (isBearishCandle ? \"BEARISH\" : \"NEUTRAL\")}\nCandle Body: ${candleBody.toFixed(5)} | Body %: ${bodyPercent.toFixed(1)}%\nVolume Change: ${volumeChange > 0 ? '+' : ''}${volumeChange.toFixed(1)}%\nSMA 20: ${sma20.toFixed(5)} | SMA 50: ${sma50.toFixed(5)}\nVolatility: ${volatilityPercent}%\nMomentum: Price vs SMA20: ${technicalData.price > sma20 ? \"above\" : \"below\"}\n\n========================================\nFUNDAMENTAL DATA\n========================================\nNews Articles: ${fd.news_count} (${highImpactNews.length} high impact)\nNet Sentiment Bias: ${netBias > 0 ? `BULLISH (+${netBias})` : (netBias < 0 ? `BEARISH (${netBias})` : \"NEUTRAL\")}\nUSD News: ${usdNews.length} (${usdBearish} bearish)\nEUR News: ${eurNews.length} (${eurBullish} bullish)\nUpcoming Events: ${upcomingEvents || \"none\"}\nNews Risk Level: ${newsRisk.toUpperCase()}\nHistorical Win Rate (Fundamental): ${fundamentalWinrate}%\n\n========================================\nSENTIMENT DATA\n========================================\nLong Volume: ${totalLongVolume.toFixed(2)} lots\nShort Volume: ${totalShortVolume.toFixed(2)} lots\nSentiment Score: ${combinedRatio.toFixed(1)}% (positive=bullish)\nSentiment Level: ${sentimentLevel.toUpperCase()}\nContrarian Signal: ${contrarySignal.toUpperCase()}\nHistorical Win Rate (Sentiment): ${sentimentWinrate}%\n\n========================================\nSTATISTICAL DATA\n========================================\nTotal Trades Analyzed: ${totalTrades}\nGlobal Win Rate: ${winRate}%\nAgent Winrates - Technical:${technicalWinrate}% Fundamental:${fundamentalWinrate}% Sentiment:${sentimentWinrate}% Statistical:${statisticalWinrate}%\nRisk Tolerance: ${(riskTolerance * 100).toFixed(0)}%\nAccount Balance: $${accountBalance}\nCurrent Exposure: ${currentExposure} lots\n\n========================================\nCRITICAL INSTRUCTIONS\n========================================\nThe CURRENT PRICE is ${technicalData.price}. \n- entry_zone MUST be within 0.2% of ${technicalData.price} (e.g., [${(technicalData.price * 0.998).toFixed(5)}, ${(technicalData.price * 1.002).toFixed(5)}])\n- stop_zone MUST be within 0.5% of ${technicalData.price}\n- take_profit_1 MUST be within 0.5% of ${technicalData.price}\n- take_profit_2 MUST be within 1.0% of ${technicalData.price}\n- DO NOT use values like 70, 80, 110, 120 - these are WRONG for forex\n\nExample for BUY at price ${technicalData.price}:\n  \"entry_zone\": [${(technicalData.price * 0.999).toFixed(5)}, ${(technicalData.price * 1.001).toFixed(5)}],\n  \"stop_zone\": [${(technicalData.price * 0.997).toFixed(5)}, ${(technicalData.price * 0.998).toFixed(5)}],\n  \"take_profit_1\": ${(technicalData.price * 1.003).toFixed(5)},\n  \"take_profit_2\": ${(technicalData.price * 1.005).toFixed(5)}`;\n\nconsole.log('========================================');\nconsole.log('🚀 AGENTE UNIFICADO - 4 EN 1');\nconsole.log('========================================');\nconsole.log(`📊 Symbol: ${technicalData.symbol} | Price: ${technicalData.price}`);\nconsole.log(`📈 RSI: ${technicalData.rsi} (${rsiStatus}) | Trend: ${technicalData.trend}`);\nconsole.log(`📰 News: ${fd.news_count} | Net Bias: ${netBias > 0 ? 'BULLISH' : 'BEARISH'}`);\nconsole.log(`💭 Sentiment: ${sentimentLevel} (${combinedRatio.toFixed(1)}%)`);\nconsole.log(`📉 Win Rate: ${winRate}% (${totalTrades} trades)`);\nconsole.log(`📏 Prompt length: ${unifiedPrompt.length} characters`);\nconsole.log('========================================');\n\nreturn [{\n    json: {\n        agent: \"unified\",\n        context: context,\n        prompt: unifiedPrompt,\n        status: \"ready\"\n    }\n}];"
      },
      "id": "5c1e2d23-e13c-4d2b-96da-8c99fd555cde",
      "name": "Agente Unificado",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.nbes.blog"
            },
            {
              "name": "X-OpenRouter-Title",
              "value": "n8n-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openrouter/free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 800\n}",
        "options": {
          "sendCredentialsOnCrossOriginRedirect": false
        }
      },
      "id": "79b5e78c-dc03-4c03-8644-fb7765e6a2d4",
      "name": "Model Unificado",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        224
      ],
      "typeVersion": 4.4,
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "httpBearerAuth": {
          "id": "Ec3QfCR3IT6sO42Z",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// ============================================\n// PARSE UNIFICADO - VERSIÓN SIMPLIFICADA\n// ============================================\n\nconsole.log(\"========================================\");\nconsole.log(\"📥 PARSE UNIFICADO - INICIANDO\");\nconsole.log(\"========================================\");\n\n// Obtener el contenido de la respuesta de OpenRouter\nlet content = \"\";\n\ntry {\n    // La respuesta puede venir en diferentes estructuras\n    if ($json.choices && $json.choices[0] && $json.choices[0].message) {\n        content = $json.choices[0].message.content;\n    } else if ($json.content) {\n        content = $json.content;\n    } else if (typeof $json === 'string') {\n        content = $json;\n    } else {\n        content = JSON.stringify($json);\n    }\n    \n    console.log(\"✅ Contenido obtenido, longitud:\", content.length);\n} catch (e) {\n    console.error(\"❌ Error obteniendo contenido:\", e.message);\n    content = \"\";\n}\n\n// Obtener datos de mercado del contexto\nlet contextData = {};\nlet currentPrice = 1.15305;\nlet trend = \"bullish\";\n\ntry {\n    // Intentar obtener el contexto del nodo anterior\n    const prevNode = $node[\"Agente Unificado\"];\n    if (prevNode && prevNode.json && prevNode.json.context) {\n        contextData = prevNode.json.context;\n        const marketData = contextData.market_data || {};\n        currentPrice = marketData.technical?.current_price || 1.15305;\n        trend = marketData.technical?.trend || \"bullish\";\n    }\n} catch (e) {\n    console.log(\"⚠️ No se pudo obtener contexto, usando valores por defecto\");\n}\n\nconsole.log(`💰 Precio actual: ${currentPrice}`);\nconsole.log(`📈 Tendencia: ${trend}`);\n\n// ============================================\n// EXTRAER DECISIÓN DEL TEXTO\n// ============================================\n\nlet decision = \"hold\";\nlet confidence = 50;\n\n// Buscar palabras clave de decisión\nconst textLower = content.toLowerCase();\n\nif (textLower.includes(\"**buy**\") || \n    textLower.includes(\"direction:** buy\") ||\n    (textLower.includes(\"buy\") && !textLower.includes(\"sell\") && textLower.includes(\"long\"))) {\n    decision = \"buy\";\n    confidence = 70;\n    console.log(\"✅ Decisión detectada: BUY\");\n} else if (textLower.includes(\"**sell**\") || \n           textLower.includes(\"direction:** sell\") ||\n           textLower.includes(\"short\")) {\n    decision = \"sell\";\n    confidence = 70;\n    console.log(\"✅ Decisión detectada: SELL\");\n} else if (textLower.includes(\"hold\") || textLower.includes(\"wait\")) {\n    decision = \"hold\";\n    confidence = 30;\n    console.log(\"⚠️ Decisión detectada: HOLD\");\n} else {\n    console.log(\"⚠️ No se detectó decisión clara, usando tendencia\");\n    if (trend === \"bullish\") {\n        decision = \"buy\";\n        confidence = 55;\n    } else if (trend === \"bearish\") {\n        decision = \"sell\";\n        confidence = 55;\n    }\n}\n\n// ============================================\n// EXTRAER NIVELES DE PRECIO\n// ============================================\n\n// Función para buscar números en el texto\nfunction extractNumber(text, pattern) {\n    const regex = new RegExp(pattern, 'i');\n    const match = text.match(regex);\n    if (match && match[1]) {\n        const num = parseFloat(match[1].replace(',', '.'));\n        return isNaN(num) ? null : num;\n    }\n    return null;\n}\n\n// Extraer entry zone\nlet entryLow = currentPrice * 0.999;\nlet entryHigh = currentPrice * 1.001;\n\nconst entryPatterns = [\n    /entry zone[:\\s]*[*]*\\[([0-9.]+),\\s*([0-9.]+)\\]/i,\n    /entry[:\\s]*\\[([0-9.]+)[,\\s]+([0-9.]+)\\]/i,\n    /between\\s+([0-9.]+)\\s+and\\s+([0-9.]+)/i,\n    /([0-9]+\\.[0-9]+)\\s*-\\s*([0-9]+\\.[0-9]+)/i\n];\n\nfor (const pattern of entryPatterns) {\n    const match = content.match(pattern);\n    if (match && match[1] && match[2]) {\n        const val1 = parseFloat(match[1]);\n        const val2 = parseFloat(match[2]);\n        if (val1 > 0.9 && val1 < 1.3 && val2 > 0.9 && val2 < 1.3) {\n            entryLow = val1;\n            entryHigh = val2;\n            console.log(`📊 Entry zone encontrada: ${entryLow} - ${entryHigh}`);\n            break;\n        }\n    }\n}\n\n// Extraer stop loss\nlet stopLow = currentPrice * 0.997;\nlet stopHigh = currentPrice * 1.003;\n\nconst stopPatterns = [\n    /stop[-\\s]*loss[:\\s]*[*]*\\[([0-9.]+),\\s*([0-9.]+)\\]/i,\n    /stop[:\\s]*\\[([0-9.]+)[,\\s]+([0-9.]+)\\]/i,\n    /stop[-]loss[:\\s]*([0-9.]+)/i\n];\n\nfor (const pattern of stopPatterns) {\n    const match = content.match(pattern);\n    if (match) {\n        if (match[1] && match[2]) {\n            const val1 = parseFloat(match[1]);\n            const val2 = parseFloat(match[2]);\n            if (val1 > 0.9 && val1 < 1.3 && val2 > 0.9 && val2 < 1.3) {\n                stopLow = val1;\n                stopHigh = val2;\n                console.log(`📊 Stop loss encontrado: ${stopLow} - ${stopHigh}`);\n                break;\n            }\n        } else if (match[1]) {\n            const val = parseFloat(match[1]);\n            if (val > 0.9 && val < 1.3) {\n                if (decision === \"buy\") {\n                    stopLow = val;\n                    stopHigh = val + 0.001;\n                } else {\n                    stopLow = val - 0.001;\n                    stopHigh = val;\n                }\n                console.log(`📊 Stop loss encontrado: ${stopLow} - ${stopHigh}`);\n                break;\n            }\n        }\n    }\n}\n\n// Extraer take profits\nlet tp1 = decision === \"buy\" ? currentPrice * 1.003 : currentPrice * 0.997;\nlet tp2 = decision === \"buy\" ? currentPrice * 1.005 : currentPrice * 0.995;\n\nconst tp1Patterns = [\n    /take[-\\s]*profit[-\\s]*1[:\\s]*[*]*([0-9.]+)/i,\n    /tp1[:\\s]*([0-9.]+)/i,\n    /profit\\s+1[:\\s]*([0-9.]+)/i\n];\n\nfor (const pattern of tp1Patterns) {\n    const match = content.match(pattern);\n    if (match && match[1]) {\n        const val = parseFloat(match[1]);\n        if (val > 0.9 && val < 1.3) {\n            tp1 = val;\n            console.log(`📊 TP1 encontrado: ${tp1}`);\n            break;\n        }\n    }\n}\n\nconst tp2Patterns = [\n    /take[-\\s]*profit[-\\s]*2[:\\s]*[*]*([0-9.]+)/i,\n    /tp2[:\\s]*([0-9.]+)/i,\n    /profit\\s+2[:\\s]*([0-9.]+)/i\n];\n\nfor (const pattern of tp2Patterns) {\n    const match = content.match(pattern);\n    if (match && match[1]) {\n        const val = parseFloat(match[1]);\n        if (val > 0.9 && val < 1.3) {\n            tp2 = val;\n            console.log(`📊 TP2 encontrado: ${tp2}`);\n            break;\n        }\n    }\n}\n\n// Extraer volumen\nlet volume = 0.04;\nconst volumeMatch = content.match(/(\\d+\\.?\\d*)\\s*(?:standard\\s*)?lots?/i);\nif (volumeMatch) {\n    const vol = parseFloat(volumeMatch[1]);\n    if (vol > 0 && vol <= 1) {\n        volume = Math.min(0.05, Math.max(0.01, vol));\n        console.log(`📊 Volumen encontrado: ${volume} lots`);\n    }\n}\n\n// Redondear todos los valores\nentryLow = Math.round(entryLow * 100000) / 100000;\nentryHigh = Math.round(entryHigh * 100000) / 100000;\nstopLow = Math.round(stopLow * 100000) / 100000;\nstopHigh = Math.round(stopHigh * 100000) / 100000;\ntp1 = Math.round(tp1 * 100000) / 100000;\ntp2 = Math.round(tp2 * 100000) / 100000;\n\nconsole.log(\"========================================\");\nconsole.log(\"📊 DATOS FINALES EXTRACCIÓN:\");\nconsole.log(`   Decisión: ${decision.toUpperCase()}`);\nconsole.log(`   Confianza: ${confidence}%`);\nconsole.log(`   Entry: ${entryLow} - ${entryHigh}`);\nconsole.log(`   Stop: ${stopLow} - ${stopHigh}`);\nconsole.log(`   TP1: ${tp1}`);\nconsole.log(`   TP2: ${tp2}`);\nconsole.log(`   Volumen: ${volume}`);\nconsole.log(\"========================================\");\n\n// ============================================\n// CONSTRUIR RESULTADO\n// ============================================\n\nconst resultState = {\n    tecnico: {\n        señal: decision,\n        confianza: confidence,\n        analisis: decision === \"buy\" ? \"Bullish technical setup with contrarian sentiment signal\" : \"Market analysis complete\",\n        estructura: decision === \"buy\" ? \"bullish\" : (decision === \"sell\" ? \"bearish\" : \"range\"),\n        momento: \"moderate\",\n        volatilidad: \"normal\",\n        entry_zona: [entryLow, entryHigh],\n        stop_zona: [stopLow, stopHigh],\n        take_profit_1: tp1,\n        take_profit_2: tp2,\n        risk_reward_ratio: Math.abs((tp1 - entryLow) / (entryLow - stopLow)).toFixed(2),\n        volumen_signal: \"neutral\",\n        vela_signal: decision === \"buy\" ? \"bullish\" : \"neutral\"\n    },\n    fundamental: {\n        recomendacion: decision === \"buy\" ? \"act\" : (decision === \"sell\" ? \"act\" : \"wait\"),\n        confianza: confidence - 10,\n        analisis: \"Quiet fundamental backdrop with slight EUR bias\",\n        direccion_impacto: decision === \"buy\" ? \"bullish\" : (decision === \"sell\" ? \"bearish\" : \"neutral\"),\n        riesgo_noticioso: \"low\",\n        sentimiento: decision === \"buy\" ? 20 : (decision === \"sell\" ? -20 : 0),\n        central_bias: \"neutral\",\n        volatilidad_esperada: \"medium\",\n        eventos_clave: []\n    },\n    sentimiento: {\n        sentimiento: decision === \"buy\" ? \"bullish\" : (decision === \"sell\" ? \"bearish\" : \"neutral\"),\n        confianza: confidence - 5,\n        analisis: \"Extreme bearish positioning triggers contrarian signal\",\n        señal_contraria: decision === \"buy\" ? \"buy\" : \"none\",\n        puntuacion: -100,\n        market_mood: \"fearful\",\n        divergencia: \"none\",\n        extremo: true\n    },\n    estadistico: {\n        volatilidad_estado: \"normal\",\n        ajuste_volumen: 1.0,\n        probabilidad_continuacion: 65,\n        confianza: confidence - 15,\n        analisis: \"Statistical confidence in short-term direction\",\n        riesgo_score: 40,\n        sharpe_estimado: 0.8\n    }\n};\n\n// Asegurar que el resultado se devuelva correctamente\nconst output = [{\n    json: {\n        original: contextData,\n        state: resultState,\n        _extracted: {\n            decision: decision,\n            confidence: confidence,\n            entry: [entryLow, entryHigh],\n            stop: [stopLow, stopHigh],\n            tp1: tp1,\n            tp2: tp2,\n            volume: volume\n        }\n    }\n}];\n\nconsole.log(\"✅ PARSE UNIFICADO COMPLETADO\");\nconsole.log(`🎯 OUTPUT FINAL: ${decision.toUpperCase()} con ${confidence}% confianza`);\n\nreturn output;"
      },
      "id": "1c66853e-9be6-4ac4-81bd-382c57365f1d",
      "name": "Parse Unificado",
      "type": "n8n-nodes-base.function",
      "position": [
        1248,
        224
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Estratega": {
      "main": [
        []
      ]
    },
    "Agente Unificado": {
      "main": [
        [
          {
            "node": "Model Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Unificado": {
      "main": [
        [
          {
            "node": "Parse Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Unificado": {
      "main": [
        [
          {
            "node": "Agente Estratega",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "515fdd51c531b5de47935866fd08e3e0aa440d6aebc162f95b77585a19af3727"
  }
}
